body {
    background-color: #f1f1f1;
}
.main {
    background-color: #fff;
}
.banner img{
    width:100%;
}
.list ul a {
    display: block;
    overflow: hidden;
    padding: 2vw 3vw;
    border-bottom: 1px solid #f1f1f1;
    position:relative;
}
.list ul a img{
    width: 24vw;
    height: 16vw;
    float: left;
    margin-right: 2vw;
}
.list ul a p{
    font-size: 0.38rem;
    color: #333;
    margin-bottom: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list ul a span{
    font-size: 0.32rem;
    color: #999;
}
.list ul a span:nth-child(3){
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    width: 50%;
    position: absolute;
    bottom: 2vw;
}
.list ul a span:nth-child(4){
    position: absolute;
    right: 3vw;
    bottom: 2vw;
}

/*suspension button*/
.manager.after {
    position: absolute;
    bottom:68px;
    right:10px;
    content: '';
    width: 1.33rem;
    height: 1.33rem;
    background: url("/home/images/common/note_.png") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    -webkit-animation: cir2 0.5s ease-in;
    animation: cir2 0.5s ease-in;
    z-index: 99;
}

/*nomessage*/
.default{
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}
.default img{
    width: 18vw;
    position:absolute;
    top:30%;
    left:50%;
    margin-top:-1.2rem;
    border-radius: 5px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
}