.banner img{
    width:100%;
}
.list ul a {
    display: block;
    overflow: hidden;
    padding: 2vw 3vw;
    border-bottom: 1px solid #f1f1f1;
}
.list ul a img{
    width:2.4rem;
    height:1.6rem;
    float: left;
    margin-right: 2vw;
}
.list ul a p{
    font-size: 0.38rem;
    color: #333;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list ul a span{
    font-size: 0.32rem;
    color: #999;
}
.list ul a span:nth-child(3){
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    width: 50%;
}
.list ul a span:nth-child(4){
    float: right;
}

/*suspension button*/
.manager.after {
    position: absolute;
    bottom:68px;
    right:10px;
    content: '';
    width: 1.33rem;
    height: 1.33rem;
    background: url("/home/images/common/note_.png") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    -webkit-animation: cir2 0.5s ease-in;
    animation: cir2 0.5s ease-in;
    z-index: 99;
}