.list ul a{
    display: block;
    border-bottom: 1px solid #f1f1f1;
    padding: 0.26rem 0.4rem;

}
.list ul a p{
    font-size: 0.38rem;
    color: #333;
    margin-bottom: 6vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list ul a span{
    font-size: 0.32rem;
    color: #999;
}
.list ul a span:nth-child(2){
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    width:70%;
}
.list ul a span:nth-child(3){
    float: right;
}


/*suspension button*/
.manager.after {
    position: absolute;
    bottom:68px;
    right:10px;
    content: '';
    width: 1.33rem;
    height: 1.33rem;
    background: url("/home/images/common/note_.png") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    -webkit-animation: cir2 0.5s ease-in;
    animation: cir2 0.5s ease-in;
    z-index: 99;
}

/*nomessage*/
.default{
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}
.default img{
    width: 18vw;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-1.2rem;
    border-radius: 5px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
}