{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/list/title-pos-time.css">
<title>三会一课</title>
<style>
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{
        border-bottom: 0.08rem solid #e51c23;
        display: inline-block;
        height: 1rem;
        line-height: 1rem;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
        color: #e51c23;
    }
    .banner {
        width: 100vw;
        height: 50vw;
    }
    .banner .banner-img {
        width: 100%;
        height: 100%;
    }
    #refreshContainer{
        top:calc(50vw + 1.2rem);
    }
    /*tab切换*/
    .nav {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        overflow: hidden;
    }
    .nav .arr {
        z-index: 9;
        position: absolute;
        bottom: 0;
        width: 7.4vw;
        height: 1rem;
    }
    .nav .arr.left {
        left: -8vw;
    }
    .nav .arr.right {
        right: 0;
    }
    #tab {
        z-index: 8;
        position: relative;
        width: 155vw;
        height: 1rem;
        background: rgba(246, 246, 246, 0.99);
    }
    #tab a {
        float:left;
        display: inline-block;
        height: 1rem;
        padding: 0 6.6vw;
        border-right: 1px solid #e5e5e5;
        color: #666666;
        font-size: 0.38rem;
        line-height: 1rem;
        text-align: center;
        width:auto;
    }
    .scrollDiy{
        position: absolute;
        top:0;
        bottom:0;
        overflow-y: scroll;
        /* 增加该属性，可以增加弹性 */
        -webkit-overflow-scrolling: touch;
        width:100%;
    }
    .default img{
        top:30%;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="banner">
        <img src="/home/images/learn/learn.png" alt="固定banner" class="banner-img">
    </div>
    <div class="nav">
        <img src="/home/images/learn/toleft.png" alt="toleft" class="left arr">
        <img src="/home/images/learn/toright.png" alt="toright" class="right arr">
        <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted tabs">
            <a class="mui-control-item active" href="#item1mobile" data-tab="0">
                <span>全部</span>
            </a>
            <a class="mui-control-item" href="#item2mobile" data-tab="1">
                <span>支部党员大会</span>
            </a>
            <a class="mui-control-item" href="#item3mobile" data-tab="2">
                <span>党支部委员会</span>
            </a>
            <a class="mui-control-item" href="#item4mobile" data-tab="3">
                <span>党小组会</span>
            </a>
            <a class="mui-control-item" href="#item5mobile" data-tab="4">
                <span>党课</span>
            </a>
        </div>
    </div>
    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="mui-slider-group">
                <div id="item1mobile" class="mui-slider-item mui-control-content">
                    <!--全部-->
                    <div class="list all">
                        {empty name="$list.all"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.all" id="vo"}
                            {eq name="vo.templet" value="1"}
                            <a href="{:Url('Learn/detail?id='.$vo['id'])}">
                                {else/}
                                <a href="{:Url('Learn/detail2?id='.$vo['id'])}">
                                    {/eq}
                                    <p>{$vo.title}</p>
                                    <span>{$vo.publisher}</span>
                                    <span>{$vo.create_time|time_format="Y-m-d"}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
                <div id="item2mobile" class="mui-slider-item mui-control-content">
                    <!--支部委员大会-->
                    <div class="list list1">
                        {empty name="$list.one"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.one" id="vo1"}
                            {eq name="vo1.templet" value="1"}
                            <a href="{:Url('Learn/detail?id='.$vo1['id'])}">
                                {else/}
                                <a href="{:Url('Learn/detail2?id='.$vo1['id'])}">
                                    {/eq}
                                    <p>{$vo1.title}</p>
                                    <span>{$vo1.publisher}</span>
                                    <span>{$vo1.create_time|time_format="Y-m-d"}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
                <div id="item3mobile" class="mui-slider-item mui-control-content">
                    <!--党支部委员会-->
                    <div class="list list2">
                        {empty name="$list.two"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.two" id="vo2"}
                            {eq name="vo2.templet" value="1"}
                            <a href="{:Url('Learn/detail?id='.$vo2['id'])}">
                                {else/}
                                <a href="{:Url('Learn/detail2?id='.$vo2['id'])}">
                                    {/eq}
                                    <p>{$vo2.title}</p>
                                    <span>{$vo2.publisher}</span>
                                    <span>{$vo2.create_time|time_format="Y-m-d"}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
                <div id="item4mobile" class="mui-slider-item mui-control-content">
                    <!--党小组会-->
                    <div class="list list3">
                        {empty name="$list.three"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.three" id="vo3"}
                            {eq name="vo3.templet" value="1"}
                            <a href="{:Url('Learn/detail?id='.$vo3['id'])}">
                                {else/}
                                <a href="{:Url('Learn/detail2?id='.$vo3['id'])}">
                                    {/eq}
                                    <p>{$vo3.title}</p>
                                    <span>{$vo3.publisher}</span>
                                    <span>{$vo3.create_time|time_format="Y-m-d"}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
                <div id="item5mobile" class="mui-slider-item mui-control-content">
                    <!--党课-->
                    <div class="list list4">
                        {empty name="$list.four"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.four" id="vo4"}
                            {eq name="vo4.templet" value="1"}
                            <a href="{:Url('Learn/detail?id='.$vo4['id'])}">
                                {else/}
                                <a href="{:Url('Learn/detail2?id='.$vo4['id'])}">
                                    {/eq}
                                    <p>{$vo4.title}</p>
                                    <span>{$vo4.publisher}</span>
                                    <span>{$vo4.create_time|time_format="Y-m-d"}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[悬浮按钮]-->
    {eq name="pub" value="10"}
    <span href="{:Url('learn/publish?type=2&style=2')}" class="after manager" id="publish"></span>
    {/eq}
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c=0;
    $(function(){
        $("title").text("三会一课");

        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }
        flag = IsPC();
        if(flag){
            $("body,html").css("backgroundColor","#f1f1f1");
            $(".default img").css("width","60px");
            $(".main").css({"width":"640px","left":"50%","margin-left":"-320px","position":"relative","min-height":"90vh","margin-top":"5vh"});
            $("#refreshContainer").css("top","calc(230px + 1rem)");
            $(".list ul a img").css({"width":"90px","height":"60px","margin-right":"10px"});
            $(".banner").css({"width":"640px","height":"230px"});
            $(".banner img").css({"width":"640px","height":"230px","margin":"0 auto"});
            $("#tab a").css({"padding":"0 30px"});
            $("#tab").css("width","940px");
            $(".nav .arr").css("width","60px");
            $(".nav").css({"width":"640px","left":"50%","margin-left":"-320px"});
            $(".list ul a").css({"padding":"10px 15px","height":"120px"});
            $(".list ul a p").css({"font-size":"16px","margin-bottom":"0.5rem"});
            $(".list ul a span").css({"font-size":"14px"});
            $(".list ul a span:nth-child(3)").css("bottom","10px");
            $(".list ul a span:nth-child(4)").css({"bottom":"10px","right":"15px"});
//            $(".manager.after").css({"left":"50%","margin-left":"320px"});
        }

        //tab初始化和数据存储
        var co = getCookie("type");
        if(co == 0 || co == 1 || co == 2 || co == 3 || co == 4){
            c = co;
        }else{
            c = 0;
        }
        if(c==4 || c==3){
            var tabs = $(".tabs");
            if(flag){
                var ww = 640;
            }else{
                var ww = $('body').width();
            }
            var tw = $('.tabs' ).width() - ww;
            tabs.animate({left:-tw+'px'}, 300);
            $('.right').animate({right: -0.8*ww + 'px'}, 300);
            $('.left').animate({left: 0}, 300);
        }
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    });
    window.onload = function() {
        if(flag){
            $(".mui-pull .mui-pull-caption").css("font-size","15px");
        }
        moveanyway("publish");
        tabmove();
        if(c==0){
            if ($(".all ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".list1 ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==2){
            if ($(".list2 ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==3){
            if ($(".list3 ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==4){
            if ($(".list4 ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

//    $("#refreshContainer").scroll(function(){
//        console.log($('#tab').offset().top)
//        if($('#tab').offset().top<=1){
////         $(".nav").css({"position":"fixed","top":"0","z-index":"999"})
//        }
//    })
    //上拉加载更多
    function loadScroll(){
        var clas = parseInt(c);
       switch (c){
           case "0":
               var len = $(".all ul a").length;
               break;
           case "1":
               var len = $(".list1 ul a").length;
               break;
           case "2":
               var len = $(".list2 ul a").length;
               break;
           case "3":
               var len = $(".list3 ul a").length;
               break;
           case "4":
               var len = $(".list4 ul a").length;
               break;
       }
        $.ajax({
            type:"post",
            url: "{:Url('Learn/listmore')}",
            data:{
                length:len,
                type:2,
                class:clas
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data,c);
                    var dataLen =data.data.length;
                    if(data.data.length == 8){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    //加载更多列表
    function addLists(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(list.templet==1){
                if (flag) {
                    html += '<a href="/home/Learn/detail/id/'+list.id+'.html" style="padding: 10px 15px">'
                }else {
                    html += '<a href="/home/Learn/detail/id/'+list.id+'.html">'
                }
            }else{
                if (flag) {
                    html += '<a href="/home/Learn/detail2/id/'+list.id+'.html" style="padding: 10px 15px">'
                }else {
                    html += '<a href="/home/Learn/detail2/id/'+list.id+'.html">'
                }
            }
            if (flag) {
                html +=
                        '<p style="font-size: 16px;margin-bottom: .5rem">'+list.title+'</p>'+
                        '<span style="font-size: 14px">'+list.publisher+'</span>'+
                        '<span style="font-size: 14px">'+list.time+'</span>'+
                        '</a>'
            }else {
                html +=
                        '<p>'+list.title+'</p>'+
                        '<span>'+list.publisher+'</span>'+
                        '<span>'+list.time+'</span>'+
                        '</a>'
            }

        }
       switch (type){
           case "0":
               $(".all ul").append(html);
               break;
           case "1":
               $(".list1 ul").append(html);
               break;
           case "2":
               $(".list2 ul").append(html);
               break;
           case "3":
               $(".list3 ul").append(html);
               break;
           case "4":
               $(".list4 ul").append(html);
               break;
       }
    }

    //触发点击事件
    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href")+"?"+2;
        window.location.href = url;
    });

    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });

    mui('body').on('tap', '#publish', function(e) {
        var url = this.getAttribute("href")+"?"+c;
        window.location.href = url;
    });

    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        c = this.getAttribute("data-tab");
       if(c==0){
           if ($(".all ul a").length < 8) {
               mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
           } else {
               mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
           }
       }else if(c==1){
           if ($(".list1 ul a").length < 8) {
               mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
           } else {
               mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
           }
       }else if(c==2){
           if ($(".list2 ul a").length < 8) {
               mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
           } else {
               mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
           }
       }else if(c==3){
           if ($(".list3 ul a").length < 8) {
               mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
           } else {
               mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
           }
       }else if(c==4){
           if ($(".list4 ul a").length < 8) {
               mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
           } else {
               mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
           }
       }
        setCookie("type",c);
    });


    function tabmove(){
        var tabs = $(".tabs");
        var lastX;
        var start; //按下的点
        var oW;
        //移动端滑动
        tabs[0].addEventListener('touchstart', function(e){
            lastX = e.changedTouches[0].pageX;
            var touches = event.touches[0];
            start = {
                x: touches.pageX,
                y: touches.pageY
            };
            oW = touches.clientX - tabs[0].offsetLeft;
            //阻止页面的滑动默认事件
//			document.addEventListener("touchmove",defaultEvent,false);
        });
        //阻止纵向滚动
        tabs[0].addEventListener('touchmove',function(e){
            var touches = event.touches[0];
            var delta = {
                x: touches.pageX - start.x,
                y: touches.pageY - start.y
            };
            if (Math.abs(delta.x) > Math.abs(delta.y)) {
                event.preventDefault();
            }
        });
        tabs[0].addEventListener('touchend', function(e){
            var diffX = e.changedTouches[0].pageX - lastX;
            var ww = $('body').width();
            if (diffX < -10) {
                var tw = $('.tabs' ).width() - ww;
                tabs.animate({left:-tw+'px'}, 300);
                $('.right').animate({right: -0.8*ww + 'px'}, 300);
                $('.left').animate({left: 0}, 300);
            } else if (diffX > 10) {
                // 右滑
                tabs.animate({left: 0}, 300);
                $('.right').animate({right: 0}, 300);
                $('.left').animate({left: -0.8*ww + 'px'}, 300);
            }

        });
        mui('.nav').on('tap', '.right', function(e) {
            if(flag){
                var ww = 640;
            }else{
                var ww = $('body').width();
            }
            var tw = $('.tabs' ).width() - ww;
            tabs.animate({left:-tw+'px'}, 300);
            $('.right').animate({right: -0.8*ww + 'px'}, 300);
            $('.left').animate({left: 0}, 300);
        });
        mui('.nav').on('tap', '.left', function(e) {
            if(flag){
                var ww = 640;
            }else{
                var ww = $('body').width();
            }
            tabs.animate({left: 0}, 300);
            $('.right').animate({right: 0}, 300);
            $('.left').animate({left: -0.8*ww + 'px'}, 300);
        });
//        function defaultEvent(e) {
//            e.preventDefault();
//        }
    }
</script>
{/block}