{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/list/title-pos-time.css">
<title>年度计划</title>
<style>
    .banner{
        height:50vw;
    }
    .banner img{
        position: relative;
        z-index: 99;
        width: 100%;
        height:100%;
    }
    #tab{
        height:1.2rem;
        position: absolute;
        top:50vw;
        z-index: 99;
    }
    #tab a{
        font-size: 0.4rem;
        line-height: 1.2rem;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{
        border-bottom: 0.08rem solid #e51c23;
        display: inline-block;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
        color: #e51c23;
    }
    #refreshContainer{
        top:calc(50vw + 1.2rem);
    }
</style>

{/block}

{block name="body"}
<div class="banner">
    <img src="/home/images/structure/vr.jpg">
</div>
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
       <span>培训计划</span>
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
       <span> 理论研究</span>
    </a>
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">

        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <!--培训计划-->
                <div class="list training">
                    <ul>
                        <a href="">
                            <p>培训计划</p>
                            <span>之图党支部</span>
                            <span>2017-8-21</span>
                        </a>
                    </ul>
                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <!--理论研究-->
                <div class="list theory">
                    <ul>
                        <a href="">
                            <p>理论研究</p>
                            <span>之图党支部</span>
                            <span>2017-8-21</span>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[悬浮按钮]-->
<a href="{:Url('learn/publish?type=2')}" class="after manager" id="publish"></a>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c = 0;
    $(function(){
        //tab初始化和数据存储
        var co = getCookie("type");
        if(co == 0 || co == 1){
            c = co;
        }else{
            c =  0;
        }
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    })
    window.onload = function() {
        moveanyway("publish");
        if(c==0){
            if ($(".training ul a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".theory ul a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        if(c==0){
            var len = $(".training ul a").length .length;
        }else if(c==1){
            var len = $(".theory ul a").length .length;
        }
        $.ajax({
            type:"post",
            url: "{:Url('News/listmore')}",
            data:{

                length:len,
                type:c
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data,c);
                    var dataLen =data.data.length;
                    if(data.data.length == 5){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                    '<a>'+
                    '<p>主题党日</p>'+
                    '<span>之图党支部</span>'+
                    '<span>2017-8-21</span>'+
                    '</a>'
        }
        if(type==0){
            $('.training ul').append(html);
        }else if(type==1){
            $('.theory ul').append(html);
        }
    }

    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        c = this.getAttribute("data-index");
        mui('#refreshContainer').pullRefresh().refresh(true);
        if(c==0){
            if($(".training ul a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".theory ul a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
        setCookie('type',c);
    });

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    });
</script>
{/block}