{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/list/title-pos-time.css">
<title>年度计划</title>
<style>
    .banner{
        height:50vw;
    }
    .banner img{
        position: relative;
        z-index: 99;
        width: 100%;
        height:100%;
    }
    #tab{
        height:1.2rem;
        position: absolute;
        top:50vw;
        z-index: 99;
    }
    #tab a{
        font-size: 0.4rem;
        line-height: 1.2rem;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{
        border-bottom: 0.08rem solid #e51c23;
        display: inline-block;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
        color: #e51c23;
    }
    #refreshContainer{
        top:calc(50vw + 1.2rem);
    }
    .default img{
        top:30%;
    }
</style>

{/block}

{block name="body"}
<div class="mian">
    <div class="banner">
        <img src="/home/images/learn/plan.png">
    </div>
    <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
        <a class="mui-control-item" href="#item1mobile" data-index="0">
            <span>培训计划</span>
        </a>
        <a class="mui-control-item" href="#item2mobile" data-index="1">
            <span> 理论研究</span>
        </a>
    </div>
    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">

            <div class="mui-slider-group">
                <div id="item1mobile" class="mui-slider-item mui-control-content">
                    <!--培训计划-->
                    <div class="list training">
                        {empty name="$list.one"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.one" id="vo1"}
                            {eq name="vo1.templet" value="1"}
                            <a href="{:Url('Learn/detail?id='.$vo1['id'])}">
                                {else/}
                                <a href="{:Url('Learn/detail2?id='.$vo1['id'])}">
                                    {/eq}
                                    <p>{$vo1.title}</p>
                                    <span>{$vo1.publisher}</span>
                                    <span>{$vo1.create_time|time_format='Y-m-d'}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
                <div id="item2mobile" class="mui-slider-item mui-control-content">
                    <!--理论研究-->
                    <div class="list theory">
                        {empty name="$list.two"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.two" id="vo2"}
                            {eq name="vo2.templet" value="1"}
                            <a href="{:Url('Learn/detail?id='.$vo2['id'])}">
                                {else/}
                                <a href="{:Url('Learn/detail2?id='.$vo2['id'])}">
                                    {/eq}
                                    <p>{$vo2.title}</p>
                                    <span>{$vo2.publisher}</span>
                                    <span>{$vo2.create_time|time_format='Y-m-d'}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[悬浮按钮]-->
    {eq name="pub" value="1"}
    <span href="{:Url('Learn/publish?type=3&style=3')}" class="after manager" id="publish"></span>
    {/eq}
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c = 0;
    $(function(){

        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $("body,html").css("backgroundColor","#f1f1f1");
            $(".mian").css({"width":"640px","min-height":"90vh","left":"50%","margin-left":"-320px","margin-top":"5vh","position":"relative"})
            $("#tab a").css("font-size","18px");
            $(".banner img").css({"width":"640px","height":"320px","margin":"0 auto"});
            $("#tab").css({"margin-top":"320px","width":"640px","position":"static","top":"0","margin":"0 auto"});
            $("#refreshContainer").css({"top":"380px","width":"640px","left":"50%","margin-left":"-320px"});
            $(".list ul a").css({"padding":"10px 15px","height":"120px"});
            $(".list ul a img").css({"width":"90px","height":"60px"});
            $(".list ul a p").css({"font-size":"16px","margin-bottom":"0.5rem"});
            $(".list ul a span").css("font-size","14px");
            $(".list ul a span:nth-child(3)").css("bottom","10px");
            $(".list ul a span:nth-child(4)").css("bottom","10px");
            $(".default img").css("width","60px");
        }
        $("title").text("年度计划");
        //tab初始化和数据存储
        var co = getCookie("type");
        if(co == 0 || co == 1){
            c = co;
        }else{
            c =  0;
        }
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    });
    window.onload = function() {
        if(flag){
            $(".mui-pull .mui-pull-caption").css("font-size","15px");
        }
        moveanyway("publish");
        if(c==0){
            if ($(".training ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".theory ul a").length <8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var cals = parseInt(c) + 5;
        if(c==0){
            var len = $(".training ul a").length;
        }else if(c==1){
            var len = $(".theory ul a").length;
        }
        $.ajax({
            type:"post",
            url: "{:Url('Learn/listmore')}",
            data:{

                length:len,
                type:3,
                class:cals
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data,c);
                    var dataLen =data.data.length;
                    if(data.data.length == 8){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(flag) {
                if (list.templet == 1) {
                    if(flag){
                        html += '<a href="/home/Learn/detail/id/' + list.id + '.html" style="padding: 10px 15px">'
                    }else {
                        html += '<a href="/home/Learn/detail/id/' + list.id + '.html">'
                    }
                } else {
                    if(flag){
                        html += '<a href="/home/Learn/detail2/id/' + list.id + '.html" style="padding: 10px 15px">'
                    }else {
                        html += '<a href="/home/Learn/detail2/id/' + list.id + '.html">'
                    }
                }
                html +=
                        '<p style="margin-bottom: 0.5rem;font-size: 16px">' + list.title + '</p>' +
                        '<span style="font-size: 14px">' + list.publisher + '</span>' +
                        '<span style="font-size: 14px">' + list.time + '</span>' +
                        '</a>'
            }else{
                if (list.templet == 1) {
                    html += '<a href="/home/Learn/detail/id/' + list.id + '.html">'
                } else {
                    html += '<a href="/home/Learn/detail2/id/' + list.id + '.html">'
                }
                html +=
                        '<p>' + list.title + '</p>' +
                        '<span>' + list.publisher + '</span>' +
                        '<span>' + list.time + '</span>' +
                        '</a>'
            }
        }
        if(type==0){
            $('.training ul').append(html);
        }else if(type==1){
            $('.theory ul').append(html);
        }
    }

    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        c = this.getAttribute("data-index");
        mui('#refreshContainer').pullRefresh().refresh(true);
        if(c==0){
            if($(".training ul a").length<8){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".theory ul a").length<8){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
        setCookie('type',c);
    });

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href")+"?"+3;
        window.location.href = url;
    });

    mui('body').on('tap', '#publish', function(e) {
        var url = this.getAttribute("href")+"?"+c;
        window.location.href = url;
    });

    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });
</script>
{/block}