{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/publish.css">
<style>
    #popover,#popover .mui-table-view{
        height:40vw;
    }
</style>
{/block}

{block name="body"}
<div class="list">
    <ul>
        <li>
            模块
            <a id="openPopover" href="#popover">支部委员会</a>
            <span class="triangle-down"></span>
        </li>
        <li class="type2">
            模板
            <a id="openPopover2" href="#popover2">请选择模板</a>
            <span class="triangle-down"></span>
        </li>
        <li>
            标题
            <input type="text" placeholder="请输入标题">
        </li>
        <li class="type1">
            时间
            <input type="date" placeholder="请选择时间" onfocus="this.removeAttribute('placeholder')">
        </li>
        <li class="type1">
            地点
            <input type="text" placeholder="请输入地点">
        </li>
        <li class="type1">
            参会人数
            <input type="text" placeholder="请输入参会人数">
        </li>
        <li class="type1">
            主持人
            <input type="text" placeholder="请输入主持人">
        </li>
        <div class="content">
            <textarea placeholder="请输入内容，不少于500字..."></textarea>
            <div class="imgs clear">
                <div class="img fl hide"></div>
                <div class="img fl hide"></div>
                <div class="img fl hide"></div>
                <div class="img fl hide"></div>
                <div class="add fl">
                    +
                </div>
            </div>
            <input type="file" class="hide" id="upimg" accept="image/jpg, image/png, image/gif, image/jpeg">
        </div>
    </ul>
</div>
<div class="save">保存</div>
<div class="goreview">去审核</div>
<p>注：点击保存将保存至个人中心-我的草稿；点击去审核，审核通过后将在相应栏目发布，并保存至我的发布。</p>

<div id="popover" class="mui-popover" >
    <ul class="mui-table-view">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <li class="mui-table-view-cell"><a>支部委员会</a></li>
                <li class="mui-table-view-cell"><a>党支部委员会</a></li>
                <li class="mui-table-view-cell"><a>党小组会</a></li>
                <li class="mui-table-view-cell"><a>党课</a></li>
            </div>
        </div>
    </ul>
</div>

<div id="popover2" class="mui-popover" >
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a>新闻列表1</a></li>
        <li class="mui-table-view-cell"><a>新闻列表2</a></li>
    </ul>
</div>
{/block}

{block name="script"}
<script>
    var type =  parseInt(window.location.href.split("publish/type/")[1]);
    $(function(){
        //判断type值，对页面进行对应处理
        switch (type){
            case 1:
                $(".type2").hide();
                break;
            case 2:
                $(".type1").hide();
                break;
            case 3:
                $(".type1").hide();
                break;
        }




        //图片预览
        $('.add' ).on('click',function(){
            var imglen = $('.img img' ).length;
            var this_ = $(this );
            $('#upimg').click().off("change").on('change',function(){
                var size = ($(this)[0].files[0].size / 1024).toFixed(2);
                if(size <= 2048){
                    var img = $(this)[0].files[0];
                    var formData = new FormData();
                    formData.append("picture",img);
                    $.ajax({
                        type:"post",
                        url:"{:Url('File/uploadPicture')}",
                        data:formData,
                        processData : false,
                        contentType : false,
                        beforeSend: function(XMLHttpRequest){
//							swal('');
//							swal.showLoading();
                            $('.swal2-confirm' ).css({'background-color':'#c1c1c1','border-left-color':'#c1c1c1','border-right-color':'#c1c1c1'})
                        },
                        success:function(data){
                            swal.close();
                            var msg = $.parseJSON(data);
                            if(msg.code == 1){
                                if(this_.hasClass('add')){
                                    //图片添加
                                    if(imglen == 3){
                                        $('.add' ).fadeOut();
                                    }
                                    $('.img').eq(imglen).removeClass('hide' )
                                            .append('<img src='+msg.data.path+' alt="图片" data-tab='+msg.data.id+'>');
                                }else{
                                    //图片修改
                                    this_.find('img').remove();
                                    this_.append('<img src='+msg.data.path+' alt="图片" data-tab='+msg.data.id+'>');
                                }
                                imgresize();

                            } else {
                                return;
                            }
                        }
                    });
                } else {
                    swal({
                        title: ' ',
                        text: '您的图片超过2M',
                        type: 'warning',
                        showConfirmButton:false,
                        timer:1500
                    });
                }
            });

        });
    })

    $("#popover ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover").html(select_it);
        mui('#popover').popover("hide");
    })
    $("#popover2 ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover2").html(select_it);
        mui('#popover2').popover("hide");
    })

    options = {
        scrollY: true, //是否竖向滚动
        scrollX: false, //是否横向滚动
        startX: 0, //初始化时滚动至x
        startY: 0, //初始化时滚动至y
        indicators: false, //是否显示滚动条
        deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
        bounce: true //是否启用回弹
    }

    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });
</script>

{/block}