{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/publish.css">
<link rel="stylesheet" href="/home/css/common/mui.picker.min.css">
<style>
    #popover,#popover .mui-table-view{
        height:40vw;
        max-height: 400px;
    }
    .mui-table-view-cell>a:not(.mui-btn){
        font-size: 0.36rem;
        margin:-5px -11px;
        text-align: center;
    }
    .mui-dtpicker-header button {
        font-size: 0.36rem;
        padding: 0.13rem 0.26rem;
    }
    .mui-dtpicker-title h5 {
        display: inline-block;
        width: 20%;
        margin: 0;
        padding: 0.26rem;
        text-align: center;
        border-top: solid 1px #ddd;
        background-color: #f0f0f0;
        border-bottom: solid 1px #ccc;
        font-size: 0.32rem;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="list">
        <ul>
            {empty name="msg"}
            <li class="type1">
                模块
                <a id="openPopover" href="#popover">支部委员大会</a>
                <span class="triangle-down"></span>
            </li>
            <li class="type2">
                模块
                <a id="openPopover3" href="#popover3">培训计划</a>
                <span class="triangle-down"></span>
            </li>
            <li class="template">
                模板
                <a id="openPopover2" href="#popover2">普通型</a>
                <span class="triangle-down"></span>
            </li>
            {else/}
            {switch name="$msg.class"}{case value="1"}
            <li class="type1">
                模块
                <a id="openPopover" href="#popover">支部委员大会</a>
                <span class="triangle-down"></span>
            </li>
            {/case}
            {case value="2"}
            <li class="type1">
                模块
                <a id="openPopover" href="#popover">党支部委员会</a>
                <span class="triangle-down"></span>
            </li>
            {/case}
            {case value="3"}
            <li class="type1">
                模块
                <a id="openPopover" href="#popover">党小组会</a>
                <span class="triangle-down"></span>
            </li>
            {/case}
            {case value="4"}
            <li class="type1">
                模块
                <a id="openPopover" href="#popover">党课</a>
                <span class="triangle-down"></span>
            </li>
            {/case}
            {case value="5"}
            <li class="type2">
                模块
                <a id="openPopover3" href="#popover3">培训计划</a>
                <span class="triangle-down"></span>
            </li>
            {/case}
            {case value="6"}
            <li class="type2">
                模块
                <a id="openPopover3" href="#popover3">理论研究</a>
                <span class="triangle-down"></span>
            </li>
            {/case}
            {/switch}
            <li class="template">
                模板
                {eq name="$msg.templet" value="1"}
                <a id="openPopover2" href="#popover2">普通型</a>
                {else/}
                <a id="openPopover2" href="#popover2">轮播型</a>
                {/eq}
                <span class="triangle-down"></span>
            </li>
            {/empty}
            <li>
                标题
                <input type="text" placeholder="请输入标题" value="{$msg.title || default=''}" name="title">
            </li>
            <li class="type1">
                时间
                {empty name="msg"}
                <input type="input" placeholder="请选择时间"  name="time" id="date" readonly>
                {else/}
                {empty name="msg.time"}
                <input type="input" placeholder="请选择时间" name="time" id="date" readonly>
                {else/}
                <input type="input" placeholder="请选择时间" name="time" value="{$msg.time|time_format='Y-m-d H:i'}" id="date" readonly>
                {/empty}
                {/empty}
            </li>
            <li class="type1">
                地点
                <input type="text" placeholder="请输入地点" name="address" value="{$msg.address || default=''}">
            </li>
            <li class="type1">
                参会人数
                <input type="text" placeholder="请输入参会人数" name="people" value="{$msg.people || default=''}">
            </li>
            <li class="type1">
                主持人
                <input type="text" placeholder="请输入主持人"name="compere" value="{$msg.compere || default=''}">
            </li>
            <div class="content">
                <textarea placeholder="请输入内容..." name="content">{$msg.content || default=''}</textarea>
                <div class="imgs clear">
                    {notempty name="$msg"}
                    {volist name="msg.list_images" id="img"}
                    <div class="img fl "><img src="{$img|get_cover='path'}" alt="" data-tab="{$img}"></div>
                    {/volist}
                    {/notempty}
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="add fl"></div>
                </div>
                <div style="color: #666;font-size: 0.32rem">（您最多上传3张图片，图片小于3M）</div>
                <input type="file" class="hide" id="upimg" accept="image/jpg, image/png, image/gif, image/jpeg">
                <input type="hidden" name="id" value="{$msg.id || default=''}">
            </div>
        </ul>
    </div>
    <div class="save">保&emsp;存</div>
    <div class="goreview">去审核</div>
    <p>注：点击保存将保存至个人中心-我的草稿；点击去审核，审核通过后将在相应栏目发布，并保存至我的发布。</p>

    <div id="popover" class="mui-popover" >
        <ul class="mui-table-view">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <li class="mui-table-view-cell"><a>支部委员大会</a></li>
                    <li class="mui-table-view-cell"><a>党支部委员会</a></li>
                    <li class="mui-table-view-cell"><a>党小组会</a></li>
                    <li class="mui-table-view-cell"><a>党课</a></li>
                </div>
            </div>
        </ul>
    </div>

    <div id="popover2" class="mui-popover" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a>普通型</a></li>
            <li class="mui-table-view-cell"><a>轮播型</a></li>
        </ul>
    </div>

    <div id="popover3" class="mui-popover" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a>培训计划</a></li>
            <li class="mui-table-view-cell"><a>理论研究</a></li>
        </ul>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/common/publish.js"></script>
<script src="/home/js/common/mui.picker.min.js"></script>
<script>
    var type =  parseInt(window.location.href.split("publish/type/")[1]);
    var c =  parseInt(window.location.href.split("style/")[1]);
    var index =  parseInt(window.location.href.split("?")[1]);
    $(function(){
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $(".main").css({"width":"640px","left":"50%","min-height":"90vh","margin-left":"-320px","margin-top":"5vh","position":"relative"});
            $(".list ul li").css("position","relative");
            $(".list ul textarea").css("height","300px");
            $(".goreview+p").css({"width":"640px","margin":"0 auto"});
        }
        imgresize();
        if($(".img img").length==3){
            $(".add").hide();
        }
        if(type==1){
            $("title").text("方案部署");
        }else if(type==2){
            $("title").text("三会一课");
        }else if(type==3){
            $("title").text("年度计划");
        } else if(type==4){
            $("title").text("支部活动");
        }
        //判断type值，对页面进行对应处理
        switch (type){
            case 1:
                $(".type1").hide();
                $(".type2").hide();
                break;
            case 2:
                $(".type2").hide();
                $(".template").hide();
                if(index==1){
                    $("#openPopover").html("支部委员大会");
                }else if(index==2){
                    $("#openPopover").html("党支部委员会");
                }else if(index==3){
                    $("#openPopover").html("党小组会");
                }else if(index==4){
                    $("#openPopover").html("党课");
                }
                break;
            case 3:
                $(".type1").hide();
                    if(index>=0){
                        if(index==0){
                            $("#openPopover3").html("培训计划");
                        }else if(index==1){
                            $("#openPopover3").html("理论研究");
                            $("textarea").attr("placeholder","请输入内容，不少于1500字...");
                        }
                    }else{
                        if(c==5){
                            $("#openPopover3").html("培训计划");
                        }else if(c==6){
                            $("#openPopover3").html("理论研究");
                            $("textarea").attr("placeholder","请输入内容，不少于1500字...");
                        }
                    }

                break;
            case 4:
                $(".type1").hide();
                $(".type2").hide();
                break;
        }
    });

    window.onload = function(){
        if(type==2) {
            var dtpicker = new mui.DtPicker({
                "type": "datetime",
                "value": ""
            })
            document.querySelector('#date').addEventListener('tap', function () {
                dtpicker.show(function (e) {
                    document.getElementById('date').value = e.text;
                })
            })
        }
    }
    $("#popover ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover").html(select_it);
        mui('#popover').popover("hide");
    });
    $("#popover2 ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover2").html(select_it);
        mui('#popover2').popover("hide");
    });
    $("#popover3 ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover3").html(select_it);
        if(select_it=="培训计划"){
            $("textarea").attr("placeholder","请输入内容...");
        }else{
            $("textarea").attr("placeholder","请输入内容，不少于1500字...");
        }
        mui('#popover3').popover("hide");
    });

    options = {
        scrollY: true, //是否竖向滚动
        scrollX: false, //是否横向滚动
        startX: 0, //初始化时滚动至x
        startY: 0, //初始化时滚动至y
        indicators: false, //是否显示滚动条
        deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
        bounce: true //是否启用回弹
    }

    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });

    //保存
    $(".save").click(function(){
        var templet = $("#openPopover2").html();
        var userid = "{$userId}";
        if(type==1){
            var data={
                class:0,
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type,
                status:3
            };
        }else if(type==2){
            var _class = $("#openPopover").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                address:$("input[name='address']").val(),
                time:$("input[name='time']").val(),
                id:$("input[name='id']").val(),
                people:$("input[name='people']").val(),
                compere:$("input[name='compere']").val(),
                userid:userid,
                type:type,
                status:3
            };
            switch (_class){
                case "支部委员大会":
                    data["class"] = 1;
                    break;
                case "党支部委员会":
                    data["class"] = 2;
                    break;
                case "党小组会":
                    data["class"] = 3;
                    break;
                case "党课":
                    data["class"] = 4;
                    break;
            }
        }else if(type==3){
            var _class = $("#openPopover3").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type,
                status:3
            };
            if(_class=="培训计划"){
                data["class"] = 5;
            }else{
                data["class"] = 6;
            }
        }else if(type==4){
            var data={
                class:0,
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                id:$("input[name='id']").val(),
                userid:userid,
                type:type,
                status:3
            };
        }
            data['list_images']=[];
            if(templet == "普通型"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            })
//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Learn/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "保存成功",
                            text: '请至个人中心——我的草稿中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
    });


    //去审核
    $(".goreview").click(function(){
        var single = false;
        var templet = $("#openPopover2").html();
        var userid = "{$userId}";
        if(type==1){
            var data={
                class:0,
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type,
                status:0
            };
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""){
                    single = true;
                    continue;
                }
            }
        }else if(type==2){
            var _class = $("#openPopover").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                address:$("input[name='address']").val(),
                time:$("input[name='time']").val(),
                people:$("input[name='people']").val(),
                id:$("input[name='id']").val(),
                compere:$("input[name='compere']").val(),
                userid:userid,
                type:type,
                status:0
            };
            switch (_class){
                case "支部委员大会":
                    data["class"] = 1;
                    break;
                case "党支部委员会":
                    data["class"] = 2;
                    break;
                case "党小组会":
                    data["class"] = 3;
                    break;
                case "党课":
                    data["class"] = 4;
                    break;
            }
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""&& data["place"]!=""&& data["date"]!=""&& data["number"]!=""&& data["host"]!=""){

                    single = true;
                    continue;
                }
            }
        }else if(type==3){
            var _class = $("#openPopover3").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type,
                status:0
            };
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""){
//                    if(data["content"].length<300){
//                        swal({
//                            title: ' ',
//                            text: '内容不少于500字',
//                            type: 'error',
//                            showConfirmButton:false,
//                            timer:1500
//                        });
//                        return;
//                    }
                    single = true;
                    continue;
                }
            }
            if(_class=="培训计划"){
                data["class"] = 5;
            }else{
                data["class"] = 6;
                    if(data["content"].length<1500){
                        swal({
                            title: ' ',
                            text: '内容不少于1500字',
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                        return;
                    }
            }
        }else if(type==4){
            var data={
                class:0,
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type,
                status:0
            };
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""){
                    single = true;
                    continue;
                }
            }
        }
        if(single){
            data['list_images']=[];
            if(templet == "普通型"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            })

            if( data["templet"] == 2){
                if(data['list_images'].length==0){
                    swal({
                        title: ' ',
                        text: '请至少上传一张图片',
                        type: 'error',
                        showConfirmButton:false,
                        timer:1500
                    });
                    return false;
                }

            }
//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Learn/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "提交成功",
                            text: '审核后可在个人中心——我的发布中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }else{
            swal({
                title: ' ',
                text: '信息输入不完整',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
        }
    });
</script>

{/block}