{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/list/graphic-list.css">
{/block}
{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="banner">
            <img src="/home/images/incorrupt/education.png">
        </div>
        <div class="list">
            {empty name="$list"}
            <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
            {else/}
            <ul>
                {volist name="list" id="vo"}
                {eq name="vo.templet" value="1"}
                <a href="{:Url('Incorrupt/detail?id='.$vo['id'])}">
                {else/}
                <a href="{:Url('Incorrupt/detail2?id='.$vo['id'])}">
                {/eq}
                    <img src="{$vo.front_cover|get_cover='path'}">
                    <p>{$vo.title}</p>
                    <span>{$vo.publisher}</span>
                    <span>{$vo.create_time|time_format='Y-m-d'}</span>
                </a>
                {/volist}
            </ul>
            {/empty}
        </div>
    </div>
</div>
<!--[悬浮按钮]-->
<span href="{:Url('incorrupt/publish')}" class="after manager" id="publish"></span>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var type =  parseInt(window.location.href.split("/type/")[1]);
    $("title").text("廉政教育");

    function IsPC() {
        var userAgentInfo = navigator.userAgent;
        var Agents = ["Android", "iPhone",
            "SymbianOS", "Windows Phone",
            "iPad", "iPod"];
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) {
                flag = false;
                break;
            }
        }
        return flag;
    }

     flag = IsPC();
    if(flag){
        $(".default img").css("width","60px");
        $("#refreshContainer").css({"width":"640px","left":"35%"});
        $(".list ul a img").css({"width":"90px","height":"60px","margin-right":"10px"});
        $(".banner").css({"width":"640px","margin":"0 auto"});
        $(".list ul a").css("padding","10px 15px");
        $(".list ul a p").css({"font-size":"14px"});
        $(".list ul a span").css({"font-size":"12px"});
        $(".list ul a span:nth-child(3)").css("bottom","10px");
        $(".list ul a span:nth-child(4)").css({"bottom":"10px","right":"15px"});
        $(".manager.after").css({"left":"50%","margin-left":"320px"});
    }



    window.onload = function() {
        if(flag){
            $(".mui-pull .mui-pull-caption").css("font-size","15px");
        }
        moveanyway("publish");
        if ($(".list ul a").length < 8) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var len  = $(".list ul a").length;
        $.ajax({
            type:"post",
            url: "{:Url('Incorrupt/education')}",
            data:{
                length:len,
                type:type
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data);
                    var dataLen =data.data.length;
                    if(data.data.length == 8){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    //加载更多列表
    function addLists(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(flag) {
                if (list.templet == 1) {
                    html += '<a href="/home/incorrupt/detail/id/' + list.id + '.html" style="padding:10px 15px">'
                } else {
                    html += '<a href="/home/incorrupt/detail2/id/' + list.id + '.html" style="padding:10px 15px">'
                }
                html +=
                        '<img src="' + list.path + '" style="width:90px;height:60px;margin-right:10px">' +
                        '<p style="font-size:14px">' + list.title + '</p>' +
                        '<span style="font-size:12px;bottom:10px">' + list.publisher + '</span>' +
                        '<span style="font-size:12px;bottom:10px;right:15px">' + list.time + '</span>' +
                        '</a>'
            }else{
                if (list.templet == 1) {
                    html += '<a href="/home/incorrupt/detail/id/' + list.id + '.html">'
                } else {
                    html += '<a href="/home/incorrupt/detail2/id/' + list.id + '.html">'
                }
                html +=
                        '<img src="' + list.path + '">' +
                        '<p>' + list.title + '</p>' +
                        '<span>' + list.publisher + '</span>' +
                        '<span>' + list.time + '</span>' +
                        '</a>'

            }
        }
        $('.list ul').append(html);
    }

    //触发点击事件
    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href")+"?"+type;
        window.location.href = url;
    });

    //触发点击事件
    mui('body').on('tap', '#publish', function(e) {
        var url = "/home/incorrupt/publish/type/"+type;
        window.location.href = url;
    });
</script>
{/block}