{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/list/title-pos-time.css">
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="list">
            {empty name="$list"}
            <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
            {else/}
            <ul>
                {volist name="list" id="vo"}
                {eq name="vo.templet" value="1"}
                <a href="{:Url('Incorrupt/detail?id='.$vo['id'])}">
                {else/}
                <a href="{:Url('Incorrupt/detail2?id='.$vo['id'])}">
                    {/eq}
                    <p>{$vo.title}</p>
                    <span>{$vo.publisher}</span>
                    <span>{$vo.create_time|time_format='Y-m-d'}</span>
                </a>
                {/volist}
            </ul>
            {/empty}
        </div>
    </div>
</div>
<!--[悬浮按钮]-->
<span href="{:Url('incorrupt/publish')}" class="after manager" id="publish"></span>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var type =  parseInt(window.location.href.split("/type/")[1]);
    if(type==1){
        $("title").text("廉政责任");
    }else if(type==3){
        $("title").text("纪检报告");
    }
    window.onload = function() {
        moveanyway("publish");
        if ($(".list ul a").length < 7) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var len  = $(".list ul a").length;
        $.ajax({
            type:"post",
            url: "{:Url('Incorrupt/index')}",
            data:{
                length:len,
                type:type
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data);
                    var dataLen =data.data.length;
                    if(data.data.length == 7){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    //加载更多列表
    function addLists(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(list.templet==1){
                html += '<a href="/home/Incorrupt/detail/id/'+list.id+'.html">'
            }else{
                html += '<a href="/home/Incorrupt/detail2/id/'+list.id+'.html">'
            }
            html +=
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.publisher+'</span>'+
                    '<span>'+list.time+'</span>'+
                    '</a>'
        }
        $('.list ul').append(html);
    }

    //触发点击事件
    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href")+"?"+type;
        window.location.href = url;
    });

    //触发点击事件
    mui('body').on('tap', '#publish', function(e) {
        var url = "/home/incorrupt/publish/type/"+type;
        window.location.href = url;
    });
</script>
{/block}