
/*search*/
.search{
    width:100vw;
    height:1.2rem;
    background: #e4e4e4;
    position: fixed;
    top:0;
    z-index: 109;
}
.search input{
    height:0.93rem;
    width:90%;
    margin-left: 5%;
    margin-top: 0.13rem;
    border-radius: 10px;
    border: none;
    font-size: 0.38rem;
    padding-left: 8%;
    line-height: 0.93rem;
    background-color: #fff;
}
input::-webkit-input-placeholder{
    font-size: 0.38rem;
    line-height: 0.93rem;
}
.search .mui-icon-search{
    position: absolute;
    left: 7%;
    font-size: 0.56rem;
    top: 0.3rem;
}
#refreshContainer{
    /*margin-top: 1.2rem;*/
}

.noresult{
    font-size: 0.38rem;
    text-align: center;
    color: #666;
    margin-top: 30%;
}


/*tab*/
#tab{
    position: absolute;
    top: 1.2rem;
    z-index: 9;
    width: 100vw;
    height: 0.88rem;
    padding: 8px 0;
    background: #f1f1f1;
    font-size: 0.38rem;
    line-height: 0.88rem;
}
#tab .tab {
    display: inline-block;
    width: 32vw;
    height: 100%;
    color: #333333;
    font-size: 0.38rem!important;
    line-height: 28px;
    text-align: center;
}
.mui-segmented-control .mui-control-item {
    line-height: 0.88rem;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #e51c23;
}
.list{
    margin-top: 1.2rem;
}
