{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/publish.css">
<style>
    .yes_no {
        display: none;
        text-align: center;
        padding:0!important;
        padding-bottom: 0!important;
        border-bottom: 0 !important;
        margin-top: 30vw;
    }
    .clice {
        width: 50vw;
        display: inline-block;
        float: left;
        text-align: center;
        position: relative;
    }
    .clice:before {
        content: '';
        width: 4.8vw;
        height: 4.8vw;
        border: 1px solid #d7d7d7;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -2.4vw;
    }
    .clice span {
        display: inline-block;
        padding-left: 8vw;
    }
    .clice.active:before {
        content: '';
        background-color: #fc6c62;
    }
    .sure {
        width: 5.6rem;
        height: 1rem;
        background: #fc6c62;
        border-radius: 5px;
        color: #fff;
        margin: 0.5rem auto;
        text-align: center;
        font-size: 0.36rem;
        line-height: 1rem;
        display: none;
        position: absolute;
        bottom: 10vw;
        left: 50%;
        margin-left: -2.8rem;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="list">
        <ul>
            {empty name="msg"}
            <li class="showup" style="display: none;">
                模块
                <a id="openPopover2" href="#popover2">阵地建设</a>
                <span class="triangle-down"></span>
            </li>
            <li>
                模板
                <a id="openPopover" href="#popover">普通型</a>
                <span class="triangle-down"></span>
            </li>
            {else/}
            <li class="showup" style="display: none;">
                模块
                {eq name="$msg.class" value="1"}
                <a id="openPopover2" href="#popover2">阵地建设</a>
                {/eq}
                {eq name="$msg.class" value="2"}
                <a id="openPopover2" href="#popover2">按期换届</a>
                {/eq}
                {eq name="$msg.class" value="3"}
                <a id="openPopover2" href="#popover2">主题党日</a>
                {/eq}
            </li>

            <li>
                模板
                {eq name="$msg.templet" value="1"}
                <a id="openPopover" href="#popover">普通型</a>
                {else/}
                <a id="openPopover" href="#popover">轮播型</a>
                {/eq}
                <span class="triangle-down"></span>
            </li>
            {/empty}
            <li class="yes_no">
                <div class="clice fl"><span>有离退休党支部</span></div>
                <div class="clice fl"><span>无离退休党支部</span></div>
            </li>
            <li>
                标题
                <input style="text" placeholder="请输入标题" name="title" value="{$msg.title || default=''}">
            </li>
            <div class="content">
                <textarea placeholder="请输入内容..." name="content">{$msg.content || default=''}</textarea>
                <div class="imgs clear">
                    {notempty name="$msg"}
                    {volist name="msg.list_images" id="img"}
                    <div class="img fl "><img src="{$img|get_cover='path'}" alt="" data-tab="{$img}"></div>
                    {/volist}
                    {/notempty}
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="add fl"></div>
                </div>
                <div style="color: #666;font-size: 0.32rem">（您最多上传3张图片，图片小于5M）</div>
                <input type="file" class="hide" id="upimg" accept="image/*">
                <input type="hidden" name="id" value="{$msg.id || default=''}">
            </div>
        </ul>
    </div>
    <div class="sure">确定</div>
    <!--<div class="save">保&emsp;存</div>-->
    <div class="goreview">确定上传</div>
    <p>注：点击确定上传，系统自动积分。上传的内容将发至管理员处进行审核，审核通过后将在相应栏目发送，并保存至个人中心-我的发布。</p>

    <div id="popover" class="mui-popover" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a>普通型</a></li>
            <li class="mui-table-view-cell"><a>轮播型</a></li>
        </ul>
    </div>


    <div id="popover2" class="mui-popover" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a>阵地建设</a></li>
            <li class="mui-table-view-cell"><a>按期换届</a></li>
            <li class="mui-table-view-cell"><a>主题党日</a></li>
        </ul>
    </div>
</div>
<div class="showbox">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/common/publish.js"></script>
<script>
    var type =  parseInt(window.location.href.split("type/")[1]);
    $(function(){
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $("body,html").css("backgroundColor","#f1f1f1");
            $(".main").css({"width":"640px","left":"50%","margin-left":"-320px","position":"relative","min-height":"90vh","margin-top":"5vh"});
            $(".list ul li").css("position","relative");
            $(".list ul textarea").css("height","300px");
            $(".goreview+p").css({"width":"640px","margin":"0 auto"});
            $(".yes_no").css({"marginTop": "5vh"});
            $(".clice").css("width","50%");
        }
        imgresize();
        if($(".img img").length==3){
            $(".add").hide();
        }
        if(type == 1){
            $("title").text("规范化建设");
            $(".showup").show();
        }else if(type == 2){
            $("title").text("离退休党员台账资料");
            /*$(".yes_no").show().siblings("li").hide();
            $(".content,.goreview,.goreview+p").hide();
            $(".yes_no .clice").on("click", function () {
                $(this).addClass("active").siblings(".clice").removeClass("active");
                if ($(".clice:first-of-type").hasClass("active")) {
                    setTimeout(function () {
                        $(".yes_no").hide().siblings("li").show();
                        $(".content,.goreview,.goreview+p").show();
                    },500)
                }else if ($(".clice:last-of-type").hasClass("active")) {
                    setTimeout(function () {
                        $(".yes_no").hide();
                        $(".sure").show();
                    },500)
                }
            })*/
        }else if(type == 3){
            $("title").text("党费收缴");
        }else if(type == 4){
            $("title").text("信息录用");
        }
    });

    // 确定
    $(".sure").on("click", function () {
        $.ajax({
            type:"post",
            url: "{:Url('Organization/retirement')}",
            success:function(data){
                if(data.code == 1){
                    window.history.go(-1);
                }else{
                    swal({
                        title: ' ',
                        text: data.msg,
                        type: 'success',
                        showConfirmButton:false,
                        timer:1500
                    });
                    setTimeout(function () {
                        window.history.go(-1);
                    },2000);
                }
            },error: function () {
            }
        });
    });

    // 保存
    $(".save").click(function(){
        var templet = $("#openPopover").html();
        var userid = "{$userId}";
        if(type==1){
            var _class = $("#openPopover2").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type
            };
            switch (_class){
                case "阵地建设":
                    data["class"] = 1;
                    break;
                case "按期换届":
                    data["class"] = 2;
                    break;
                case "主题党日":
                    data["class"] = 3;
                    break;
            }
        }else{
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type
            };
        }
            data['list_images']=[];
            if(templet == "普通型"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            data["status"] = 3;
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            })
//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Organization/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "保存成功",
                            text: '请至个人中心——我的草稿中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
    });


    // 去审核
    $(".goreview").click(function(){
        var single = false;
        var templet = $("#openPopover").html();
        var userid = "{$userId}";
        if(type==1){
            var _class = $("#openPopover2").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type
            };
            switch (_class){
                case "阵地建设":
                    data["class"] = 1;
                    break;
                case "按期换届":
                    data["class"] = 2;
                    break;
                case "主题党日":
                    data["class"] = 3;
                    break;
            }
        } else{
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type
            };
        }
        data['list_images']=[];
        $(".img img").each(function(){
            if($(this).data("tab")){
                data['list_images'].push($(this).data("tab")+"")  ;
            }
        });
        for(var key in data){
            if(data["title"]!= ''){
                if(data["content"]!=""||data['list_images'].length!==0){
                    single = true;
                    continue;
                }
            }
        }
        if(single){
            if(templet == "普通型"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            data["status"] = 0;
            if( data["templet"] == 2){
                if(data['list_images'].length==0){
                    swal({
                        title: ' ',
                        text: '请至少上传一张图片',
                        type: 'error',
                        showConfirmButton:false,
                        timer:1500
                    });
                    return false;
                }

            }
//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Organization/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "提交成功",
                            text: '审核后可在个人中心——我的发布中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }else{
            swal({
                title: ' ',
                text: '信息输入不完整',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
        }
    });


    $("#popover ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover").html(select_it);
        mui('#popover').popover("hide");
    });

    $("#popover2 ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover2").html(select_it);
        mui('#popover2').popover("hide");
    })

</script>

{/block}