{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/list/title-pos-time.css">
<title>离退休党员台账资料</title>
<style>
    .list ul a {
        position: relative;
        height: 20vw;
    }
    .list ul a p {
        margin-bottom: 0;
    }
    .list ul a span:nth-child(2).notes {
        position: absolute;
        bottom: 2vw;
        width: 92vw;
    }
    .list ul a span:nth-child(2).notes span:last-of-type {
        width: auto;
    }
    .list ul a span:nth-child(2){
        position: static;
        bottom:0;
    }
    .list ul a span:nth-child(2).notes span.fl{
        width:65%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="list">
                {empty name="$list"}
                <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                {else/}
                <ul>
                    {volist name="list" id="vo"}
                    {eq name="vo.templet" value="1"}
                    <a href="{:Url('Organization/detail?id='.$vo['id'])}">
                        {else/}
                        <a href="{:Url('Organization/detail2?id='.$vo['id'])}">
                            {/eq}
                            <p>{$vo.title}</p>
                            <span class="notes">
                                <span class="fl">{$vo.publisher}</span>
                                <span class="fr">{$vo.create_time|time_format="Y-m-d"}</span>
                            </span>
                        </a>
                        {/volist}
                </ul>
                {/empty}
            </div>
        </div>
    </div>
    <!--[悬浮按钮]-->
    {eq name="pub" value="1"}
    <a href="{:Url('Organization/publish?type=2')}" class="after manager" id="publish"></a>
    {/eq}
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    $("title").text("离退休党员台账资料");
    window.onload = function() {
        if(flag){
            $(".mui-pull .mui-pull-caption").css("font-size","15px");
        }
        moveanyway("publish");
        if ($(".list ul a").length < 8) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    };

    $(function(){
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }
        flag = IsPC();
        if(flag){
            $("body,html").css("backgroundColor","#f1f1f1");
            $(".main").css({"width":"640px","left":"50%","margin-left":"-320px","position":"relative","min-height":"90vh","margin-top":"5vh"});
            $(".list ul a").css({"padding":"10px 15px","height":"110px"});
            $(".list ul a p").css({"margin-bottom":"0","font-size":"16px"});
            $(".list ul a span:nth-child(2).notes").css({"width":"610px","bottom":"10px"});
            $(".list ul a span:nth-child(2).notes span:last-of-type").css({"font-size":"14px","width":"auto"});
            $(".default img").css("width","60px");
        }
    });

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var len  = $(".list ul a").length;
        $.ajax({
            type:"post",
            url: "{:Url('Organization/listmore')}",
            data:{
                length:len,
                type:2
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data);
                    var dataLen =data.data.length;
                    if(data.data.length == 8){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data){
        console.log(data)
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(flag) {
                if (list.templet == 1) {
                    html += '<a href="/home/Organization/detail/id/' + list.id + '.html" style="padding: 10px 15px;height: 110px">'
                } else {
                    html += '<a href="/home/Organization/detail2/id/' + list.id + '.html" style="padding: 10px 15px;height: 110px">'
                }
                html +=
                        '<p style="font-size: 16px;margin-bottom: 0">'+  list.title + '</p>' +
                        '<span class="notes" style="width: 610px;bottom: 10px">' +
                        '<span class="fl" style="font-size: 14px;">' + list.publisher + '</span>' +
                        '<span class="fr" style="font-size: 14px;width: auto">' + list.time + '</span>' +
                        '</span>'+
                        '</a>'
            }else{
                if (list.templet == 1) {
                    html += '<a href="/home/Organization/detail/id/' + list.id + '.html">'
                } else {
                    html += '<a href="/home/Organization/detail2/id/' + list.id + '.html">'
                }
                html +=
                        '<p>' + list.title + '</p>' +
                        '<span class="notes">' +
                        '<span class="fl">' + list.publisher + '</span>' +
                        '<span class="fr">' + list.time + '</span>' +
                        '</span>'+
                        '</a>'
            }
        }
        $('.list ul').append(html);
    }

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href")+"?"+2;
        window.location.href = url;
    });

    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });
</script>
{/block}