{extend name="public/common"}
{block name="style"}
<title>党建责任</title>
<link rel="stylesheet" href="/home/css/duty/home.css">
{/block}
{block name="body"}
<div class="content">
    <a class="title" href="{:Url('duty/index?type=1')}">
        <div class="title_box">
            <img src="/home/images/pioneer/1.png" class="images">
            <span>01</span>
            <div class="writing"></div>
            <p>专题研究</p>
        </div>
    </a>
    <a class="title" href="{:Url('duty/index?type=2')}">
        <div class="title_box">
            <img src="/home/images/pioneer/2.png"  class="images">
            <span>02</span>
            <div class="writing"></div>
            <p>责任清单</p>
        </div>
    </a>
    <a class="title" href="{:Url('duty/index?type=3')}">
        <div class="title_box">
            <img src="/home/images/pioneer/3.png"  class="images">
            <span>03</span>
            <div class="writing"></div>
            <p>述职报告</p>
        </div>
    </a>
    <a class="title" href="{:Url('duty/index?type=4')}">
        <div class="title_box">
            <img src="/home/images/pioneer/4.png"  class="images">
            <span>04</span>
            <div class="writing"></div>
            <p>工作计划</p>
        </div>
    </a>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

</script>
{/block}