@charset "utf-8";
/*文章*/
.article {
    width: 100%;
    padding-left: 0.3rem;
    padding-right:0.3rem;
    padding-top:0.3rem;
}
/*title*/
.article .title {
    text-align: center;
}
.article .title p{
    color: #333;
    font-size: 0.42rem;
    line-height: 0.52rem;
    font-weight: 600;
    display: inline-block;
    text-align: left;
}

/*publish & time*/
.article .note {
    color: #999;
    font-size: 0.32rem;
    line-height: 0.8rem;
}

.note .publish{
    display: inline-block;
    width:70%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: left;
}
.note .time{
    float: right;
}

/*article content */
.article-content p,.article-content p span,.article-content{
    font-size: 0.38rem!important;
}
.article .content * {
    max-width: 100%!important;
    line-height: 0.5rem!important;
}
.article .content {
    width: 100%;
    overflow: hidden;
}
.article .content img {
    display: inline-block;
    max-width: 100%!important;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/*like*/
.article .content .like {
    color: #999;
    font-size: 0.36rem;
    float: right;
}
.article .content .like span {
    height: 0.5rem;
    display: inline-block;
    margin-right: 0.3rem;
    line-height:0.6rem;
}
.article .content .note_ span{
    margin-right: 0;
}
.article .content .note .good,.article .content .like .isgood{
    margin-right: 0;
}
.article .content .like .read {
    background: url('/home/images/detail/scan_.png') 0 center no-repeat;
    background-size: 0.36rem 0.36rem;
    padding-left: 0.53rem;
}
.article .content .like .good {
    background: url('/home/images/detail/good.png') 0 center no-repeat;
    background-size: 0.36rem 0.36rem;
    padding-left:  0.53rem;
}
.article .content .like .good_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/good_.png') 0 center no-repeat;
    background-size: 0.36rem 0.36rem;
    padding-left: 0.53rem;
}


/*评论*/
.comment .sum {
    height: 0.6rem;
    padding-left: 0.3rem;
    background: #fcfcfc;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    font-size: 0.24rem;
    line-height: 0.6rem;
}
.comment .lists .list {
    width: 100%;
    padding-left: 0.3rem;
    padding-right:0.3rem;
    min-height: 100px;
    border-bottom: 1px solid #f1f1f1;
}
.comment .lists .list .fl img {
    width: 8vw;
    height: 8vw;
    margin-top: 0.3rem;
    margin-right: 0.28rem;
    overflow: hidden;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.comment .lists .list .mid {
    width: 73%;
    margin-top: 0.28rem;
}
.comment .lists .list .mid .name {
    width: 100%;
    color: #999;
    font-size: 0.28rem;
}
.comment .lists .list .mid .content {
    width: 100%;
    word-break: break-all;
    font-size: 0.28rem;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.comment .lists .list .mid .time {
    font-size: 0.24rem;
    line-height: 5.3vw;
    color: #999;
}
.comment .lists .list .fr {
    margin-top: 0.3rem;
    color: #999999;
    line-height: 0.3rem;
    font-size: 0.24rem;
}
.comment .lists .list .good {
    background: url('/home/images/detail/good.png') 0 center no-repeat;
}
.comment .lists .list .good_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/good_.png') 0 center no-repeat;
}
.comment .lists .list .isgood {
    background-size: 0.26rem 0.26rem;
    padding-left: 0.36rem;
}
.comment .tip {
    height: 10.6vw;
    text-align: center;
    line-height: 10.6vw;
    color: #c1c1c1;
    font-size: 1.5rem;
}
/*底部*/
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.9rem;
    padding-left: 2.6vw;
    border-top: 1px solid #f1f1f1;
    background: #fff;
    font-family: "Microsoft YaHei", sans-serif;
    z-index: 999;
}
.bottom .star {
    background: url('/home/images/detail/star-border.png') 20px 12px no-repeat;
}
.bottom .star_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/star-yellow.png') 20px 12px no-repeat;
}
.bottom .collect {
    width: 60px;
    height: 100%;
    font-size: 1.2rem;
    text-align: center;
    background-size: 20px 20px;
    padding-top: 24px;
}
.bottom .myword input {
    vertical-align: middle;
    height: 0.6rem;
    width: 94vw;
    margin: 3vw 0;
    padding-left: 0.24rem;
    background: #fafafa;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 0.26rem;
    line-height: 0.6rem;
}
.bottom .send {
    width: 20.5vw;
    line-height: 0.9rem;
    text-align: center;
    font-size: 0.3rem;
}
.bottom .send:active {
    background: #fafafa;
}

@keyframes bigger
{
    0%{
        background-size: 16vw 16vw;
        height: 16vw;
        bottom:-8vw;
    }
    50%{
        background-size: 18vw 18vw;
        height: 18vw;
        bottom:-10vw;
    }
    100% {
        background-size: 16vw 16vw;
        height: 16vw;
        bottom:-8vw;
    }
}

@-moz-keyframes bigger /* Firefox */
{
    0%{
        background-size: 16vw 16vw;
        height: 16vw;
    }
    50%{
        background-size: 18vw 18vw;
        height: 18vw;
    }
    100% {
        background-size: 16vw 16vw;
        height: 16vw;
    }
}

@-webkit-keyframes bigger /* Safari 和 Chrome */
{
    0%{
        background-size: 16vw 16vw;
        height: 16vw;
        bottom:-8vw;
    }
    50%{
        background-size: 18vw 18vw;
        height: 18vw;
        bottom:-10vw;
    }
    100% {
        background-size: 16vw 16vw;
        height: 16vw;
        bottom:-8vw;
    }
}

@-o-keyframes bigger /* Opera */
{
    0%{
        background-size: 16vw 16vw;
    }
    50%{
        background-size: 18vw 18vw;
    }
    100% {
        background-size: 16vw 16vw;
    }
}

@keyframes up
{
    0%{
        bottom:0;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        bottom:4vw;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        bottom:8vw;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        bottom:12vw;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        bottom:16vw;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-moz-keyframes up /* Firefox */
{
    0%{
        top:-8vw;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-4vw;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:0;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:4vw;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:8vw;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-webkit-keyframes up /* Safari 和 Chrome */
{
    0%{
        bottom:0;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        bottom:4vw;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        bottom:8vw;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        bottom:12vw;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        bottom:16vw;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-o-keyframes up /* Opera */
{
    0%{
        top:-8vw;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-4vw;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:0;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:4vw;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:8vw;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}
