{extend name="public/common"}
{block name="style"}
<title>党建责任</title>
<link rel="stylesheet" href="/home/css/duty/home.css">
{/block}
{block name="body"}
<div class="content">
    <a class="title" href="{:Url('Responsibility/index?type=1')}">
        <div class="title_box">
            <img src="/home/images/pioneer/1.png" class="images">
            <span>01</span>
            <div class="writing"></div>
            <p>专题研究</p>
        </div>
    </a>
    <a class="title" href="{:Url('Responsibility/index?type=2')}">
        <div class="title_box">
            <img src="/home/images/pioneer/2.png"  class="images">
            <span>02</span>
            <div class="writing"></div>
            <p>责任清单</p>
        </div>
    </a>
    <a class="title" href="{:Url('Responsibility/branchindex?type=3')}">
        <div class="title_box">
            <img src="/home/images/pioneer/3.png"  class="images">
            <span>03</span>
            <div class="writing"></div>
            <p>述职报告</p>
        </div>
    </a>
    <a class="title" href="{:Url('Responsibility/index?type=4')}">
        <div class="title_box">
            <img src="/home/images/pioneer/4.png"  class="images">
            <span>04</span>
            <div class="writing"></div>
            <p>工作计划</p>
        </div>
    </a>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
$(function(){
    $("title").text("党建责任");
    function IsPC() {
        var userAgentInfo = navigator.userAgent;
        var Agents = ["Android", "iPhone",
            "SymbianOS", "Windows Phone",
            "iPad", "iPod"];
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) {
                flag = false;
                break;
            }
        }
        return flag;
    }

    var flag = IsPC();
    if(flag){
        $(".content").css({"width":"640px","left":"50%","height":"90vh","margin":"5vh 0 0 -320px","position":"relative"});
        $(".title img").css("width","172px");
        $(".title:nth-child(odd) span").css({"height":"96px","line-height":"96px","font-size":"44px","left":"56px"});
        $(".title:nth-child(even) span").css({"height":"96px","line-height":"96px","font-size":"44px","right":"56px"});
        $(".title:nth-child(odd) .writing").css("left","150px");
        $(".title:nth-child(even) .writing").css("left","280px");
        $(".title:nth-child(even) .title_box:after").css("display","none");
        $(".title:nth-child(odd) .title_box:after").css("display","none");
        $(".title .writing").css({"height":"96px","width":"210px"});
        $(".title:nth-child(odd) p").css({"height":"96px","font-size":"44px","left":"178px","line-height":"96px"});
        $(".title:nth-child(even) p").css({"height":"96px","font-size":"44px","right":"178px","line-height":"96px"});
    }

});
</script>
{/block}