{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/duty/duty-search.css">
<link rel="stylesheet" href="/home/css/list/title-pos-time.css">
{/block}

{block name="body"}
<div class="search">
    <input type="search" placeholder="请输入支部名称" id="search">
    <span class="mui-icon mui-icon-search"></span>
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="list">
            <ul class="search-result">
            </ul>
            <ul class="all">
                {volist name="list" id="vo"}
                <a href="{:Url('Responsibility/detail?id='.$vo['id'])}">
                    <p>{$vo.title}</p>
                    <span>{$vo.publisher}</span>
                    <span>{$vo.create_time|time_format='Y-m-d'}</span>
                </a>
                {/volist}
            </ul>
        </div>
    </div>
</div>
<!--[悬浮按钮]-->
<a href="{:Url('responsibility/publish?type=1')}" class="after manager" id="publish"></a>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    window.onload = function() {
        moveanyway("publish");
        if ($(".list ul a").length < 10) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var len  = $(".list ul a").length;
        $.ajax({
            type:"post",
            url: "{:Url('News/listmore')}",
            data:{
                length:len
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data,1);
                    var dataLen =data.data.length;
                    if(data.data.length == 10){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data,type){
        console.log(data)
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                    '<a href="/home/responsibility/detail/id/"'+list.id+'>'+
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.publisher+'</span>'+
                    '<span>'+list.time+'</span>'+
                    '</a>'
        }
       if(type==1){
           $(".all").append(html)
       }else if(type==2){
           $(".search-result").html(html)
       }
    }

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    });


    var sendAjax = function(obj) {
        var val= $("#search").val();
        if(val==""){
            $(".all").show();
            $(".search-result").text("").hide();
            return;
        }
        $.ajax({
            type:"post",
            url: "{:Url('Responsibility/search')}",
            data:{
                name:val
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                console.log(data)
                if(data.code == 1){
                    $(".all").hide();
                    $(".noresult").hide();
                    $(".search-result").show();
                    addLists(data,2);
                    var dataLen =data.data.length;
                    if(data.data.length == 10){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    $(".all").hide();
                   $(".search-result").show().html("<p class='noresult'>无搜索结果</P>")
                }
            }
        })

    };
    var debounce = function() {
        var wait = 1000;
        var timeout;
        return function () {
            if (timeout) clearTimeout(timeout);
            timeout = setTimeout(sendAjax, wait);
        }
    };

    document.getElementById('search').addEventListener('keyup', debounce(), false);
</script>
{/block}