{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/publish.css">
<style>
    .none{
        display: none;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="list">
        <ul>
            {empty name="msg"}
            <li class="type2 none">
                模块
                <a id="openPopover2" href="#popover2">书记述职</a>
                <span class="triangle-down"></span>
            </li>
            <li class="type3 none">
                模块
                <a id="openPopover3" href="#popover3">工作要点</a>
                <span class="triangle-down"></span>
            </li>
            <li>
                模板
                <a id="openPopover" href="#popover">普通型</a>
                <span class="triangle-down"></span>
            </li>
            {else/}
            {eq name="$msg.type" value="2"}
            <li class="type3 none">
                模块
                {eq name="$msg.class" value="1"}
                <a id="openPopover3" href="#popover3">工作要点</a>
                {else/}
                <a id="openPopover3" href="#popover3">责任清单</a>
                {/eq}
                <span class="triangle-down"></span>
            </li>
            {/eq}
            {eq name="$msg.type" value="3"}
            <li class="type2 none">
                模块
                {eq name="$msg.class" value="1"}
                <a id="openPopover2" href="#popover2">书记述职</a>
                {else/}
                <a id="openPopover2" href="#popover2">支部书记述职</a>
                {/eq}
                <span class="triangle-down"></span>
            </li>
            {/eq}
            <li>
                模板
                {eq name="$msg.templet" value="1"}
                <a id="openPopover" href="#popover" data-templet="{$msg.templet}">普通型</a>
                {else/}
                <a id="openPopover" href="#popover" data-templet="{$msg.templet}">轮播型</a>
                {/eq}
                <span class="triangle-down"></span>
            </li>
            {/empty}
            <li>
                标题
                <input style="text" placeholder="请输入标题" value="{$msg.title || default=''}" name="title">
            </li>
            <div class="content">
                <textarea placeholder="请输入内容..." name="content">{$msg.content || default=''}</textarea>
                <div class="imgs clear">
                    {notempty name="$msg"}
                    {volist name="msg.list_images" id="img"}
                    <div class="img fl "><img src="{$img|get_cover='path'}" alt="" data-tab="{$img}"></div>
                    {/volist}
                    {/notempty}
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="add fl"></div>
                </div>
                <div style="color: #666;font-size: 0.32rem">（您最多上传3张图片，图片小于5M）</div>
                <input type="file" class="hide" id="upimg" accept="image/jpg, image/png, image/gif, image/jpeg">
                <input type="hidden" name="id" value="{$msg.id || default=''}">
            </div>
        </ul>
    </div>
    <div class="save">保&emsp;存</div>
    <div class="goreview">去审核</div>
    <p>注：点击保存将保存至个人中心-我的草稿；点击去审核，审核通过后将在相应栏目发布，并保存至我的发布。</p>

    <div id="popover" class="mui-popover" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell" ><a>普通型</a></li>
            <li class="mui-table-view-cell"><a>轮播型</a></li>
        </ul>
    </div>

    <div id="popover2" class="mui-popover" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a>书记述职</a></li>
            <li class="mui-table-view-cell"><a>支部书记述职</a></li>
        </ul>
    </div>


    <div id="popover3" class="mui-popover" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a>工作要点</a></li>
            <li class="mui-table-view-cell"><a>责任清单</a></li>
        </ul>
    </div>
</div>
<div class="loading"></div>
<div class="shadow"></div>
{/block}

{block name="script"}
<script src="/home/js/common/publish.js"></script>
<script>
    var type =  parseInt(window.location.href.split("publish/type/")[1]);
    var c =  parseInt(window.location.href.split("style/")[1]);
    var index = window.location.href.split("?")[1]?window.location.href.split("?")[1]:-1;
    $(function(){
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $(".main").css({"width":"640px","left":"50%","margin-left":"-320px","position":"relative","min-height":"90vh","margin-top":"5vh"});
            $(".list ul li").css("position","relative");
            $(".list ul textarea").css("height","300px");
            $(".goreview+p").css({"width":"640px","margin":"0 auto"});
        }
        imgresize();
        if($(".img img").length==3){
            $(".add").hide();
        }
        if(type==1){
            $("title").text("专题研究");
        }else if(type==2){
            $("title").text("责任清单");
            $(".type3").show();
            if(index>=0){
                if(index==0){
                    $("#openPopover3").html("工作要点");
                }else if(index==1){
                    $("#openPopover3").html("责任清单");
                }
            }
        }else if(type==3){
            $("title").text("述职报告");
            $(".type2").show();
            if(index>=0){
                if(index==0){
                    $("#openPopover2").html("书记述职");
                    $("textarea").attr("placeholder","请输入内容，不少于1000字...");

                }else if(index==1){
                    $("#openPopover2").html("支部书记述职");
                    $("textarea").attr("placeholder","请输入内容，不少于800字...");
                }
            }
        }
    });

    $("#popover ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover").html(select_it);
        mui('#popover').popover("hide");
    });

    $("#popover3 ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover3").html(select_it);
        mui('#popover3').popover("hide");
    });

    $("#popover2 ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover2").html(select_it);
        if(select_it=="书记述职"){
            $("textarea").attr("placeholder","请输入内容，不少于1000字...");
        }else{
            $("textarea").attr("placeholder","请输入内容，不少于800字...");
        }
        mui('#popover2').popover("hide");
    });


  //保存
    $(".save").click(function(){
        var templet = $("#openPopover").html();
        var userid = "{$userId}";
        var data = {};
        if(type==1){
            var data={
                class:0,
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                id:$("input[name='id']").val(),
                userid:userid,
                type:type,
                status:3
            };
        }else if(type==2){
            var _class = $("#openPopover3").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                id:$("input[name='id']").val(),
                userid:userid,
                type:type,
                status:3
            };
            if(_class=="工作要点"){
                data["class"] = 1;
            }else{
                data["class"] = 2;
            }
        }else if(type==3){
            var _class = $("#openPopover2").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                id:$("input[name='id']").val(),
                userid:userid,
                type:type,
                status:3
            };
            if(_class=="书记述职"){
                data["class"] = 1;
            }else{
                data["class"] = 2;
            }
        }
            data['list_images']=[];
            if(templet == "普通型"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            })
//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Responsibility/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "保存成功",
                            text: '请至个人中心——我的草稿中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
    });


    //去审核
    $(".goreview").click(function(){
        var single = false;
        var templet = $("#openPopover").html();
        var userid = "{$userId}";
        if(type==1){
            var data={
                class:0,
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type,
                status:0
            };
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""){
                    single = true;
                    continue;
                }
            }
        }else if(type==2){
            var _class = $("#openPopover3").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                id:$("input[name='id']").val(),
                userid:userid,
                type:type,
                status:0
            };
            if(_class=="工作要点"){
                data["class"] = 1;
            }else{
                data["class"] = 2;
            }
        }else if(type==3){
            var _class = $("#openPopover2").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                id:$("input[name='id']").val(),
                type:type,
                status:0
            };
            if(_class=="书记述职"){
                data["class"] = 1;
                 if(data["content"].length<1000){
                        swal({
                            title: ' ',
                            text: '内容不少于1000字',
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                        return;
                    }
            }else{
                data["class"] = 2;
                if(data["content"].length<800){
                    swal({
                        title: ' ',
                        text: '内容不少于800字',
                        type: 'error',
                        showConfirmButton:false,
                        timer:1500
                    });
                    return;
                }
            }
        }

        for(var key in data){
            if(data["title"]!= ''&& data["content"]!=""){
                single = true;
                continue;
            }
        }

        if(single){
            data['list_images']=[];
            if(templet == "普通型"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            });
            if( data["templet"] == 2){
                if(data['list_images'].length==0){
                    swal({
                        title: ' ',
                        text: '请至少上传一张图片',
                        type: 'error',
                        showConfirmButton:false,
                        timer:1500
                    });
                    return false;
                }

            }

//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Responsibility/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "提交成功",
                            text: '审核后可在个人中心——我的发布中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }else{
            swal({
                title: ' ',
                text: '信息输入不完整',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
        }
    });

</script>

{/block}