{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/publish.css">
<style>
    .none{
        display: none;
    }
</style>
{/block}

{block name="body"}
<div class="list">
    <ul>
        <li class="type2 none">
            模块
            <a id="openPopover2" href="#popover2">书记述职</a>
            <span class="triangle-down"></span>
        </li>
        <li>
            模板
            <a id="openPopover" href="#popover">模板1</a>
            <span class="triangle-down"></span>
        </li>
        <li>
            标题
            <input style="text" placeholder="请输入标题" name="title">
        </li>
        <div class="content">
            <textarea placeholder="请输入内容，不少于500字..." name="content"></textarea>
            <div class="imgs clear">
                <div class="img fl hide"></div>
                <div class="img fl hide"></div>
                <div class="img fl hide"></div>
                <div class="add fl">
                    +
                </div>
            </div>
            <div style="color: #666;font-size: 0.32rem">（您最多上传3张图片，图片小于3M）</div>
            <input type="file" class="hide" id="upimg" accept="image/jpg, image/png, image/gif, image/jpeg">
        </div>
    </ul>
</div>
<div class="save">保&emsp;存</div>
<div class="goreview">去审核</div>
<p>注：点击保存将保存至个人中心-我的草稿；点击去审核，审核通过后将在相应栏目发布，并保存至我的发布。</p>

<div id="popover" class="mui-popover" >
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a>模板1</a></li>
        <li class="mui-table-view-cell"><a>模板2</a></li>
    </ul>
</div>

<div id="popover2" class="mui-popover" >
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a>书记述职</a></li>
        <li class="mui-table-view-cell"><a>支部书记述职</a></li>
    </ul>
</div>
{/block}

{block name="script"}
<script src="/home/js/common/publish.js"></script>
<script>
    var type =  parseInt(window.location.href.split("publish/type/")[1]);
    var c =  parseInt(window.location.href.split("style/")[1])?parseInt(window.location.href.split("style/")[1]):null;
    var index =  parseInt(window.location.href.split("?")[1])?parseInt(window.location.href.split("?")[1]):null;
    $(function(){
        $("title").text("党建责任");
        if(type==3){
            $(".type2").show();
        }
        if(index==0){
            $("#openPopover2").html("书记述职");
        }else if(index==1){
            $("#openPopover2").html("支部书记述职");
        }
    })

    $("#popover ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover").html(select_it);
        mui('#popover').popover("hide");
    })

    $("#popover2 ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover2").html(select_it);
        mui('#popover2').popover("hide");
    });



  //保存
    $(".save").click(function(){
        var single = false;
        var templet = $("#openPopover").html();
        var userid = {$userId};
        if(c==1){
            var data={
                class:0,
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                type:type,
                status:3
            };
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""){
//                    if(data["content"].length<300){
//                        swal({
//                            title: ' ',
//                            text: '内容不少于500字',
//                            type: 'error',
//                            showConfirmButton:false,
//                            timer:1500
//                        });
//                        return;
//                    }
                    single = true;
                    continue;
                }
            }
        }else if(c==2){
            var _class = $("#openPopover2").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                create_user:userid,
                type:type
            };
            if(_class=="书记述职"){
                data["class"] = 1;
            }else{
                data["class"] = 2;
            }
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""){
//                    if(data["content"].length<300){
//                        swal({
//                            title: ' ',
//                            text: '内容不少于500字',
//                            type: 'error',
//                            showConfirmButton:false,
//                            timer:1500
//                        });
//                        return;
//                    }
                    single = true;
                    continue;
                }
            }
        }
        if(single){
            data['list_images']=[];
            if(templet == "模板1"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            data[status] = 3;
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            })

//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Responsibility/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "保存成功",
                            text: '请至个人中心——我的草稿中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }else{
            swal({
                title: ' ',
                text: '信息输入不完整',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
        }
    });


    //去审核
    $(".goreview").click(function(){
        var single = false;
        var templet = $("#openPopover").html();
        var userid = {$userId};
        if(c==1){
            var data={
                class:0,
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                userid:userid,
                type:type,
                status:0
            };
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""){
//                    if(data["content"].length<300){
//                        swal({
//                            title: ' ',
//                            text: '内容不少于500字',
//                            type: 'error',
//                            showConfirmButton:false,
//                            timer:1500
//                        });
//                        return;
//                    }
                    single = true;
                    continue;
                }
            }
        }else if(c==2){
            var _class = $("#openPopover2").html();
            var data={
                title:$("input[name='title']").val(),
                content:$("textarea[name='content']").val(),
                create_user:userid,
                type:type
            };
            if(_class=="书记述职"){
                data["class"] = 1;
            }else{
                data["class"] = 2;
            }
            for(var key in data){
                if(data["title"]!= ''&& data["content"]!=""){
//                    if(data["content"].length<300){
//                        swal({
//                            title: ' ',
//                            text: '内容不少于500字',
//                            type: 'error',
//                            showConfirmButton:false,
//                            timer:1500
//                        });
//                        return;
//                    }
                    single = true;
                    continue;
                }
            }
        }
        if(single){
            data['list_images']=[];
            if(templet == "模板1"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            data[status] = 0;
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            })

//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Responsibility/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "提交成功",
                            text: '审核后可在个人中心——我的发布中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }else{
            swal({
                title: ' ',
                text: '信息输入不完整',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
        }
    });

</script>

{/block}