{extend name="base/common"}

{block name="style"}
<link rel="stylesheet" href="/static/datepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/iCheck/custom.css">
<link rel="stylesheet" href="/admin/css/chosen/chosen.css">
<style>
    textarea{
        resize:none;
    }
    .imggroup{
        position: relative;
    }
    .imgbox{
        height: 100px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .imgfile{
        height: 100px;
        width: 200px;
        position: absolute;
        top:0;
        opacity: 0;
    }
    .hide{
        display: none;
    }
    .add,.add2{
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        line-height:28px;
        margin-left: 20px;
        display: inline-block;
    }
    /*a  upload */
    .videofile {
        position: relative;
        display: inline-block;
        background: #dfdfdf;
        border: 1px solid #999;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #333;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
        width:280px;
    }
    .videofile:nth-child(2),.videofile:nth-child(3){
        margin-left: 20px;
    }

    .videofile input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .videofile:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }
</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>通知公告</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:Url('Notice/index')}">相关通知</a>
            </li>
            <li class="active">
                <strong>{empty name="info"}新增{else/}修改{/empty}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{empty name="info"}新增{else/}修改{/empty}页面</h5>
                    <div class="ibox-tools">
                        <a href="javascript:window.history.go(-1);" class="btn btn-white btn-sm"><i class="fa fa-reply"></i> 返回</a>
                    </div>
                </div>
                <div class="ibox-content all">
                    <form id="form" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>封面图片:</label>
                            </div>
                            <div class="col-lg-5">
                                {empty name="info"}
                                <div class="imggroup">
                                    <img src="" alt='图片' class='thumbnail imgbox'>
                                    <input type="file" class="imgfile" accept="image/png , image/jpg ,image/jpeg ,image/gif">
                                    <input type="hidden" name="front_cover" class="img"  value="" required="">
                                </div>
                                {else/}
                                <div class="imggroup">
                                    <img src="{$info.front_cover|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    <input type="file" class="imgfile" accept="image/png , image/jpg ,image/jpeg ,image/gif">
                                    <input type="hidden" name="front_cover" class="img"  value="{$info.front_cover}" required="">
                                </div>
                                {/empty}
                                <b>推荐尺寸：500*400px</b>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>标题:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入标题..." class="form-control form_title" name="title" value="{$info.title || default = ''}">
                            </div>
                        </div>
                        <div class="form-group" id="timeRange">
                            <div class="col-lg-1 text-right control-label">
                                <label>时间:</label>
                            </div>
                            <div class="col-lg-11">
                                <div class="date">
                                    {empty name="info"}
                                    <input type="text" placeholder="请输入时间...(可为空)" class="form-control datetimepicker" name="start_time"  value=""/>
                                    {else/}
                                    {eq name="info.start_time" value="1970-01-01 08:00"}
                                    <input type="text" placeholder="请输入时间...(可为空)" class="form-control datetimepicker" name="start_time"  value=""/>
                                    {else/}
                                    <input type="text" placeholder="请输入时间...(可为空)" class="form-control datetimepicker" name="start_time"  value="{$info.start_time}"/>
                                    {/eq}
                                    {/empty}

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>地点:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入详细地点...(可为空)" class="form-control form_title" name="address" value="{$info.address || default = ''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 control-label">
                                <label>内容:</label>
                            </div>
                            <div class="col-lg-11">
                                <div class=" float-e-margins">
                                    <div class="ibox-content no-padding borders">
                                        <script id="container" name="content" type="text/plain">{$info.content || default = ''}</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>发布人:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入发布人..." class="form-control form_title" name="publisher" value="{$info.publisher || default = ''}">
                            </div>
                        </div>
                        <div class="form-group" id="timeRange">
                            <div class="col-lg-1 text-right control-label">
                                <label>截止时间:</label>
                            </div>
                            <div class="col-lg-11">
                                <div class="date">
                                    {empty name="info"}
                                    <input type="text" placeholder="请输入截止时间" class="form-control datetimepicker" name="end_time"  value=""/>
                                    {else/}
                                    <input type="text" placeholder="请输入截止时间" class="form-control datetimepicker" name="end_time"  value="{$info.end_time}"/>
                                    {/empty}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>推送类型:</label>
                            </div>
                            {empty name="info"}
                            <div class="col-lg-11">
                                <label class="i-checks">
                                    <input type="radio" value="2" name="type">考核人员
                                </label>
                                <label class="i-checks">
                                    <input type="radio" checked="" value="1" name="type">所有人
                                </label>
                            </div>
                            {else/}
                            <div class="col-lg-11">
                                <label class="i-checks">
                                    <input type="radio" value="2" name="type" {eq name="$info.type" value="2"} checked="" {/eq}>考核人员
                                </label>
                                <label class="i-checks">
                                    <input type="radio"  value="1" name="type" {eq name="$info.type" value="1"} checked="" {/eq} >所有人
                                </label>
                            </div>
                            {/empty}
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="col-lg-1 text-right control-label">-->
                                <!--<label>是否推荐:</label>-->
                            <!--</div>-->
                            <!--{empty name="info"}-->
                            <!--<div class="col-lg-11">-->
                                <!--<label class="i-checks">-->
                                    <!--<input type="radio" value="1" name="recommend">是-->
                                <!--</label>-->
                                <!--<label class="i-checks">-->
                                    <!--<input type="radio" checked="" value="0" name="recommend">否-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--{else/}-->
                            <!--<div class="col-lg-11">-->
                                <!--<label class="i-checks">-->
                                    <!--<input type="radio" value="1" name="recommend" {eq name="$info.recommend" value="1"} checked="" {/eq}>是-->
                                <!--</label>-->
                                <!--<label class="i-checks">-->
                                    <!--<input type="radio" value="0" name="recommend" {eq name="$info.recommend" value="0"} checked="" {/eq}>否-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--{/empty}-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>上传附件:</label>
                            </div>
                            <div class="videogroup">
                                {empty name="info"}
                                <div class="group">
                                    <div class="col-lg-3 videofile showup original">选择文件：<span id="filename1">未选择上传文件</span>
                                        <input type="file" id="file1" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">
                                        <input type="hidden" name="file" class="img localpath"  value="" required="">
                                    </div>
                                    <div class="col-lg-3 videofile hide original">选择文件：<span id="filename2">未选择上传文件</span>
                                        <input type="file" id="file2" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">
                                        <input type="hidden" name="file" class="img localpath"  value="" required="">
                                    </div>
                                    <div class="col-lg-3 videofile hide original">选择文件：<span id="filename3">未选择上传文件</span>
                                        <input type="file" id="file3" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">
                                        <input type="hidden" name="file" class="img localpath"  value="" required="">
                                    </div>
                                </div>
                                <div class="add">+</div>
                                {else/}
                                {empty name="info.files"}
                                <div class="col-lg-3 videofile show modify">选择文件：<span id="filename1">未选择上传文件</span>
                                    <input type="file" id="file1" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">
                                    <input type="hidden" name="file" class="img localpath"  value="" required="">
                                </div>
                                {else/}

                                <div class="group">
                                    {volist name="info.files" id="f" key="k"}
                                    <div class="col-lg-3 videofile showup modify">选择文件：<span id="filename{$k}">{$f.name}</span>
                                        <input type="file" id="file{$k}" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file" value="22">
                                        <input type="hidden" name="file" class="img localpath"  value="{$f.id}" required="">
                                    </div>
                                    {/volist}
                                </div>
                                {/empty}
                                <div class="add2">+</div>
                                {/empty}
                                <div class="clear"></div>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$info.id || default=''}"/>
                        <div class="form-group">
                            <div class="col-lg-11 col-lg-offset-1">
                                <button class="btn btn-primary submit-btn post-add" type="button" target-form="form-horizontal">发布</button>
                                <a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a>
                            </div>
                        </div>
                        <div class="selblo"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/iCheck/icheck.min.js"></script>
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>
<script src="/admin/js/chosen.jquery.js"></script>
<!--时间日历-->
<script src="/static/datepicker/bootstrap-datetimepicker.js"></script>
<script>
    //导航高亮
    var len1 = $(".original.showup").length;
    var len2 = $(".modify.showup").length;
    if(len1==3){
        $(".add").hide();
    }
    if(len2==3){
        $(".add2").hide();
    }
    highlight_subnav("{:Url('Notice/index')}");

    //上传图片
    $(document ).ready(function () {
        var plus = $('.plus');
        var imgnum = 1;
        plus.on('click',function(){
            var it = $(this);
            it.hide().next().fadeIn();
            imgnum = 3;
            if(!it.hasClass('plus2')){
                plus.eq(1).fadeIn();
                imgnum = 2
            }
        });
        $(".imgfile").on("change",function(){
            var size = ($(this)[0].files[0].size / 1024).toFixed(2);
            var imgBox = $(this);
            if(size <= 2048){
                var img = $(this)[0].files[0];
                var formData = new FormData();
                var pic=$(this);
                formData.append("picture",img);
                $.ajax({
                    type:"post",
                    url:"{:Url('File/uploadPicture')}",
                    data:formData,
                    processData : false,
                    contentType : false,
                    success:function(m){
                        var msg = $.parseJSON(m);
                        var path = msg.data.path;

                        if(msg['code'] == 1){
                            imgBox.siblings(".img").val(msg.data["id"]);
                            //显示图片缩略图
                            pic.parent().find("img" ).attr({src:path});
                        } else {
                            warning({msg:msg['msg']});
                            return;
                        }
                    }
                });

            } else {
                warning({msg:"您选择的图片超过2mb，请重新选择"});
                return;
            }
        });
        var ue = UE.getEditor('container',{
            initialFrameHeight:400
        });
        $(".post-add").off('click').on("click",function(){
            var file=[];
            var it=$(this);
            $(".videofile").each(function(){
                if($(this).children("input[name='file']").val()){
                    file.push($(this).children("input[name='file']").val());
                }
            });

            var data = {
                id:$("input[name='id']").val(),
                front_cover:$("input[name='front_cover']").val(),
                title:$("input[name='title']").val(),
                start_time:$("input[name='start_time']").val(),
                end_time:$("input[name='end_time']").val(),
                content:ue.getContent(),
                address:$("input[name='address']").val(),
                publisher:$("input[name='publisher']").val(),
//                recommend:$("input[name='recommend']:checked").val(),
                type:$("input[name='type']:checked").val(),
                file:file,
                push:0
            };
            $.ajax({
                type:"post",
                url:$("#form").attr("action"),
                data:data,
                success:function(data){
                    if(data.code == 1){
                        if (data.url) {
                            updateAlert(data.msg + ' 页面即将自动跳转~','success');
                        }else{
                            updateAlert(data.msg ,'success');
                        }
                        it.prop('disabled','true');
                        it.next('button').prop('disabled','true');
                        setTimeout(function(){
                            if (data.url) {
                                location.href=data.url;
                            } else {
                                location.reload();
                            }
                            it.removeAttr('disabled');
                            it.next('button').removeAttr('disabled')
                        },2000);
                    } else {
                        updateAlert(data.msg, 'error');
                        it.prop('disabled','true');
                        it.next('button').prop('disabled','true');
                        setTimeout(function(){
                            it.removeAttr('disabled');
                            it.next('button').removeAttr('disabled')
                        },2000);
                    }
                }
            });
            return false;
        });

    });
</script>
<script>
    $(function(){
        //    时间日历
        $( ".datetimepicker" ).datetimepicker( {
            language:  'cn',
            format: 'yyyy-mm-dd hh:ii',
            minView: "hour",
            forceParse: false,
            todayBtn: true,
            autoclose: true,
            todayHighlight: 1,
            minuteStep: 5

        });
        //    单选按钮
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
        //下拉菜单
        $("select").chosen({
            no_results_text: "没有找到该选项",
            allow_single_de: true,
            width:'100%',
            max_selected_options:'100'
        });
        var selgp = $(".selgp");
        var selgp2 = $(".selgp2");
        selHeight(selgp);
        selHeight(selgp2);
        function selHeight(e){
            e.find('ul').on('click',function(){
                var results = $(this ).next().find('.chosen-results' );
                var h= results.height();
                h=h-100;
                $('.selblo' ).animate({'height':h+'px'},100);
                //切出页面
                var hiddenProperty = 'hidden' in document ? 'hidden' :
                        'webkitHidden' in document ? 'webkitHidden' :
                                null;
                var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');
                var onVisibilityChange = function(){
                    if (!document[hiddenProperty]) {
                        //selgp.find('.search-field').find('input').on('blur');
                    }else{
                        e.find('.search-field').find('input').off('blur');
                    }
                };
                $(document).on(visibilityChangeEvent, onVisibilityChange);
            });
            e.find('.search-field').find('input').on('blur',function(){
                setTimeout(function(){
                    $('.selblo' ).animate({'height':'0'});
                },100)
            });
        }
    })

    $(".add").on("click",function(){
        var filelen = $(".videofile.showup").length;
        $('.videofile').eq(filelen).removeClass('hide').addClass('showup');
        if(filelen==2){
            $(".add").hide();
        }
    });

    $(".add2").on("click",function(){
        var filelen = $(".videofile.showup").length;
        var len = parseInt(filelen)+1;
        var html='';
        html+=
                '<div class="col-lg-3 videofile showup" style="margin-left: 20px;display: inline-block;">选择文件：'+
                '<span id="filename'+len+'">未选择上传文件</span>'+
                '<input type="file" id="file'+len+'" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">'+
                '<input type="hidden" name="file" class="img localpath"  value="" required="">'+
                '</div>'
        $(".group").append(html);
        $("input[name='input-file']").on("change",function(){
            var size = ($(this)[0].files[0].size / 1024).toFixed(2);
            var id= $(this).attr("id");
            var nameid= $(this).parent(".videofile").find("span").attr("id");
            if(size <= 1024*5){
                var file = $(this)[0].files[0];
                var formData = new FormData();
                formData.append("download",file);
                $.ajax({
                    type:"post",
                    url:"{:Url('File/upload')}",
                    data:formData,
                    processData : false,
                    contentType : false,
                    success:function(d){
                        var data = $.parseJSON(d);
                        console.log(data)
                        if(data.status == 1){
                            console.log(data.data.name)
                            $("#"+nameid).text(data.data.name);
                            $("#"+id).next("input[name='file']").val(data.data.id);
                        }else {
                            warning({msg:"上传失败"});
                        }
                    }
                });
            } else {
                warning({msg:"您选择的视频超过5mb，请重新选择"});
                return;
            }
        });
        if(filelen==2){
            $(".add2").hide();
        }
    });

    //上传文件
    $("input[name='input-file']").on("change",function(){
        var size = ($(this)[0].files[0].size / 1024).toFixed(2);
        var id= $(this).attr("id");
        var nameid= $(this).parent(".videofile").find("span").attr("id");
        if(size <= 1024*5){
            var file = $(this)[0].files[0];
            var formData = new FormData();
            formData.append("download",file);
            $.ajax({
                type:"post",
                url:"{:Url('File/upload')}",
                data:formData,
                processData : false,
                contentType : false,
                success:function(d){
                    var data = $.parseJSON(d);
                    console.log(data)
                    if(data.status == 1){
                        console.log(data.data.name)
                        $("#"+nameid).text(data.data.name);
                        $("#"+id).next("input[name='file']").val(data.data.id);
                    }else {
                        warning({msg:"上传失败"});
                    }
                }
            });
        } else {
            warning({msg:"您选择的视频超过5mb，请重新选择"});
            return;
        }
    });

</script>



{/block}