{extend name="public/common"}

{block name="style"}
<title>作风建设</title>
<style>
    .bg_img{
        margin:0 0.32rem;
    }
    .bg_img img{
        width:100%;
        height:3.2rem;
       margin: calc((100vh - 12.8rem) / 8) 0;
        display: block;
    }
</style>
{/block}

{block name="body"}
<div class="bg_img">
    <img src="/home/images/style/style1.png">
    <img src="/home/images/style/style2.png">
    <img src="/home/images/style/style3.png">
    <img src="/home/images/style/style4.png">
</div>
{/block}

{block name="script"}

{/block}