{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/publish.css">
{/block}

{block name="body"}
<div class="main">
    <div class="list">
        <ul>
            {empty name="msg"}
            <li>
                模板
                <a id="openPopover" href="#popover">普通型</a>
                <span class="triangle-down"></span>
            </li>
            {else/}
            <li>
                模板
                {eq name="$msg.templet" value="1"}
                <a id="openPopover" href="#popover">普通型</a>
                {else/}
                <a id="openPopover" href="#popover">轮播型</a>
                {/eq}
                <span class="triangle-down"></span>
            </li>
            {/empty}
            <li>
                标题
                <input style="text" placeholder="请输入标题" name="title" value="{$msg.title || default=''}">
            </li>
            <div class="content">
                <textarea placeholder="请输入内容..." name="content">{$msg.content || default=''}</textarea>
                <div class="imgs clear">
                    {notempty name="$msg"}
                    {volist name="msg.list_images" id="img"}
                    <div class="img fl "><img src="{$img|get_cover='path'}" alt="" data-tab="{$img}"></div>
                    {/volist}
                    {/notempty}
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="img fl hide"></div>
                    <div class="add fl"></div>
                </div>
                <div style="color: #666;font-size: 0.32rem">（您最多上传3张图片，图片小于5M）</div>
                <input type="file" class="hide" id="upimg" accept="image/jpg, image/png, image/gif, image/jpeg">
                <input type="hidden" name="id" value="{$msg.id || default=''}">
            </div>
        </ul>
    </div>
    <div class="save">保&emsp;存</div>
    <div class="goreview">去审核</div>
    <p>注：点击保存将保存至个人中心-我的草稿；点击去审核，审核通过后将在相应栏目发布，并保存至我的发布。</p>

    <div id="popover" class="mui-popover" >
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a>普通型</a></li>
            <li class="mui-table-view-cell"><a>轮播型</a></li>
        </ul>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/common/publish.js"></script>
<script>
    var type =  parseInt(window.location.href.split("/type/")[1]);
    $(function(){

        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $(".main").css({"width":"640px","left":"50%","min-height":"90vh","margin":"5vh 0 0 -320px","position":"relative"});
            $(".list").css({"width":"640px","margin":"0 auto"});
            $(".list ul li").css("position","relative");
            $(".list ul textarea").css("height","300px");
            $(".goreview+p").css({"width":"640px","margin":"0 auto"});
        }


        imgresize();
        if($(".img img").length==3){
            $(".add").hide();
        }
//模块标题
        if(type==1){
            $("title").text("方案部署");
        }else if(type==2){
            $("title").text("金点子");
        }else if(type==3){
            $("title").text("培树典型");
        }else if(type==4){
            $("title").text("党员清单");
        }
    })

    $("#popover ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover").html(select_it);
        mui('#popover').popover("hide");
    })

    //保存
    $(".save").click(function(){
        var templet = $("#openPopover").html();
        var userid = "{$userId}";
        var data={
            title:$("input[name='title']").val(),
            content:$("textarea[name='content']").val(),
            userid:userid,
            id:$("input[name='id']").val(),
            type:type,
            status:3
        };
            data['list_images']=[];
            if(templet == "普通型"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            data["status"] = 3;
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            })

//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Style/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "保存成功 ",
                            text: '请至个人中心——我的草稿中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
    });


    //去审核
    $(".goreview").click(function(){
        var single = false;
        var templet = $("#openPopover").html();
        var userid = "{$userId}";
        var data={
            title:$("input[name='title']").val(),
            content:$("textarea[name='content']").val(),
            userid:userid,
            id:$("input[name='id']").val(),
            type:type,
            status:0
        };
        for(var key in data){
            if(data["title"]!= ''&& data["content"]!=""){
                single = true;
                continue;
            }
        }
        if(single){
            data['list_images']=[];
            if(templet == "普通型"){
                data["templet"] = 1;
            }else{
                data["templet"] = 2;
            }
            data["status"] = 0;
            $(".img img").each(function(){
                if($(this).data("tab")){
                    data['list_images'].push($(this).data("tab")+"")  ;
                }
            });

            if( data["templet"] == 2){
                if(data['list_images'].length==0){
                    swal({
                        title: ' ',
                        text: '请至少上传一张图片',
                        type: 'error',
                        showConfirmButton:false,
                        timer:1500
                    });
                    return false;
                }

            }

//            data['list_image'] = [$('.img:nth-child(1) img').attr('data-tab'),$('.img:nth-child(2) img').attr('data-tab'),$('.img:nth-child(3) img').attr('data-tab')];
            $.ajax({
                type:"post",
                url: "{:Url('Style/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "提交成功",
                            text: '审核后可在个人中心——我的发布中查看',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }else{
            swal({
                title: ' ',
                text: '信息输入不完整',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
        }
    });

</script>

{/block}