{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/publish.css">
{/block}

{block name="body"}
<div class="list">
    <ul>
        <li>
            模板
            <a id="openPopover" href="#popover">请选择模板</a>
            <span class="triangle-down"></span>
        </li>
        <li>
            标题
            <input style="text" placeholder="请输入标题">
        </li>
        <div class="content">
            <textarea placeholder="请输入内容，不少于500字..."></textarea>
            <div class="imgs clear">
                <div class="img fl hide"></div>
                <div class="img fl hide"></div>
                <div class="img fl hide"></div>
                <div class="img fl hide"></div>
                <div class="add fl">
                    +
                </div>
            </div>
            <input type="file" class="hide" id="upimg" accept="image/jpg, image/png, image/gif, image/jpeg">
        </div>
    </ul>
</div>
<div class="save">保&emsp;存</div>
<div class="goreview">去审核</div>
<p>注：点击保存将保存至个人中心-我的草稿；点击去审核，审核通过后将在相应栏目发布，并保存至我的发布。</p>

<div id="popover" class="mui-popover" >
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a>模板1</a></li>
        <li class="mui-table-view-cell"><a>模板2</a></li>
    </ul>
</div>
{/block}

{block name="script"}
<script src="/home/js/common/publish.js"></script>
<script>
    $(function(){

    })

    $("#popover ul li").click(function(){
        var select_it = $(this).text();
        $("#openPopover").html(select_it);
        mui('#popover').popover("hide");
    })
</script>

{/block}