{extend name="base/common"}

{block name="style"}
<link rel="stylesheet" href="/static/iCheck/custom.css">
<link rel="stylesheet" href="/admin/css/chosen/chosen.css">
<style>
    .imggroup{
        position: relative;
    }
    .imgbox{
        height: 100px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .imgfile{
        height: 100px;
        width: 200px;
        position: absolute;
        top:0;
        opacity: 0;
    }
    .plus{
        height: 100px;
        width: 200px;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        color: rgba(204, 204, 204, 0.51);
    }
    .plus:hover{
        font-size: 150px;
    }
    .plus2{
        display: none;
    }
    .plusimg{
        display: none;
    }

    .imggroup_c{
        position: relative;
    }

    .plus_c{
        height: 100px;
        width: 200px;
        font-size: 100px;
        line-height: 100px;
        text-align: center;
        color: rgba(204, 204, 204, 0.51);
    }
    .plus_c:hover{
        font-size: 150px;
    }
    .plus2_c{
        display: none;
    }
    .plusimg_c{
        display: none;
    }
    .hide{
        display: none;
    }
    .add,.add2{
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        position: relative;
        top:8px;
    }
    /*a  upload */
    .videofile {
        position: relative;
        display: inline-block;
        background: #dfdfdf;
        border: 1px solid #999;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #333;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
        width:280px;
    }
    .videofile:nth-child(2),.videofile:nth-child(3){
        margin-left: 20px;
    }

    .videofile input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .videofile:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }
    .detelefile {
        display: inline-block;
        margin-left: 10px;
        line-height: 28px;
        cursor: pointer;
    }
    .detelefile:hover{
        color: #ff5053;
    }
    .hiding{
        visibility: hidden;
    }
    .group{
        display: inline-block;
        margin-left: 15px;
    }
    .modal-dialog{
        margin: 200px auto;
        width:350px;
    }
    .modal-footer{
        text-align: center;
    }
    .modal-footer .btn+.btn{
        margin-left: 60px;
    }
</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>特色创新</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:Url('Special/index')}">管理主页</a>
            </li>
            <li class="active">
                <strong>{empty name="msg"}新增{else/}修改{/empty}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{empty name="msg"}新增页面{else/}修改页面{/empty}</h5>
                    <div class="ibox-tools">
                        <a href="javascript:window.history.go(-1);" class="btn btn-white btn-sm"><i class="fa fa-reply"></i> 返回</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="form" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>封面图片:</label>
                            </div>
                            <div class="col-lg-5">
                                <div class="imggroup">
                                    {eq name="$msg" value=""}
                                    <img src="{$front_pic|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    {else/}
                                    <img src="{$msg.front_cover|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    {/eq}
                                    <input type="file" class="imgfile"  accept="image/jpg, image/png, image/gif, image/jpeg">
                                    <input type="hidden" name="front_cover" class="img"  value="{$msg.front_cover||default=$front_pic}" required="">
                                </div>
                                <b>推荐尺寸：500*400px</b>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>标题:</label>
                            </div>
                            <div class="col-lg-11">
                                <input type="text" placeholder="请输入标题" class="form-control form_title" name="title" value="{$msg.title || default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 control-label">
                                <label>内容:</label>
                            </div>
                            <div class="col-lg-11">
                                <div class=" float-e-margins">
                                    <div class="ibox-content no-padding borders">
                                        <script id="container" name="content" type="text/plain">{$msg.content || default=''}</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>发布人:</label>
                            </div>
                            <div class="col-lg-11">
                                {empty name="$msg"}
                                <input type="text" placeholder="请输入发布人" class="form-control form_title" name="publisher" value="{$name}">
                                {else/}
                                <input type="text" placeholder="请输入发布人" class="form-control form_title" name="publisher" value="{$msg.publisher}">
                                {/empty}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>大会表彰:</label>
                            </div>
                            <div class="col-lg-3">
                                <div class="imggroup imgfileGroup">
                                    {empty name="$msg.commend_img1"}
                                    <img src="" alt='图片' class='thumbnail imgbox'>
                                    {else/}
                                    <img src="{$msg.commend_img1|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    {/empty}
                                    <input type="file" class="imgfile" accept="image/jpg, image/png, image/gif, image/jpeg">
                                    <input type="hidden" name="commend_img1" class="img"  value="{$msg.commend_img1||default=''}" required="">
                                </div>
                                <b>推荐尺寸：700*360px</b>
                            </div>
                            <div class="col-lg-3">
                                <div class=" plus">+</div>
                                <div class="imggroup imgfileGroup plusimg">
                                    {empty name="$msg.commend_img2"}
                                    <img src="" alt='图片' class='thumbnail imgbox'>
                                    {else/}
                                    <img src="{$msg.commend_img2|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    {/empty}
                                    <input type="file" class="imgfile" accept="image/jpg, image/png, image/gif, image/jpeg">
                                    <input type="hidden" name="commend_img2" class="img"  value="{$msg.commend_img2||default=''}" required="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="plus plus2">+</div>
                                <div class="imggroup imgfileGroup plusimg">
                                    {empty name="$msg.commend_img3"}
                                    <img src="" alt='图片' class='thumbnail imgbox'>
                                    {else/}
                                    <img src="{$msg.commend_img3|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    {/empty}
                                    <input type="file" class="imgfile" accept="image/jpg, image/png, image/gif, image/jpeg">
                                    <input type="hidden" name="commend_img3" class="img"  value="{$msg.commend_img3||default=''}" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>交流凭证:</label>
                            </div>
                            <div class="col-lg-3">
                                <div class="imggroup_c imgfileGroup">
                                    {empty name="$msg"}
                                    <img src="" alt='图片' class='thumbnail imgbox'>
                                    {else/}
                                    <img src="{$msg.voucher_img1|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    {/empty}
                                    <input type="file" class="imgfile" accept="image/jpg, image/png, image/gif, image/jpeg">
                                    <input type="hidden" name="voucher_img1" class="img"  value="{$msg.voucher_img1||default=''}" required="">
                                </div>
                                <b>推荐尺寸：700*360px</b>
                            </div>
                            <div class="col-lg-3">
                                <div class=" plus_c">+</div>
                                <div class="imggroup_c imgfileGroup plusimg_c">
                                    {empty name="$msg"}
                                    <img src="" alt='图片' class='thumbnail imgbox'>
                                    {else/}
                                    <img src="{$msg.voucher_img2|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    {/empty}
                                    <input type="file" class="imgfile" accept="image/jpg, image/png, image/gif, image/jpeg">
                                    <input type="hidden" name="voucher_img2" class="img"  value="{$msg.voucher_img2||default=''}" required="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="plus_c plus2_c">+</div>
                                <div class="imggroup_c imgfileGroup plusimg_c">
                                    {empty name="$msg"}
                                    <img src="" alt='图片' class='thumbnail imgbox'>
                                    {else/}
                                    <img src="{$msg.voucher_img3|get_cover='path'}" alt='图片' class='thumbnail imgbox'>
                                    {/empty}
                                    <input type="file" class="imgfile" accept="image/jpg, image/png, image/gif, image/jpeg">
                                    <input type="hidden" name="voucher_img3" class="img"  value="{$msg.voucher_img3||default=''}" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 text-right control-label">
                                <label>上传附件:</label>
                            </div>
                            <div class="videogroup">
                                {empty name="msg"}
                                <div class="group">
                                    <div class="file1 showup original" style="width: 400px;height: 30px;display: inline-block;">
                                        <div class="col-lg-3 videofile">选择文件：<span id="filename1">未选择上传文件</span>
                                            <input type="file" id="file1" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">
                                            <input type="hidden" name="file" class="img localpath"  value="" required="">
                                        </div>
                                        <span class="detelefile hiding">删除</span>
                                    </div>
                                    <div class="file1 hide original" style="width: 400px;height: 30px;display: inline-block;">
                                        <div class="col-lg-3 videofile">选择文件：<span id="filename2">未选择上传文件</span>
                                            <input type="file" id="file2" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">
                                            <input type="hidden" name="file" class="img localpath"  value="" required="">
                                        </div>
                                        <span class="detelefile hiding">删除</span>
                                    </div>
                                    <div class="file1 hide original" style="width: 400px;height: 30px;display: inline-block;">
                                        <div class="col-lg-3 videofile">选择文件：<span id="filename3">未选择上传文件</span>
                                            <input type="file" id="file3" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">
                                            <input type="hidden" name="file" class="img localpath"  value="" required="">
                                        </div>
                                        <span class="detelefile hiding">删除</span>
                                    </div>
                                    <div class="add">+</div>
                                </div>
                                {else/}
                                <div class="group">
                                    {empty name="msg.files"}
                                    <div class="file1 showup modify" style="width: 400px;height: 30px;display: inline-block;">
                                        <div class="col-lg-3 videofile">选择文件：<span id="filename1">未选择上传文件</span>
                                            <input type="file" id="file1" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">
                                            <input type="hidden" name="file" class="img localpath"  value="" required="">
                                        </div>
                                        <span class="detelefile hiding">删除</span>
                                    </div>
                                    {else/}
                                    {volist name="msg.files" id="f" key="k"}
                                    <div class="file1 showup modify" style="width: 400px;height: 30px;display: inline-block;">
                                        <div class="col-lg-3 videofile">选择文件：<span id="filename{$k}">{empty name="f.name"} 未选择上传文件{else/} {$f.name} {/empty}</span>
                                            <input type="file" id="file{$k}" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file" value="22">
                                            {empty name="f.name"}
                                            <input type="hidden" name="file" class="img localpath"  value="" required="">
                                            {else/}
                                            <input type="hidden" name="file" class="img localpath"  value="{$f.id}" required="">
                                            {/empty}
                                        </div>

                                        {empty name="f.name"}
                                        <span class="detelefile hiding">删除</span>
                                        {else/}
                                        <span class="detelefile">删除</span>
                                        {/empty}
                                    </div>
                                    {/volist}
                                    {/empty}
                                </div>
                                <div class="add2">+</div>
                                {/empty}
                                <div class="clear"></div>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$msg.id || default=''}">
                        <div class="form-group">
                            <div class="col-lg-11 col-lg-offset-1">
                                <!--<button class="btn btn-primary submit-btn post-add size" type="button" target-form="form-horizontal" >确定</button>-->
                                <button class="btn btn-primary submit-btn post-put" type="button" target-form="form-horizontal" >发布</button>
                                <a class="btn btn-default" href="javascript:window.history.go(-1);">返回</a>
                            </div>
                        </div>
                        <div class="selblo"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="font-size: 18px;text-align: center">
                确定删除此文件？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary detelefile_btn">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{/block}

{block name="script"}
<script src="/static/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/iCheck/icheck.min.js"></script>
<script src="/static/ueditor/ueditor.config.js"></script>
<script src="/static/ueditor/ueditor.all.min.js"></script>
<script src="/static/iCheck/icheck.min.js"></script>
<script src="/admin/js/chosen.jquery.js"></script>
<script>
    $(function(){
        $(".gray-bg").append($(".footer"));
        $(".ibox-content form").append($(".ibox.float-e-margins>.form-group"));
        $(".ibox-content form").append($(".ibox.float-e-margins>input[type=hidden]"));
        $(".ibox-content form").append($(".ibox.float-e-margins>.selblo"));
        var len1 = $(".original.showup").length;
        var len2 = $(".modify.showup").length;
        if(len1==3){
            $(".add").hide();
        }
        if(len2==3){
            $(".add2").hide();
        }
        highlight_subnav("{:Url('Special/index')}");
        if ($(".plus").next().children("img").attr("src") != "") {
            $(".plus").hide().next().fadeIn();
            $(".plus2").show().next().hide();
            if ($(".plus2").next().children("img").attr("src") != "") {
                $(".plus2").hide().next().fadeIn();
            }
        }
        if ($(".plus_c").next().children("img").attr("src") != "") {
            $(".plus_c").hide().next().fadeIn();
            $(".plus2_c").show().next().hide();
            if ($(".plus2_c").next().children("img").attr("src") != "") {
                $(".plus2_c").hide().next().fadeIn();
            }
        }

        //上传图片
        var plus = $('.plus');
        if({$msg}) {
            var imgnum = {$msg.c}
        }else {
            var imgnum  = 1;
        }
        plus.on('click',function(){
            var it = $(this);
            it.hide().next().fadeIn();
            imgnum = 3;
            if(!it.hasClass('plus2')){
                plus.eq(1).fadeIn();
                imgnum = 2
            }
        });

        var plus_c = $('.plus_c');
        if({$msg}) {
            var imgnum_c = {$msg.v}
        }else {
            var imgnum_c  = 1;
        }
        plus_c.on('click',function(){
            var it = $(this);
            it.hide().next().fadeIn();
            imgnum_c = 3;
            if(!it.hasClass('plus2_c')){
                plus_c.eq(1).fadeIn();
                imgnum_c = 2
            }
        });
        $(document).ready(function () {
            $(".imgfile").on("change",function(){
                var size = ($(this)[0].files[0].size / 1024).toFixed(2);
                var imgBox = $(this);
                if(size <= 2048){
                    var img = $(this)[0].files[0];
                    var formData = new FormData();
                    var pic=$(this);
                    formData.append("picture",img);
                    $.ajax({
                        type:"post",
                        url:"{:Url('File/uploadPicture')}",
                        data:formData,
                        processData : false,
                        contentType : false,
                        success:function(msg){
                            var msg = $.parseJSON(msg);
                            var path = msg.data.path;
                            if(msg['code'] == 1){
                                imgBox.siblings(".img").val(msg.data["id"]);
                                //显示图片缩略图
                                pic.parent().find("img" ).attr({src:path});
                            } else {
                                warning({msg:msg['msg']});
                                return;
                            }
                        }
                    });
                } else {
                    warning({msg:"您选择的图片超过2mb，请重新选择"});
                    return;
                }
            });
        });
        var ue = UE.getEditor('container',{
            initialFrameHeight:400
        });

        //发布
        $(".post-put").on("click",function(){
            var file=[];
            var it=$(this);
            $(".videofile").each(function(){
                if($(this).children("input[name='file']").val()){
                    file.push($(this).children("input[name='file']").val());
                }
            });
            var commend_img1 = $("input[name='commend_img1']").val();
            var commend_img2 = $("input[name='commend_img2']").val();
            var commend_img3 = $("input[name='commend_img3']").val();
            if(imgnum == 1){
                var commend_img = [commend_img1];
            }else if(imgnum == 2){
                commend_img = [commend_img1,commend_img2];
            }else{
                commend_img = [commend_img1,commend_img2,commend_img3];
            }
            var voucher_img1 = $("input[name='voucher_img1']").val();
            var voucher_img2 = $("input[name='voucher_img2']").val();
            var voucher_img3 = $("input[name='voucher_img3']").val();
            if(imgnum_c == 1){
                var voucher_img = [voucher_img1];
            }else if(imgnum_c == 2){
                voucher_img = [voucher_img1,voucher_img2];
            }else{
                voucher_img = [voucher_img1,voucher_img2,voucher_img3];
            }
            var data = {
                id:$("input[name='id']").val(),
                front_cover:$("input[name='front_cover']").val(),
                commend_img: commend_img,
                voucher_img: voucher_img,
                title:$("input[name='title']").val(),
                content:ue.getContent(),
                publisher:$("input[name='publisher']").val(),
                file:file
            };
            $.ajax({
                type:"post",
                url:$("#form").attr("action"),
                data:data,
                success:function(data){
                    if(data.code == 1){
                        if (data.url) {
                            updateAlert(data.msg + ' 页面即将自动跳转~','success');
                        }else{
                            updateAlert(data.msg ,'success');
                        }
                        it.prop('disabled','true');
                        it.prev().prop('disabled','true');
                        setTimeout(function(){
                            if (data.url) {
                                location.href=data.url;
                            } else {
                                location.reload();
                            }
                            it.removeAttr('disabled');
                            it.prev().removeAttr('disabled')
                        },2000);
                    } else {
                        updateAlert(data.msg, 'error');
                        it.attr('disabled','true');
                        it.prev().prop('disabled','true');
                        setTimeout(function(){
                            it.removeAttr('disabled');
                            it.prev().removeAttr('disabled')
                        },2000);
                    }
                }
            });
            return false;
        });
    })

    $(".add").on("click",function(){
        var filelen = $(".file1.showup").length;
        $('.file1').eq(filelen).removeClass('hide').addClass('showup');
        if(filelen==2){
            $(".add").hide();
        }
    });

    $(".add2").on("click",function(){
        var filelen = $(".file1.showup").length;
        var len = parseInt(filelen)+1;
        var html='';
        html+=
                '<div class="file1 showup modify" style="width: 400px;height: 30px;display: inline-block;">'+
                '<div class="col-lg-3 videofile showup" style="margin-left: 20px;display: inline-block;">选择文件：'+
                '<span id="filename'+len+'">未选择上传文件</span>'+
                '<input type="file" id="file'+len+'" accept="application/msword,application/xml-dtd,application/vnd.ms-powerpoint,application/pdf,application/rtf,text/rtf,text/plain,application/vnd.ms-works,application/vnd.ms-excel,aplication/zip,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.spreadsheetml.template,application/vnd.openxmlformats-officedocument.presentationml.template,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.template,application/vnd.ms-excel.addin.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12" name="input-file">'+
                '<input type="hidden" name="file" class="img localpath"  value="" required="">'+
                '</div>'+
                '<span class="detelefile hiding">删除</span>'+
                '</div>'
        $(".group").append(html);
        $(".detelefile").click(function(){
            deletefile_that = $(this);
            $("#myModal").modal('show');
            deletefile_id = deletefile_that.parent().find("input[name='file']").val();
        });


        $(".detelefile_btn").click(function(){
            $.ajax({
                type:"post",
                url:"{:Url('File/file_delete')}",
                data:{
                    id:deletefile_id
                },
                success:function(data){
                    if(data.code == 1){
                        deletefile_that.parent().find("span:first-child").text("未选择上传文件");
                        deletefile_that.parent().find("input[type='file']").val("");
                        deletefile_that.parent().find("input[name='file']").val("");
                        deletefile_that.addClass("hiding");
                        $("#myModal").modal('hide');
                    }
                }
            });
        });

        $("#file"+len).on("change",function(){
            var size = ($(this)[0].files[0].size / 1024).toFixed(2);
            var id= $(this).attr("id");
            var nameid= $(this).parent(".videofile").find("span").attr("id");
            var num= parseInt(id.replace(/[^0-9]/ig,"")-1);
            if(size <= 10240){
                var file = $(this)[0].files[0];
                var formData = new FormData();
                formData.append("download",file);
                $.ajax({
                    type:"post",
                    url:"{:Url('File/upload')}",
                    data:formData,
                    processData : false,
                    contentType : false,
                    success:function(d){
                        var data = $.parseJSON(d);
                        if(data.status == 1){
                            console.log(data.data.name)
                            $("#"+nameid).text(data.data.name);
                            $("#"+id).next("input[name='file']").val(data.data.id);
                            $(".file1").eq(num).find(".detelefile").removeClass("hiding");
                        }else {
                            warning({msg:"上传失败"});
                        }
                    }
                });
            } else {
                warning({msg:"您选择的文件超过10mb，请重新选择"});
                return;
            }
        });
        if(filelen==2){
            $(".add2").hide();
        }
    });

    $(".detelefile").click(function(){
        deletefile_that = $(this);
        $("#myModal").modal('show');
        deletefile_id = deletefile_that.parent().find("input[name='file']").val();
    });


    $(".detelefile_btn").click(function(){
        $.ajax({
            type:"post",
            url:"{:Url('File/file_delete')}",
            data:{
                id:deletefile_id
            },
            success:function(data){
                if(data.code == 1){
                    deletefile_that.parent().find("span:first-child").text("未选择上传文件");
                    deletefile_that.parent().find("input[type='file']").val("");
                    deletefile_that.parent().find("input[name='file']").val("");
                    deletefile_that.addClass("hiding");
                    $("#myModal").modal('hide');
                }
            }
        });
    });

    //上传文件
    $("input[name='input-file']").on("change",function(){
        var size = ($(this)[0].files[0].size / 1024).toFixed(2);
        var id= $(this).attr("id");
        var nameid= $(this).parent(".videofile").find("span").attr("id");
        var num= parseInt(id.replace(/[^0-9]/ig,"")-1);
//                var str = $("<span class='detelefile'>删除</span>");
        if(size <= 10240){
            var file = $(this)[0].files[0];
            var formData = new FormData();
            formData.append("download",file);
            $.ajax({
                type:"post",
                url:"{:Url('File/upload')}",
                data:formData,
                processData : false,
                contentType : false,
                success:function(d){
                    var data = $.parseJSON(d);
                    console.log(data)
                    if(data.status == 1){
                        $("#"+nameid).text(data.data.name);
                        $("#"+id).next("input[name='file']").val(data.data.id);
//                                $(".file1").eq(num).append(str);
                        $(".file1").eq(num).find(".detelefile").removeClass("hiding");
//
                    }else {
                        warning({msg:"上传失败"});
                    }
                }
            });
        } else {
            warning({msg:"您选择的文件超过10mb，请重新选择"});
            return;
        }
    });

</script>
{/block}