{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/details-template/detail.css">
<style>
    .mui-pull-bottom-pocket {
        height: 0.8rem;
        bottom: 0.8rem;
    }
    .comment{
        padding-bottom: 1rem;
    }
    .banner{
        height:50vw;
    }
    .banner img{
        height:100%;
    }
</style>
{/block}
{block name="body"}
    <div class="main">
        <div class="article">
            <div class="title"><p>{$info.title}</p></div>
            <div class="note clear">
                <span class="publish">{$info.publisher}</span>
                <span class="time">{$info.create_time|time_format="Y-m-d"}</span>
            </div>
            <div class="message">
                {notempty name="info.time"}
                <div class="name limit">{$info.time|time_format='Y/m/d H:i'}</div>
                {/notempty}
                {notempty name="info.address"}
                <div class="content" >{$info.address}</div>
                {/notempty}
                {notempty name="info.people"}
                <div class="content" >{$info.people}</div>
                {/notempty}
                {notempty name="info.compere"}
                <div class="content" >{$info.compere}</div>
                {/notempty}
            </div>
            <div class="content">
                {volist name="$info.list_images" id="img"}
                <img src="{$img|get_cover='path'}" alt="笔记图片" class="img" style="width:100%"><br>
                {/volist}
                {volist name="$info.commend_img" id="img"}
                <img src="{$img|get_cover='path'}" alt="笔记图片" class="img" style="width:100%"><br>
                {/volist}
                {volist name="$info.voucher_img" id="img"}
                <img src="{$img|get_cover='path'}" alt="笔记图片" class="img" style="width:100%"><br>
                {/volist}
                <div class="article-content">{$info.content}</div>
            </div>
        </div>
    </div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    $('title' ).text('我的草稿');
    if($(".message div").length==0){
        $(".article .message").css("border","none");
    }

    $(function(){
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $(".main").css({"width":"640px","left":"50%","min-height":"90vh","margin":"5vh 0 0 -320px","position":"relative"});
            $(".article").css({"width":"640px","margin":"0 auto"});
            $(".article .title p").css("font-size","17px");
            $(".article .note").css("font-size","14px");
            $(".comment .sum").css({"font-size":"14px","height":"30px","line-height":"30px"});
            $(".article-content p, .article-content p span, .article-content").css("font-size","16px")

        }
    });
</script>
{/block}