{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/user/myintegral.css">
{/block}

{block name="body"}
<div class="banner">
<div class="loadingParent">
    <canvas id="myCanvas" width="400" height="300"></canvas>
    <canvas id="dashed" width="400" height="300"></canvas>
    <p class="point">我的积分</p>
    <p class="num">120</p>
    <p class="time">时间：2018-09-18</p>
</div>
    <p class="rule">积分规则</p>
    </div>
<div class="line">
    <span>积分明细</span>
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <ul>
            <li>
                <p class="title">
                    <span>党建责任-专题研究</span>
                </p>
                <p class="content">
                   我是标题，标题包体包提包提包体标题
                </p>
                <p class="time">
                    2017-10-12
                </p>
                <p class="point">
                    <img src="/home/images/user/point.png">
                    <span>+ 2</span>
                </p>
            </li>
        </ul>

    </div>
</div>
{/block}

{block name="script"}
<script>
    var width = $(window).width();
    $("#myCanvas").css("width",width);
    $("#dashed").css("width",width);

    //外圆
    var canvas = document.getElementById("myCanvas");
    var context = canvas.getContext("2d");
    context.lineWidth = 2;
    context.strokeStyle = "#fff";
    var centerX =200;
    var centerY = 180;
    var radius = 150;
    var startingAngle = 0.9 * Math.PI;
    var endingAngle = 2.1 * Math.PI;
    context.arc(centerX, centerY, radius, startingAngle, endingAngle);
    context.stroke();


    //虚线圆
    var dashed = document.getElementById("dashed");
    var ctx = dashed.getContext("2d");
    ctx.strokeStyle = "#fff";
    ctx.setLineDash([5, 10]);
    ctx.arc(centerX, centerY, 130, startingAngle, endingAngle);
    ctx.stroke();

</script>
{/block}
