{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/review/index.css">
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
<div class="list push">
	{empty name="list2"}
	<div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
	{else/}
	<ul>
		{volist name="list2" id="lo"}
		<li><a href="{:Url('Review/detail?class='.$lo['class'].'&id='.$lo['focus_main'])}" class="list clear" data-type="{$lo.class}">
			<img src="{$lo.front_cover}">
			<span>{$lo.title}</span>
			<span>{$lo.pre} 发布人：{$lo.publisher}</span>
			<span>{$lo.create_time}</span>
			<span class="mui-icon mui-icon-forward"></span>
			<i class="fail" data-id="{$lo.id}" data-class="{$lo.class}">删&nbsp;除</i><i class="pass" data-id="{$lo.id}" data-class="{$lo.class}">修&nbsp;改</i>
		</a>
		</li>
		{/volist}
	</ul>
	{/empty}
</div>
		</div>
	</div>
{/block}

{block name="script"}
<script>
$(function(){
	//模块标题
//	$('title' ).text('个人中心');
});

window.onload = function() {
	skidding();
	if ($(".Audited ul li").length > 0) {
		if ($(".list ul li").length < 7) {
			mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
		} else {
			mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
		}
	}
};

function loadScroll(){
		var len = $(".list ul li" ).length;
			$.ajax({
				type:"post",
				url:"{:Url('User/notesmore')}",
				data:{
					length:len
				},
				beforeSend: function(XMLHttpRequest){
				},
				success:function(data){
					if(data.code == 1){
						addLists(data);
						var dataLen =data.data.length;
						if(data.data.length == 7){
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
						}else{
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
						}
					}else{
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
					}
				}
			})
}


function addLists(data){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		html +=
				'<li>' +
				'<a href="' + link + '"  class="list clear" data-type="' + list.class + '">' +
				'<img src="' + list.front_cover + '">' +
				'<span>' + list.title + '</span>' +
				'<span>' + list.pre + ' 发布人：' + list.publisher + '</span>' +
				'<span>' + list.create_time + '</span>' +
				'<span class="mui-icon mui-icon-forward"></span>' +
				'<i class="fail" data-id="' + list.id + '" data-class="' + list.class + '">删&nbsp;除</i><i class="pass"  data-id="' + list.id + '" data-class="' + list.class + '">修&nbsp;改</i>' +
				'</a>' +
				'</li>'
	}
	$(".lists ul" ).append(html);
	skidding();
}


mui('#refreshContainer').on('tap', '.fail', function(e) {
	event.stopPropagation();
	event.preventDefault();
	var element = this.parentNode.parentNode;
	var id = this.getAttribute("data-id");
	var _class = this.getAttribute("data-class");
	swal({
		title: "",
		text: "确定删除？",
		type: "warning",
		showCancelButton: true,
		closeOnConfirm: false,
		confirmButtonText: "确认",
		cancelButtonText: "取消",
		confirmButtonColor: "#ec6c62"
	}, function() {
		delete(element,id,_class,2);
	});
});

var skidding = function() {
	//侧滑显示删除按钮
	var expansion = null; //是否存在展开的list
	var container = document.querySelectorAll('.list li a');
	for (var i = 0; i < container.length; i++) {
		var x, y, X, Y, swipeX, swipeY;
		container[i].addEventListener('touchstart', function (event) {
			x = event.changedTouches[0].pageX;
			y = event.changedTouches[0].pageY;
			swipeX = true;
			swipeY = true;
		});
		container[i].addEventListener('touchmove', function (event) {

			X = event.changedTouches[0].pageX;
			Y = event.changedTouches[0].pageY;
			if (expansion) {   //判断是否展开，如果展开则收起
				expansion.className = "";
			}
			// 左右滑动
			if (swipeX && Math.abs(X - x) - Math.abs(Y - y) > 0) {
				// 阻止事件冒泡
				event.stopPropagation();
				if (X - x > 50) {   //右滑
					event.preventDefault();
					this.className = "";    //右滑收起
				}
				if (x - X > 50) {   //左滑
					event.preventDefault();
					this.className = "swipeleft";   //左滑展开
					expansion = this;
				}
				swipeY = false;
			}
			// 上下滑动
			if (swipeY && Math.abs(X - x) - Math.abs(Y - y) < 0) {
				swipeX = false;
			}
		});
	}
}
</script>
{/block}