{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/review/index.css">
<style>
	#refreshContainer {
		top: 0;
	}
</style>
{/block}

{block name="body"}
<div class="main">
	<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
			<div class="list push">
				{empty name="list"}
				<div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
				{else/}
				<ul>
					{volist name="list" id="li"}
					<li>
						{eq name="li.templet" value="1"}
						<a href="{:Url('User/detail?class='.$li['class'].'&id='.$li['id'])}" class="list clear" data-type="{$li.class}">
							{else/}
							<a href="{:Url('User/detail2?class='.$li['class'].'&id='.$li['id'])}" class="list clear" data-type="{$li.class}">
								{/eq}
								<img src="{$li.front_cover}">
								<span>{$li.title}</span>
								{switch name='$li.class'}
								{case value='1'}<span>[党建责任] 发布人：{$li.publisher}</span>{/case}
								{case value='2'}<span>[两学一做] 发布人：{$li.publisher}</span>{/case}
								{case value='3'}<span>[组织建设] 发布人：{$li.publisher}</span>{/case}
								{case value='4'}<span>[特色创新] 发布人：{$li.publisher}</span>{/case}
								{case value='5'}<span>[作风建设] 发布人：{$li.publisher}</span>{/case}
								{case value='6'}<span>[志愿服务] 发布人：{$li.publisher}</span>{/case}
								{default/}<span>[党风廉政] 发布人：{$li.publisher}</span>
								{/switch}
								<span>{$li.create_time}</span>
								<span class="mui-icon mui-icon-forward"></span>
								<i class="fail" data-id="{$li.id}" data-class="{$li.class}">删&nbsp;除</i>
								<i class="pass" data-id="{$li.id}" data-class="{$li.class}"  data-type="{$li.type}" data-style="{$li.style}">修&nbsp;改</i>
							</a>
					</li>
					{/volist}
				</ul>
				{/empty}
			</div>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script>
$(function(){
		function IsPC() {
			var userAgentInfo = navigator.userAgent;
			var Agents = ["Android", "iPhone",
				"SymbianOS", "Windows Phone",
				"iPad", "iPod"];
			var flag = true;
			for (var v = 0; v < Agents.length; v++) {
				if (userAgentInfo.indexOf(Agents[v]) > 0) {
					flag = false;
					break;
				}
			}
			return flag;
		}

		flag = IsPC();
		if(flag){
			$("body,html").css("backgroundColor","#f1f1f1");
			$("#tab").css({"width":"640px","left":"50%","margin-left":"-320px"});
			$(".main").css({"backgroundColor":"#fff","width":"640px","left":"50%","min-height":"90vh","margin":"5vh 0 0 -320px","position":"relative"});
			$("ul li a img").css({"width":"90px","height":"60px","margin-top":"15px"});
			$("ul li a span:nth-child(2)").css({"font-size":"16px","margin-left":"100px"});
			$("ul li a span:nth-child(4)").css({"font-size":"14px","bottom":"15px","right":"40%"});
			$("ul li a span:nth-child(3)").css({"left":"100px","font-size":"14px"});
			$(".default").css({"width":"640px","left":"50%","margin":"5vh -320px 0","backgroundColor":"#fff"});
			$(".default img").css("width","80px");
			$(".list li a, .Audited li a").css({"height":"90px"});
			$(".Audited ul li a p:nth-child(3)").css("bottom","30px");
			$(".Audited ul li p").css({"font-size":"12px","margin-left":"100px"});
			$(".mui-icon-forward").css({"top":"40px","height":"10px","width":"10px"});
			$(".mui-icon").css("font-size","14px");
			$(".Audited ul li a span:nth-child(2)").css({"font-size":"14px","width":"440px","margin-top":"5px"});
			$(".Audited ul li a span:nth-child(5)").css({"font-size":"12px","bottom":"15px"})

		}
	//模块标题
	$('title' ).text('我的草稿');
});

window.onload = function() {
	if(flag){
		$(".mui-pull .mui-pull-caption").css("font-size","15px");
	}
	skidding();
	if ($(".list ul li").length > 0) {
		if ($(".list ul li").length < 7) {
			mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
		} else {
			mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
		}
	}else{
		mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
	}
};

//初始化下拉加载
mui.init({
	pullRefresh: {
		container: '#refreshContainer',
		up: {
			callback: loadScroll
		}
	}
});
function loadScroll(){
	var userId = '{$Think.session.userId}';
	var responsibility_len = $('.list ul li .list[data-type=1]').length;
	var learn_len = $('.list ul li .list[data-type=2]').length;
	var organization_len = $('.list ul li .list[data-type=3]').length;
	var special_len = $('.list ul li .list[data-type=4]').length;
	var style_len = $('.list ul li .list[data-type=5]').length;
	var volunteer_len = $('.list ul li .list[data-type=6]').length;
	var incorrupt_len = $('.list ul li .list[data-type=7]').length;
	$.ajax({
		type:"post",
		url:"{:Url('User/more')}",
		data:{
			responsibility:responsibility_len,
			learn:learn_len,
			organization:organization_len,
			special:special_len,
			style:style_len,
			volunteer:volunteer_len,
			incorrupt:incorrupt_len,
			type:3
		},
		beforeSend: function(XMLHttpRequest){
		},
		success:function(data){
			if(data.code == 1){
				addLists(data);
				var dataLen =data.data.length;
				if(data.data.length == 7){
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
				}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
				}
			}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
			}
		}
	})
}

mui('#refreshContainer').on('tap', 'a', function(e) {
	var url = this.getAttribute("href");
	window.location.href = url;
});

mui("#refreshContainer").on("touchstart","a",function(){
	$(this).css("backgroundColor","rgba(0,0,0,.1)");
}).on("touchend","a", function () {
	$(this).css("backgroundColor","#fff");
});

function addLists(data){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	var link = '';
	for(var i = 0; i< len;i++){
		var list = lists[i];
		if(list.templet == 1){
			link  = '/home/user/detail/class/'+list.class+'/id/'+list.id;
		}else {
			link  = '/home/user/detail2/class/'+list.class+'/id/'+list.id;
		}
		if(list.class == 1){
			class_name = '[党建责任]';
		}else if(list.class == 2){
			class_name = '[两学一做]';
		}else if(list.class == 3){
			class_name = '[组织建设]';
		}else if(list.class == 4){
			class_name = '[特色创新]';
		}else if(list.class == 5){
			class_name = '[作风建设]';
		}else if(list.class == 6){
			class_name = '[志愿服务]';
		}else if(list.class == 7){
			class_name = '[党风廉政]';
		}
		if(flag) {
			html +=
					'<li>' +
					'<a href="' + link + '"  class="list clear" data-type="' + list.class + '" style="height:90px;">' +
					'<img src="' + list.front_cover + '" style="width:90px;height:60px;margin-top:15px">' +
					'<span style="font-size:16px;margin-left:100px;">' + list.title + '</span>' +
					'<span style="left:100px;font-size:14px;">' + class_name + ' 发布人：' + list.publisher + '</span>' +
					'<span style="font-size: 14px;bottom: 15px;right: 40%;">' + list.create_time + '</span>' +
					'<span class="mui-icon mui-icon-forward" style="top: 40px; height: 10px;width: 10px;font-size: 14px;"></span>' +
					'<i class="fail" data-id="' + list.id + '" data-class="' + list.class + '">删&nbsp;除</i><i class="pass"  data-id="' + list.id + '" data-class="' + list.class + '" data-type="' + list.type + '" data-style="' + list.style + '">修&nbsp;改</i>' +
					'</a>' +
					'</li>'
		}else{
			html +=
					'<li>' +
					'<a href="' + link + '"  class="list clear" data-type="' + list.class + '">' +
					'<img src="' + list.front_cover + '">' +
					'<span>' + list.title + '</span>' +
					'<span>' + class_name + ' 发布人：' + list.publisher + '</span>' +
					'<span>' + list.create_time + '</span>' +
					'<span class="mui-icon mui-icon-forward"></span>' +
					'<i class="fail" data-id="' + list.id + '" data-class="' + list.class + '">删&nbsp;除</i><i class="pass"  data-id="' + list.id + '" data-class="' + list.class + '" data-type="' + list.type + '" data-style="' + list.style + '">修&nbsp;改</i>' +
					'</a>' +
					'</li>'

		}
	}
	$(".list ul" ).append(html);
	skidding();
}

mui('#refreshContainer').on('tap', '.pass', function(e) {
	event.stopPropagation();
	event.preventDefault();
	var element = this.parentNode.parentNode;
	var id = this.getAttribute("data-id");
	var _class = this.getAttribute("data-class");
	var type = this.getAttribute("data-type");
	var style = this.getAttribute("data-style");
	switch (_class){
		case "1":  // 党建责任
			window.location.href="/home/responsibility/publish/type/"+type+"/style/"+style+"/id/"+id;
			break;
		case "2":  // 两学一做
			window.location.href="/home/learn/publish/type/"+type+"/style/"+style+"/id/"+id;
			break;
		case "3":  // 组织建设
			window.location.href="/home/organization/publish/type/"+type+"/id/"+id;
			break;
		case "4":  //特色创新
			window.location.href="/home/special/publish/id/"+id;
			break;
		case "5":  // 作风建设
			window.location.href="/home/style/publish/type/"+type+"/id/"+id;
			break;
		case "6":  // 志愿服务
			window.location.href="/home/volunteer/publish/type/"+type+"/id/"+id;
			break;
		default:  // 党风廉政
			window.location.href="/home/incorrupt/publish/type/"+type+"/id/"+id;
	}
})



mui('#refreshContainer').on('tap', '.fail', function(e) {
	event.stopPropagation();
	event.preventDefault();
	var element = this.parentNode.parentNode;
	var id = this.getAttribute("data-id");
	var _class = this.getAttribute("data-class");
	swal({
		title: "",
		text: "确定删除？",
		type: "warning",
		showCancelButton: true,
		closeOnConfirm: false,
		confirmButtonText: "确认",
		cancelButtonText: "取消",
		confirmButtonColor: "#ec6c62"
	}, function() {
		deleted(element,id,_class);
	});
});


//删除ajax
var deleted = function (element,id,_class){
	$.ajax({
		type:"post",
		url: "{:Url('User/del')}",
		data:{
			id:id,
			class:_class
		},
		beforeSend: function(XMLHttpRequest){
			swal({
				title: '',
				text: '删除中...',
				showConfirmButton:false
			});
		},
		success:function(data){
			if(data.code==1){
//				$(element).remove();
				swal({
					title: "",
					text: "删除成功",
					type: "success",
					confirmButtonText: "确认",
					timer:2000
				},function(){
					window.location.reload();
				});
			}else{
				swal({
					title: "",
					text: data.msg,
					type: "error",
					confirmButtonText: "确认",
					timer:2000
				});
			}
		}
	})
}

var skidding = function() {
	//侧滑显示删除按钮
	var expansion = null; //是否存在展开的list
	var container = document.querySelectorAll('.list li a');
	for (var i = 0; i < container.length; i++) {
		var x, y, X, Y, swipeX, swipeY;
		container[i].addEventListener('touchstart', function (event) {
			x = event.changedTouches[0].pageX;
			y = event.changedTouches[0].pageY;
			swipeX = true;
			swipeY = true;
		});
		container[i].addEventListener('touchmove', function (event) {

			X = event.changedTouches[0].pageX;
			Y = event.changedTouches[0].pageY;
			if (expansion) {   //判断是否展开，如果展开则收起
				expansion.className = "";
			}
			// 左右滑动
			if (swipeX && Math.abs(X - x) - Math.abs(Y - y) > 0) {
				// 阻止事件冒泡
				event.stopPropagation();
				if (X - x > 50) {   //右滑
					event.preventDefault();
					this.className = "";    //右滑收起
				}
				if (x - X > 50) {   //左滑
					event.preventDefault();
					this.className = "swipeleft";   //左滑展开
					expansion = this;
				}
				swipeY = false;
			}
			// 上下滑动
			if (swipeY && Math.abs(X - x) - Math.abs(Y - y) < 0) {
				swipeX = false;
			}
		});
	}
}

window.onpageshow = function (e) {
	if (e.persisted) {
		window.location.reload(true);
	}
}
</script>
{/block}