{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/review/index.css">
<style>
	#refreshContainer {
		top: 0;
	}
</style>
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
<div class="list push">
	{empty name="list"}
	<div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
	{else/}
	<ul>
		{volist name="list" id="li"}
		<li><a href="{:Url('User/detail?class='.$li['class'].'&id='.$li['id'])}" class="list clear" data-type="{$li.class}">
			<img src="{$li.front_cover}">
			<span>{$li.title}</span>
			{switch name='$li.class'}
			{case value='1'}<span>[党建责任] 发布人：{$li.publisher}</span>{/case}
			{case value='2'}<span>[两学一做] 发布人：{$li.publisher}</span>{/case}
			{case value='3'}<span>[组织建设] 发布人：{$li.publisher}</span>{/case}
			{case value='4'}<span>[特色创新] 发布人：{$li.publisher}</span>{/case}
			{case value='5'}<span>[作风建设] 发布人：{$li.publisher}</span>{/case}
			{case value='6'}<span>[志愿服务] 发布人：{$li.publisher}</span>{/case}
			{default/}<span>[党风廉政] 发布人：{$li.publisher}</span>
			{/switch}
			<span>{$li.create_time}</span>
			<span class="mui-icon mui-icon-forward"></span>
			<i class="fail" data-id="{$li.id}" data-class="{$li.class}">删&nbsp;除</i><i class="pass" data-id="{$li.id}" data-class="{$li.class}">修&nbsp;改</i>
		</a>
		</li>
		{/volist}
	</ul>
	{/empty}
</div>
		</div>
	</div>
{/block}

{block name="script"}
<script>
$(function(){
	//模块标题
//	$('title' ).text('个人中心');
});

window.onload = function() {
	skidding();
	if ($(".list ul li").length > 0) {
		if ($(".list ul li").length < 7) {
			mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
		} else {
			mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
		}
	}
};

//初始化下拉加载
mui.init({
	pullRefresh: {
		container: '#refreshContainer',
		up: {
			callback: loadScroll
		}
	}
});
function loadScroll(){
	var userId = '{$Think.session.userId}';
	var responsibility_len = $('.list ul li .list[data-type=1]').length;
	var learn_len = $('.list ul li .list[data-type=2]').length;
	var organization_len = $('.list ul li .list[data-type=3]').length;
	var special_len = $('.list ul li .list[data-type=4]').length;
	var style_len = $('.list ul li .list[data-type=5]').length;
	var volunteer_len = $('.list ul li .list[data-type=6]').length;
	var incorrupt_len = $('.list ul li .list[data-type=7]').length;
	$.ajax({
		type:"post",
		url:"{:Url('User/more')}",
		data:{
			responsibility:responsibility_len,
			learn:learn_len,
			organization:organization_len,
			special:special_len,
			style:style_len,
			volunteer:volunteer_len,
			incorrupt:incorrupt_len,
			type:3
		},
		beforeSend: function(XMLHttpRequest){
		},
		success:function(data){
			if(data.code == 1){
				addLists(data);
				var dataLen =data.data.length;
				if(data.data.length == 7){
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
				}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
				}
			}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
			}
		}
	})
}


function addLists(data){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		var link = '/home/review/detail/class/'+list.class+'/id/'+list.id;
		if(list.class == 1){
			class_name = '[党建责任]';
		}else if(list.class == 2){
			class_name = '[两学一做]';
		}else if(list.class == 3){
			class_name = '[组织建设]';
		}else if(list.class == 4){
			class_name = '[特色创新]';
		}else if(list.class == 5){
			class_name = '[作风建设]';
		}else if(list.class == 6){
			class_name = '[志愿服务]';
		}else if(list.class == 7){
			class_name = '[党风廉政]';
		}
		html +=
				'<li>' +
				'<a href="' + link + '"  class="list clear" data-type="' + list.class + '">' +
				'<img src="' + list.front_cover + '">' +
				'<span>' + list.title + '</span>' +
				'<span>' + class_name + ' 发布人：' + list.publisher + '</span>' +
				'<span>' + list.create_time + '</span>' +
				'<span class="mui-icon mui-icon-forward"></span>' +
				'<i class="fail" data-id="' + list.id + '" data-class="' + list.class + '">删&nbsp;除</i><i class="pass"  data-id="' + list.id + '" data-class="' + list.class + '">修&nbsp;改</i>' +
				'</a>' +
				'</li>'
	}
	$(".list ul" ).append(html);
	skidding();
}


mui('#refreshContainer').on('tap', '.fail', function(e) {
	event.stopPropagation();
	event.preventDefault();
	var element = this.parentNode.parentNode;
	var id = this.getAttribute("data-id");
	var _class = this.getAttribute("data-class");
	swal({
		title: "",
		text: "确定删除？",
		type: "warning",
		showCancelButton: true,
		closeOnConfirm: false,
		confirmButtonText: "确认",
		cancelButtonText: "取消",
		confirmButtonColor: "#ec6c62"
	}, function() {
		deleted(element,id,_class,2);
	});
});


//删除ajax
var deleted = function (element,id,_class){
	$.ajax({
		type:"post",
		url: "{:Url('Review/review')}",
		data:{
			id:id,
			class:_class,
			status:status
		},
		beforeSend: function(XMLHttpRequest){
			swal({
				title: ' ',
				text: '删除中...',
				showConfirmButton:false
			});
		},
		success:function(data){
			console.log(data)
			if(data.code==1){
				$(element).remove();
				swal({
					title: "",
					text: "删除成功",
					type: "success",
					confirmButtonText: "确认",
					timer:2000
				},function(){
//					window.location.reload();
				});
			}else{
				swal({
					title: "",
					text: data.msg,
					type: "error",
					confirmButtonText: "确认",
					timer:2000
				});
			}
		}
	})
}

var skidding = function() {
	//侧滑显示删除按钮
	var expansion = null; //是否存在展开的list
	var container = document.querySelectorAll('.list li a');
	for (var i = 0; i < container.length; i++) {
		var x, y, X, Y, swipeX, swipeY;
		container[i].addEventListener('touchstart', function (event) {
			x = event.changedTouches[0].pageX;
			y = event.changedTouches[0].pageY;
			swipeX = true;
			swipeY = true;
		});
		container[i].addEventListener('touchmove', function (event) {

			X = event.changedTouches[0].pageX;
			Y = event.changedTouches[0].pageY;
			if (expansion) {   //判断是否展开，如果展开则收起
				expansion.className = "";
			}
			// 左右滑动
			if (swipeX && Math.abs(X - x) - Math.abs(Y - y) > 0) {
				// 阻止事件冒泡
				event.stopPropagation();
				if (X - x > 50) {   //右滑
					event.preventDefault();
					this.className = "";    //右滑收起
				}
				if (x - X > 50) {   //左滑
					event.preventDefault();
					this.className = "swipeleft";   //左滑展开
					expansion = this;
				}
				swipeY = false;
			}
			// 上下滑动
			if (swipeY && Math.abs(X - x) - Math.abs(Y - y) < 0) {
				swipeX = false;
			}
		});
	}
}
</script>
{/block}