{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/review/index.css">
{/block}

{block name="body"}
{empty name="list1"}
<div class="default">
	<img src="/home/images/common/nomessage.png" alt="暂无消息">
</div>
{else/}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
<div class="Audited">
	{empty name="list3"}
	<div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
	{else/}
	<ul>
		{volist name="list3" id="ll"}
		<li>
			<a href="#" class="list clear" data-type="{$ll.class}">
				<img src="{$ll.front_cover}">
				<span>{$ll.title}</span>
				{switch name='ll.class'}
				{case value='1'}<p>[党建责任]</p><p>审核人：{$ll.username}</p>{/case}
				{case value='2'}<p>[两学一做]</p><p>审核人：{$ll.username}</p>{/case}
				{case value='3'}<p>[组织建设]</p><p>审核人：{$ll.username}</p>{/case}
				{case value='4'}<p>[特色创新]</p><p>审核人：{$ll.username}</p>{/case}
				{case value='5'}<p>[作风建设]</p><p>审核人：{$ll.username}</p>{/case}
				{case value='6'}<p>[志愿服务]</p><p>审核人：{$ll.username}</p>{/case}
				{default/}<p>[党风廉政]</p><p>审核人：{$ll.username}</p>
				{/switch}
				<span>{$ll.review_time}</span>
				{eq name="ll.status" value="1"}
				<i class="pass"></i>
				{/eq}
				{eq name="ll.status" value="2"}
				<i class="refuse"></i>
				{/eq}
			</a>
		</li>
		{/volist}
	</ul>
	{/empty}
</div>
		</div>
	</div>
{/empty}
{/block}

{block name="script"}
<script>
$(function(){
	//模块标题
	$('title' ).text('个人中心');
});

window.onload = function() {
	if ($(".Audited ul li").length > 0) {
		if ($(".Audited ul li").length < 7) {
			mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
		} else {
			mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
		}
	}


}




//初始化下拉加载
mui.init({
	pullRefresh: {
		container: '#refreshContainer',
		up: {
			callback: loadScroll
		}
	}
});

function loadScroll(){
		var userId = '{$Think.session.userId}';
			$.ajax({
				type:"post",
				url:"{:Url('User/publishmore')}",
				data:{
					length:len,
					userid:userId
				},
				beforeSend: function(XMLHttpRequest){
				},
				success:function(data){
					if(data.code == 1){
						addLists(data);
						var dataLen =data.data.length;
						if(data.data.length == 7){
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
						}else{
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
						}
					}else{
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
					}
				}
			})
}
function addLists(data){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		var link = '/home/review/detail/class/'+list.class+'/id/'+list.id;
		if(list.class == 1){
			class_name = '[党建责任]';
		}else if(list.class == 2){
			class_name = '[两学一做]';
		}else if(list.class == 3){
			class_name = '[组织建设]';
		}else if(list.class == 4){
			class_name = '[特色创新]';
		}else if(list.class == 5){
			class_name = '[作风建设]';
		}else if(list.class == 6){
			class_name = '[志愿服务]';
		}else if(list.class == 7){
			class_name = '[党风廉政]';
		}
		html +=
				'<li>'+
				'<a href="#" class="list clear" data-type="1">'+
				'<img src="'+list.front_cover+'">'+
				'<span>'+ list.title + '</span>'+
				'<p>'+ class_name+ '</p>'+
				'<p>'+
				'	审核人：  '+list.username+''+
				'</p>'+
				'<span> '+list.review_time+'</span>'
		if (list.review_status == 1){
			html+='<i class="pass"></i>';
		}else {
			html+='<i class="refuse"></i>';
		}
		html +='</a>'+
				'</li>';


	}
	$(".Audited" ).append(html);
}
</script>
{/block}