{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/review/index.css">
<style>
	#refreshContainer {
		top: 0;
	}
</style>
{/block}

{block name="body"}
{empty name="list"}
<div class="default">
	<img src="/home/images/common/nomessage.png" alt="暂无消息">
</div>
{else/}
<div class="main">
	<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
			<div class="Audited">
				{empty name="list"}
				<div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
				{else/}
				<ul>
					{volist name="list" id="ll"}
					<li>
						{eq name="ll.templet" value="1"}
							<a href="{:Url('User/detail?class='.$ll['class'].'&id='.$ll['id'])}" class="list clear" data-type="{$ll.class}">
							{else/}
							<a href="{:Url('User/detail2?class='.$ll['class'].'&id='.$ll['id'])}" class="list clear" data-type="{$ll.class}">
							{/eq}
							<img src="{$ll.front_cover}">
							<span>{$ll.title}</span>
							{switch name='ll.class'}
							{case value='1'}<p>[党建责任]</p><p>审核人：{$ll.username}</p>{/case}
							{case value='2'}<p>[两学一做]</p><p>审核人：{$ll.username}</p>{/case}
							{case value='3'}<p>[组织建设]</p><p>审核人：{$ll.username}</p>{/case}
							{case value='4'}<p>[特色创新]</p><p>审核人：{$ll.username}</p>{/case}
							{case value='5'}<p>[作风建设]</p><p>审核人：{$ll.username}</p>{/case}
							{case value='6'}<p>[志愿服务]</p><p>审核人：{$ll.username}</p>{/case}
							{default/}<p>[党风廉政]</p><p>审核人：{$ll.username}</p>
							{/switch}
							<span>{$ll.review_time}</span>
							{eq name="ll.review_status" value="1"}
							<i class="pass"></i>
							{/eq}
							{eq name="ll.review_status" value="2"}
							<i class="refuse"></i>
							{/eq}
							{eq name="ll.review_status" value="0"}
							<i class="noreview"></i>
							{/eq}
						</a>
					</li>
					{/volist}
				</ul>
				{/empty}
			</div>
		</div>
	</div>
</div>
{/empty}
{/block}

{block name="script"}
<script>
$(function(){

	function IsPC() {
		var userAgentInfo = navigator.userAgent;
		var Agents = ["Android", "iPhone",
			"SymbianOS", "Windows Phone",
			"iPad", "iPod"];
		var flag = true;
		for (var v = 0; v < Agents.length; v++) {
			if (userAgentInfo.indexOf(Agents[v]) > 0) {
				flag = false;
				break;
			}
		}
		return flag;
	}

	flag = IsPC();
	if(flag){
		$("body,html").css("backgroundColor","#f1f1f1");
		$("#tab").css({"width":"640px","left":"50%","margin-left":"-320px"});
		$(".main").css({"width":"640px","left":"50%","min-height":"90vh","margin":"5vh 0 0 -320px","position":"relative"});
		$("ul li a img").css({"width":"90px","height":"60px","margin-top":"15px"});
		$("ul li a span:nth-child(2)").css({"font-size":"16px","margin-left":"100px"});
		$("ul li a span:nth-child(4)").css({"font-size":"14px","bottom":"15px","right":"40%"});
		$("ul li a span:nth-child(3)").css({"left":"100px","font-size":"14px"});
		$(".list li a, .Audited li a").css({"height":"90px"});
		$(".Audited ul li a p:nth-child(3)").css("bottom","30px");
		$(".Audited ul li p").css({"font-size":"12px","margin-left":"100px"});
		$(".mui-icon-forward").css({"top":"40px","height":"10px","width":"10px"});
		$(".mui-icon").css("font-size","14px");
		$(".Audited ul li a span:nth-child(2)").css({"font-size":"14px","width":"440px","margin-top":"5px"});
		$(".Audited ul li a span:nth-child(5)").css({"font-size":"12px","bottom":"15px"});
		$(".default").css({"width":"640px","margin":"5vh -320px 0","backgroundColor":"#fff","left":"50%"});
		$(".default img").css("width","80px");
	}
	//模块标题
	$('title' ).text('我的发布');
});

window.onload = function() {
	if(flag){
		$(".mui-pull .mui-pull-caption").css("font-size","15px");
	}
	if ($(".Audited ul li").length > 0) {
		if ($(".Audited ul li").length < 14) {
			mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
		} else {
			mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
		}
	}

}




//初始化下拉加载
mui.init({
	pullRefresh: {
		container: '#refreshContainer',
		up: {
			callback: loadScroll
		}
	}
});

function loadScroll(){
		var userId = '{$Think.session.userId}';
		var responsibility_len = $('.Audited ul .list[data-type=1]').length;
		var learn_len = $('.Audited ul .list[data-type=2]').length;
		var organization_len = $('.Audited ul .list[data-type=3]').length;
		var special_len = $('.Audited ul .list[data-type=4]').length;
		var style_len = $('.Audited ul .list[data-type=5]').length;
		var volunteer_len = $('.Audited ul .list[data-type=6]').length;
		var incorrupt_len = $('.Audited ul .list[data-type=7]').length;
		$.ajax({
			type:"post",
			url:"{:Url('User/more')}",
			data:{
				responsibility:responsibility_len,
				learn:learn_len,
				organization:organization_len,
				special:special_len,
				style:style_len,
				volunteer:volunteer_len,
				incorrupt:incorrupt_len,
				type:2
			},
			beforeSend: function(XMLHttpRequest){
			},
			success:function(data){
				if(data.code == 1){
					addLists(data);
					var dataLen =data.data.length;
					if(data.data.length == 14){
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
					}else{
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
					}
				}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
				}
			}
		})
}
function addLists(data){
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		if(list.templet == 1){
			link  = '/home/user/detail/class/'+list.class+'/id/'+list.id;
		}else {
			link  = '/home/user/detail2/class/'+list.class+'/id/'+list.id;
		}
		if(list.class == 1){
			class_name = '[党建责任]';
		}else if(list.class == 2){
			class_name = '[两学一做]';
		}else if(list.class == 3){
			class_name = '[组织建设]';
		}else if(list.class == 4){
			class_name = '[特色创新]';
		}else if(list.class == 5){
			class_name = '[作风建设]';
		}else if(list.class == 6){
			class_name = '[志愿服务]';
		}else if(list.class == 7){
			class_name = '[党风廉政]';
		}
		if(flag) {
			html +=
					'<li>' +
					'<a href="' + link + '" class="list clear" data-type="' + list.class + '" style="height:90px;">' +
					'<img src="' + list.front_cover + '" style="width:90px;height:60px;margin-top:15px">' +
					'<span font-size:14px;margin-left:100px;width:440px;margin-top:5px">' + list.title + '</span>' +
					'<p style="margin-left:100px;font-size:12px;bottom:30px;">' + class_name + '</p>' +
					'<p style="font-size:12px;margin-left:100px">' +
					'	审核人：  ' + list.username + '' +
					'</p>' +
					'<span style="font-size:12px;bottom:15px"> ' + list.review_time + '</span>'
			if (list.review_status == 1) {
				html += '<i class="pass"></i>';
			} else if (list.review_status == 2) {
				html += '<i class="refuse"></i>';
			} else if (list.review_status == 0) {
				html += '<i class="noreview"></i>';
			}
			html += '</a>' +
					'</li>';
		}else{
			html +=
					'<li>' +
					'<a href="' + link + '" class="list clear" data-type="' + list.class + '">' +
					'<img src="' + list.front_cover + '">' +
					'<span>' + list.title + '</span>' +
					'<p>' + class_name + '</p>' +
					'<p>' +
					'	审核人：  ' + list.username + '' +
					'</p>' +
					'<span> ' + list.review_time + '</span>';
			if (list.review_status == 1) {
				html += '<i class="pass"></i>';
			} else if (list.review_status == 2) {
				html += '<i class="refuse"></i>';
			} else if (list.review_status == 0) {
				html += '<i class="noreview"></i>';
			}
			html += '</a>' +
					'</li>';


		}
	}
	$(".Audited ul" ).append(html);
}

mui('#refreshContainer').on('tap', 'a', function(e) {
	var url = this.getAttribute("href");
	window.location.href = url;
});

mui("#refreshContainer").on("touchstart","a",function(){
	$(this).css("backgroundColor","rgba(0,0,0,.1)");
}).on("touchend","a", function () {
	$(this).css("backgroundColor","#fff");
});
</script>
{/block}