{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/user/personal.css">
<style>
	@media (min-width: 768px) {
		.modal-dialog {
			width: auto !important;
			margin: 10px !important;
		}
	}
</style>
{/block}

{block name="body"}
<div class="main">
	<div class="lists">
		<div class="list clear tag">
			<span class="fl">党员信息</span>
		</div>
		<div class="list clear">
			<span class="fl">姓名</span>
			<span class="fr">{$user.name}</span>
		</div>
		<!--<div class="list clear toshow"  data-toggle="modal" data-target="#modal">-->
		<!--<span class="fl">二维码</span>-->
		<!--<span class="fr"><img src="/home/images/user/code.png" alt="" class="er"><i class="fa fa-angle-right"></i></span>-->
		<!--</div>-->
		<div class="list clear">
			<span class="fl">性别</span>
			<span class="fr">{$user.sex}</span>
		</div>
		<div class="list clear">
			<span class="fl">出生日期</span>
			{empty name="$user.birthday"}
			<span class="fr"></span>
			{else/}
			<span class="fr">{$user.birthday|time_format="Y-m-d"}</span>
			{/empty}
		</div>
		<div class="list clear">
			<span class="fl">手机号</span>
			<span class="fr">{$user.mobile}</span>
		</div>
		<div class="list clear">
			<span class="fl">学历</span>
			<span class="fr">{$user.education}</span>
		</div>
		<div class="list clear">
			<span class="fl">入党时间</span>
			{empty name="$user.birthday"}
			<span class="fr"></span>
			{else/}
			<span class="fr">{$user.partytime|time_format="Y-m-d"}</span>
			{/empty}
		</div>
		<div class="list clear">
			<span class="fl">所在支部</span>
			<span class="fr">{$user.department}</span>
		</div>
	</div>
	<!--<div class="lists">-->
	<!--<div class="list clear tag">-->
	<!--<span class="fl">党员缴费</span>-->
	<!--</div>-->
	<!--<div class="list clear">-->
	<!--<span class="fl">暂无</span>-->
	<!--&lt;!&ndash;<span class="fr">10</span>&ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash;<div class="list clear">&ndash;&gt;-->
	<!--&lt;!&ndash;<span class="fl">2016年10月</span>&ndash;&gt;-->
	<!--&lt;!&ndash;<span class="fr">10</span>&ndash;&gt;-->
	<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--&lt;!&ndash;<div class="list clear">&ndash;&gt;-->
	<!--&lt;!&ndash;<span class="fl">2016年10月</span>&ndash;&gt;-->
	<!--&lt;!&ndash;<span class="fr">10</span>&ndash;&gt;-->
	<!--</div>-->
	<!-- 二维码 -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="code">
					<div id="qrcode"></div>
				</div>
				{notempty name="$user.header"}
				<img src="{$user.header}" alt="个人头像" class="header">
				{else/}
				<img src="{$user.avatar}" alt="个人头像" class="header">
				{/notempty}
			</div>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script src="/home/js/jquery.qrcode.min.js"></script>
<script>
$(function(){

	function IsPC() {
		var userAgentInfo = navigator.userAgent;
		var Agents = ["Android", "iPhone",
			"SymbianOS", "Windows Phone",
			"iPad", "iPod"];
		var flag = true;
		for (var v = 0; v < Agents.length; v++) {
			if (userAgentInfo.indexOf(Agents[v]) > 0) {
				flag = false;
				break;
			}
		}
		return flag;
	}

	flag = IsPC();
	if(flag){
		$("body,html").css("backgroundColor","#f1f1f1");
		$(".main").css({"backgroundColor":"#fff","width":"640px","left":"50%","min-height":"90vh","margin":"5vh 0 0 -320px","position":"relative"});
		$(".lists").css({"width":"640px","margin":"0 auto"});
		$(".lists .list.tag").css({"height":"60px","line-height":"60px","backgroundColor":"#f9f9f9"});
		$(".lists .list").css({"height":"90px","line-height":"90px"});
		$(".lists .list .fl").css("font-size","16px");
		$(".lists .list .fr").css("font-size","16px");
	}

	//模块标题
	$('title' ).text('党员ID');
	$('.toshow' ).on('click',function(){
		$('#model').modal('show');
	});
	var code = $('.code' );
	var ww = code.width();
	var hh = code.height();
	var id = '{$user.userid}';
	$('#qrcode').qrcode({
		width: ww,
		height:hh,
		text: '{$request}/home/user/eg/id/'+id
//		text: id
	});
	//隐藏手机号中间四位
//	var tel = $('.list').eq(4 ).find('.fr');
//	var t = tel.text().split('');
//	t.splice(3,4,'****' );
//	t=t.join("");
//	tel.text(t);
})
</script>
{/block}