{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/structure/chart.css">
<style>

</style>
{/block}

{block name="body"}
<div class="listbox">
    <div class="list">
        <div class="title">党支部关注比例</div>
        <div class="pie" id="pie3" ></div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
    <script src="/static/flot/echarts.min.js"></script>
<script>

 $(function(){
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $(".listbox").css({"margin":"5vh auto","height":"90vh","width":"640px","padding-top":"5vh"});
            $(".list").css({"width":"100%","height":"100%"});
            $(".list .pie").css({"margin":"40px auto","width":"450px","height":"337.5px"});
            $(".list .pie div").css({"width":"100%","height":"100%"});
            $(".list .pie div canvas").css({"width":"100%","height":"100%"});
        }
    });

    $("title").text("数据统计");
    var myGender = echarts.init(document.getElementById('pie3'));

    //修改提示信息
    console.log("{$msg.sum}");
    console.log("{$msg.num_is}");
    var genderOption={
        calculable : true,
        series : [
            {
                name:'',
                type:'pie',
                color:["#5EB8C5","#2E8B57"],
                itemStyle : {
                    normal : {

                        label : {
                            show : true
                        },
                        labelLine : {
                            show : true,
                            length:3,
                        }
                    },
                },
                data:[
                    {
                        value:"{$msg.num_is}",
                        name:'关注：'+Math.round(("{$msg.num_is}" / "{$msg.sum}")*100)+'%',
                        label:{
                            normal:{
//                                fontSize:19
                            }
                        }
                    },
                    {
                        value:"{$msg.num_not}",
                        name:'未关注：'+Math.round("{$msg.num_not}" / "{$msg.sum}"*100)+'%',
                        label:{
                            normal:{
//                                fontSize:19
                            }
                        }
                    },
                ]
            }
        ]
    }
    myGender.setOption(genderOption);

</script>
{/block}