{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/structure/chart.css">
<style>

</style>
{/block}

{block name="body"}
<div class="listbox">
        <div class="list">
            <div class="title">党支部关注比例</div>
            <div class="pie" id="pie3" ></div>
        </div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
    <script src="/static/flot/echarts.min.js"></script>
<script>
    $("title").text("数据统计")
    var myGender = echarts.init(document.getElementById('pie3'));

    //修改提示信息
    console.log("{$msg.sum}")
    console.log("{$msg.num_is}")
    var genderOption={
        calculable : true,
        series : [
            {
                name:'',
                type:'pie',
                color:["#5EB8C5","#2E8B57"],
                itemStyle : {
                    normal : {

                        label : {
                            show : true
                        },
                        labelLine : {
                            show : true,
                            length:3,
                        }
                    },
                },
                data:[
                    {
                        value:"{$msg.num_is}",
                        name:'关注：'+Math.round(("{$msg.num_is}" / "{$msg.sum}")*100)+'%',
                        label:{
                            normal:{
                                fontSize:19
                            }
                        }
                    },
                    {
                        value:"{$msg.num_not}",
                        name:'未关注：'+Math.round("{$msg.num_not}" / "{$msg.sum}"*100)+'%',
                        label:{
                            normal:{
                                fontSize:19
                            }
                        }
                    },
                ]
            }
        ]
    }
    myGender.setOption(genderOption);

</script>
{/block}