{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/structure/chart.css">
<style>

</style>
{/block}

{block name="body"}
<div class="listbox">
        <div class="list">
            <div class="title">党员关注比例</div>
            <div class="pie" id="pie3" ></div>
        </div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
    <script src="/static/flot/echarts.min.js"></script>
<script>
    var myGender = echarts.init(document.getElementById('pie3'));

    //修改提示信息
    var genderOption={
        calculable : true,
        series : [
            {
                name:'',
                type:'pie',
                color:["#5EB8C5","#2E8B57"],
                itemStyle : {
                    normal : {

                        label : {
                            show : true
                        },
                        labelLine : {
                            show : true,
                            length:30,
                        }
                    },
                },
                data:[
                    {
                        value:801,
                        name:'关注：'+Math.round((801 / 824)*100)+'%',
                        label:{
                            normal:{
                                fontSize:30
                            }
                        }
                    },
                    {
                        value:23,
                        name:'未关注：'+Math.round((23 / 824)*100)+'%',
                        label:{
                            normal:{
                                fontSize:30
                            }
                        }
                    },
                ]
            }
        ]
    }
    myGender.setOption(genderOption);

</script>
{/block}