{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/list/graphic-list.css">
<title>志愿服务</title>
<style>
    .banner{
        height:50vw;
    }
    .banner img{
        position: relative;
        z-index: 99;
        width: 100%;
        height:50vw;
    }
    #tab{
        height:1.2rem;
        position: absolute;
        top:50vw;
        z-index: 9;
    }
    #tab a{
        font-size: 0.4rem;
        line-height: 1.2rem;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{
        border-bottom: 0.08rem solid #e51c23;
        display: inline-block;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
        color: #e51c23;
    }
    #refreshContainer{
        top:calc(50vw + 1.2rem);
    }
</style>

{/block}

{block name="body"}
<div class="banner">
    <img src="/home/images/volunteer/volunteer.png">
</div>
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
        <span>四跑志愿活动</span>
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
        <span>一条街三走进</span>
    </a>
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">

        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <!--培训计划-->
                <div class="list training">
                    {empty name="$list.one"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <ul>
                        {volist name="list.one" id="one"}
                        {eq name="one.templet" value="1"}
                        <a href="{:Url('Volunteer/detail?id='.$one['id'])}">
                        {else/}
                        <a href="{:Url('Volunteer/detail2?id='.$one['id'])}">
                            {/eq}
                            <img src="{$one.front_cover|get_cover='path'}">
                            <p>{$one.title}</p>
                            <span>{$one.publisher}</span>
                            <span>{$one.create_time|time_format='Y-m-d'}</span>
                        </a>
                        {/volist}
                    </ul>
                    {/empty}
                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <!--理论研究-->
                <div class="list theory">
                    {empty name="$list.two"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <ul>
                        {volist name="list.two" id="two"}
                        {eq name="two.templet" value="1"}
                        <a href="{:Url('Volunteer/detail?id='.$two['id'])}">
                        {else/}
                        <a href="{:Url('Volunteer/detail2?id='.$two['id'])}">
                            {/eq}
                            <img src="{$two.front_cover|get_cover='path'}">
                            <p>{$two.title}</p>
                            <span>{$two.publisher}</span>
                            <span>{$two.create_time|time_format='Y-m-d'}</span>
                        </a>
                        {/volist}
                    </ul>
                    {/empty}
                </div>
            </div>
        </div>
    </div>
</div>
<!--[悬浮按钮]-->
<span href="{:Url('volunteer/publish')}" class="after manager" id="publish"></span>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c = 0;
    $(function(){
        //模块标题
        $('title' ).text('志愿服务');
        //tab初始化和数据存储
        var co = getCookie("type");
        if(co == 0 || co == 1){
            c = co;
        }else{
            c = 0;
        }
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    })
    window.onload = function() {
        moveanyway("publish");
        if(c==0){
            if ($(".training ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".theory ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var type = parseInt(c) + 1;
        if(c==0){
            var len = $(".training ul a").length;
        }else if(c==1){
            var len = $(".theory ul a").length;
        }
        $.ajax({
            type:"post",
            url: "{:Url('Volunteer/index')}",
            data:{
                length:len,
                type:type
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data,c);
                    var dataLen =data.data.length;
                    if(data.data.length == 8){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(list.templet==1){
                html += '<a href="/home/volunteer/detail/id/'+list.id+'.html">'
            }else{
                html += '<a href="/home/volunteer/detail2/id/'+list.id+'.html">'
            }
            html +=
                    '<img src="'+list.path+'">'+
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.publisher+'</span>'+
                    '<span>'+list.time+'</span>'+
                    '</a>'
        }
        if(type==0){
            $('.training ul').append(html);
        }else if(type==1){
            $('.theory ul').append(html);
        }
    }

    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        c = this.getAttribute("data-index");
        if(c==0){
            if($(".training ul a").length<8){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".theory ul a").length<8){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
        setCookie('type',c);
    });

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href")+"?"+c;
        window.location.href = url;
    });

    mui('body').on('tap', '#publish', function(e) {
        var url = this.getAttribute("href")+"?"+c;
        window.location.href = url;
    });
</script>
{/block}