{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/list/graphic-list.css">
<title>志愿服务</title>
<style>
html,body{
    height:100%;
    }
body {
    background-color: #f1f1f1;
}
.main {
    background-color: #fff;
}
    .banner{
        height:50vw;
    }
    .banner img{
        position: relative;
        z-index: 99;
        width: 100%;
        height:50vw;
    }
    #tab{
        height:1.2rem;
        position: absolute;
        top:50vw;
        z-index: 9;
    }
    #tab a{
        font-size: 0.4rem;
        line-height: 1.2rem;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{
        border-bottom: 0.08rem solid #e51c23;
        display: inline-block;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
        color: #e51c23;
    }
    #refreshContainer{
        top:calc(50vw + 1.2rem);
    }
</style>

{/block}

{block name="body"}
<div class="main">
    <div class="banner">
        <img src="/home/images/volunteer/volunteer.png">
    </div>
    <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
        <a class="mui-control-item" href="#item1mobile" data-index="0">
            <span>四跑志愿活动</span>
        </a>
        <a class="mui-control-item" href="#item2mobile" data-index="1">
            <span>一条街三走进</span>
        </a>
        <a class="mui-control-item" href="#item3mobile" data-index="2">
            <span>最多跑一次</span>
        </a>
    </div>
    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">

            <div class="mui-slider-group">
                <div id="item1mobile" class="mui-slider-item mui-control-content">
                    <!--四跑志愿活动-->
                    <div class="list training">
                        {empty name="$list.one"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.one" id="one"}
                            {eq name="one.templet" value="1"}
                            <a href="{:Url('Volunteer/detail?id='.$one['id'])}">
                                {else/}
                                <a href="{:Url('Volunteer/detail2?id='.$one['id'])}">
                                    {/eq}
                                    <img src="{$one.front_cover|get_cover='path'}">
                                    <p>{$one.title}</p>
                                    <span>{$one.publisher}</span>
                                    <span>{$one.create_time|time_format='Y-m-d'}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
                <div id="item2mobile" class="mui-slider-item mui-control-content">
                    <!--一条街三走进-->
                    <div class="list theory">
                        {empty name="$list.two"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.two" id="two"}
                            {eq name="two.templet" value="1"}
                            <a href="{:Url('Volunteer/detail?id='.$two['id'])}">
                                {else/}
                                <a href="{:Url('Volunteer/detail2?id='.$two['id'])}">
                                    {/eq}
                                    <img src="{$two.front_cover|get_cover='path'}">
                                    <p>{$two.title}</p>
                                    <span>{$two.publisher}</span>
                                    <span>{$two.create_time|time_format='Y-m-d'}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
                <div id="item3mobile" class="mui-slider-item mui-control-content">
                    <!--最多跑一次-->
                    <div class="list onetime">
                        {empty name="$list.three"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <ul>
                            {volist name="list.three" id="three"}
                            {eq name="three.templet" value="1"}
                            <a href="{:Url('Volunteer/detail?id='.$three['id'])}">
                                {else/}
                                <a href="{:Url('Volunteer/detail2?id='.$three['id'])}">
                                    {/eq}
                                    <img src="{$three.front_cover|get_cover='path'}">
                                    <p>{$three.title}</p>
                                    <span>{$three.publisher}</span>
                                    <span>{$three.create_time|time_format='Y-m-d'}</span>
                                </a>
                                {/volist}
                        </ul>
                        {/empty}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[悬浮按钮]-->
    <span href="{:Url('volunteer/publish')}" class="after manager" id="publish"></span>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c = 0;
    $(function(){
        //模块标题
        $('title' ).text('志愿服务');

        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $(".banner").css({"width":"640px","height":"320px","margin":"0 auto"});
            $("#tab a").css("font-size","18px");
            $(".banner img").css({"width":"640px","height":"320px","margin":"0 auto"});
            $("#tab").css({"margin-top":"320px","width":"640px","position":"static","top":"0","margin":"0 auto"})
            $(".main").css({"width":"640px","left":"50%","min-height":"90vh","margin":"5vh 0 0 -320px","position":"relative"});
            $("#refreshContainer").css("top","390px");
            $(".list ul a").css("padding","10px 15px");
            $(".list ul a img").css({"width":"90px","height":"60px"});
            $(".list ul a p").css("font-size","16px");
            $(".list ul a span").css("font-size","14px");
            $(".list ul a span:nth-child(3)").css("bottom","10px");
            $(".list ul a span:nth-child(4)").css("bottom","10px");
            $(".default img").css("width","60px");
        }

        //tab初始化和数据存储
         c = getCookie("type")?getCookie("type"):0;
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    });
    window.onload = function() {
     if(flag){
            $(".mui-pull .mui-pull-caption").css("font-size","15px");
                }
        moveanyway("publish");
        if(c==0){
            if ($(".training ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".theory ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==2){
            if ($(".onetime ul a").length < 8) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var type = parseInt(c) + 1;
        if(c==0){
            var len = $(".training ul a").length;
        }else if(c==1){
            var len = $(".theory ul a").length;
        }else if(c==2){
            var len = $(".onetime ul a").length;
        }
        $.ajax({
            type:"post",
            url: "{:Url('Volunteer/index')}",
            data:{
                length:len,
                type:type
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data,c);
                    var dataLen =data.data.length;
                    if(data.data.length == 8){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(flag){
            if(list.templet==1){
                html += '<a href="/home/volunteer/detail/id/'+list.id+'.html" style="padding: 10px 15px">'
            }else{
                html += '<a href="/home/volunteer/detail2/id/'+list.id+'.html" style="padding: 10px 15px">'
            }
            html +=
                    '<img src="'+list.path+'" style="width: 90px;height: 60px">'+
                    '<p style="font-size:16px;">'+list.title+'</p>'+
                    '<span style="font-size:14px;bottom:10px;">'+list.publisher+'</span>'+
                    '<span style="font-size:14px;bottom:10px">'+list.time+'</span>'+
                    '</a>'
            }else{
              if(list.templet==1){
                html += '<a href="/home/volunteer/detail/id/'+list.id+'.html">'
            }else{
                html += '<a href="/home/volunteer/detail2/id/'+list.id+'.html">'
            }
            html +=
                    '<img src="'+list.path+'">'+
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.publisher+'</span>'+
                    '<span>'+list.time+'</span>'+
                    '</a>'

            }
        }
        if(type==0){
            $('.training ul').append(html);
        }else if(type==1){
            $('.theory ul').append(html);
        }else if(type==2){
            $('.onetime ul').append(html);
        }
    }

    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        c = this.getAttribute("data-index");
        if(c==0){
            if($(".training ul a").length<8){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".theory ul a").length<8){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==2){
            if($(".onetime ul a").length<8){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
        setCookie('type',c);
    });

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href")+"?"+c;
        window.location.href = url;
    });

    mui('body').on('tap', '#publish', function(e) {
        var url = this.getAttribute("href")+"?"+c;
        window.location.href = url;
    });

    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });
</script>
{/block}