{extend name="base/common"}

{block name="style"}
<style>
    .shadow{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.4);z-index: 88;}
</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>作风建设</h2>
        <ol class="breadcrumb">
            <li>
                作风建设
            </li>
            <li class="active">
                <strong><a href="{:Url('Style/index')}">详情列表</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>详情列表</h5>
                    <div class="ibox-tools">
                        <a data-toggle="modal" class="btn btn-sm btn-primary check">审核</a>
                        <a data-toggle="modal" class="btn btn-sm btn-primary" href="{:Url('Style/add')}">新增</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input class="i-checks check-all" type="checkbox"></th>
                                <th>标题</th>
                                <th>类型</th>
                                <th>发布人</th>
                                <th>创建时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td>{$vo.title|msubstr=0,30}</td>
                                <td>{$vo.type_text}</td>
                                <td>{$vo.publisher}</td>
                                <td>{$vo.create_time|time_format="Y-m-d"}</td>
                                <td>{$vo.status_text}</td>
                                <td>
                                    <a href="javascript:showIframe({$vo.id})">预览</a>
                                    <a href="{:Url('Style/edit?id='.$vo['id'])}">编辑</a>
                                    <a href="{:Url('Style/del?id='.$vo['id'])}" class="confirm ajax-del">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="10">
                                    <div class="page">{$_page}</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id="iframe" src="" style="height: 80%;width: 392px;z-index: 99;position: absolute;top: 10%;border: 0;left: 32%;background: #fff;display: none;" scrolling="auto" seamless></iframe>
<div class="shadow" style="display: none"></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 300px auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="font-size: 18px;text-align: center">
                是否通过审核？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default refuse_btn" style="background: #f00;color: #fff;float: left">不通过
                </button>
                <button type="button" class="btn btn-primary pass_btn">
                    通过
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    highlight_subnav("{:Url('Style/index')}");

    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('.check-all').on('ifChecked', function(event){
            $('input').iCheck('check');
        });

        $('.check-all').on('ifUnchecked', function(event){
            $('input').iCheck('uncheck');
        });
    });


    $(".check").on("click",function(){
        var checkArr = [];
        $("td .icheckbox_square-green").each(function(){
            if($(this).hasClass("checked")){
                checkArr.push($(this).parent().data("id")+'');
            }
        });
        console.log(checkArr);
        $("#myModal").modal('show');
        $(".refuse_btn").on("click",function(){
            reviewAjax();
        })
        $(".pass_btn").on("click",function(){
            reviewAjax();
        })
    });

    var reviewAjax = function(){
        $.ajax({
            type:"post",
            url:"{:Url('File/file_delete')}",
            data:{

            },
            success:function(data){
                if(data.code == 1){

                }
            }
        });
    };


    function showIframe(myid){
        var iframe = $("#iframe");
        var url = "/admin/style/preview/id/" + myid;
        iframe.attr("src",url);
        iframe.show();
        $(".shadow").show();
        $(".wrapper").css("z-index",0);
        close(iframe);
    }
    function close(ele){
        $(".shadow").on('click',function(){
            $(this).hide();
            ele.hide();
        });
    }
</script>
{/block}