{extend name="public/common"}

{block name="style"}
<title>党建动态</title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/details-template/banner-detail.css">
<style>
    .mui-pull-bottom-pocket {
        height: 0.8rem;
        bottom: 0.8rem;
    }
    .comment{
        padding-bottom: 1rem;
    }
    .banner:after{
        display: none;
    }
</style>
{/block}
{block name="body"}
<div class="main">
    <!--轮播图-->
    <div class="swiper-container banner">
        <div class="swiper-wrapper">
            {volist name="$info.list_images" id="li"}
            <div class="swiper-slide">
                <!--支持循环，需要重复图片节点-->
                <div class="mui-slider-item"><img src="{$li|get_cover='path'}"></div>
            </div>
            {/volist}
        </div>
    </div>
    <div class="article">
        <div class="title"><p>{$info.title}</p></div>
        <div class="note clear">
            <span class="publish">{$info.publisher}</span>
            <span class="time">{$info.create_time|time_format="Y-m-d"}</span>
        </div>
        <div class="message">
            {notempty name="info.time"}
            <div class="name limit">{$info.time|time_format='Y/m/d H:i'}</div>
            {/notempty}
            {notempty name="info.address"}
            <div class="content" >{$info.address}</div>
            {/notempty}
            {notempty name="info.people"}
            <div class="content" >{$info.people}</div>
            {/notempty}
            {notempty name="info.compere"}
            <div class="content" >{$info.compere}</div>
            {/notempty}
        </div>
        <div class="content">
            {volist name="$info.commend_img" id="img"}
            <img src="{$img|get_cover='path'}" alt="笔记图片" class="img" style="width:100%"><br>
            {/volist}
            {volist name="$info.voucher_img" id="img"}
            <img src="{$img|get_cover='path'}" alt="笔记图片" class="img" style="width:100%"><br>
            {/volist}
            <div class="article-content">{$info.content}</div>
            {notempty name="$info.files"}
            {volist name="info.files" id="de"}
            <a href="{$de.url}" style="display: block; font-size: 0.38rem;margin-top: 0.2rem">{$de.name}</a>
            {/volist}
            {/notempty}
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="/home/js/reset.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    $("title").text("消息审核");

    if($(".message div").length==0){
        $(".article .message").css("border","none");
    }

    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        loop:true,
        autoplayDisableOnInteraction : false
    });

    $(function(){
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        flag = IsPC();
        if(flag){
            $(".main").css({"backgroundColor":"#fff","width":"640px","left":"50%","margin-left":"-320px","margin-top":"5vh","min-height":"90vh","position":"relative"});
            $(".banner").css({"width":"640px","height":"230px"});
            $(".banner img").css({"width":"640px","margin":"0 auto","height":"230px"});
            $(".article .title p").css("font-size","17px");
            $(".article .note").css("font-size","14px");
            $(".comment .sum").css({"font-size":"14px","height":"30px","line-height":"30px"});
            $(".article-content p, .article-content p span, .article-content").css("font-size","16px")
            $(".article .content .like span").addClass("linePc");
        }
    });
</script>
{/block}