{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/review/index.css">
<title>消息审核</title>
{/block}

{block name="body"}
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
        <span>发布审核</span>
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
        <span>推送审核</span>
    </a>
    <a class="mui-control-item" href="#item3mobile" data-index="2">
        <span>已审核</span>
    </a>
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">

        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <!--发布审核-->
                <div class="list publish">
                    {empty name="list1"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <ul>
                        {volist name="list1" id="li"}
                        <li>
                            {eq name="li.templet" value="1"}
                            <a href="{:Url('Review/detail?class='.$li['class'].'&id='.$li['id'])}"  class="list clear" data-type="{$li.class}">
                            {else/}
                                <a href="{:Url('Review/detail2?class='.$li['class'].'&id='.$li['id'])}"  class="list clear" data-type="{$li.class}">
                            {/eq}
                                    <img src="{$li.front_cover}">
                                <span>{$li.title}</span>
                                {switch name='$li.class'}
                                {case value='1'}<span>[党建责任] 发布人：{$li.publisher}</span>{/case}
                                {case value='2'}<span>[两学一做] 发布人：{$li.publisher}</span>{/case}
                                {case value='3'}<span>[组织建设] 发布人：{$li.publisher}</span>{/case}
                                {case value='4'}<span>[特色创新] 发布人：{$li.publisher}</span>{/case}
                                {case value='5'}<span>[作风建设] 发布人：{$li.publisher}</span>{/case}
                                {case value='6'}<span>[志愿服务] 发布人：{$li.publisher}</span>{/case}
                                {default/}<span>[党风廉政] 发布人：{$li.publisher}</span>
                                {/switch}
                                <span>{$li.create_time}</span>
                                <span class="mui-icon mui-icon-forward"></span>
                                <i class="fail" data-id="{$li.id}" data-class="{$li.class}" data-type="1">不通过</i><i class="pass" data-id="{$li.id}" data-class="{$li.class}" data-type="1" >通&nbsp;过</i>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                    {/empty}
                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
            <!--推送审核-->
            <div class="list push">
                {empty name="list2"}
                <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                {else/}
                <ul>
                    {volist name="list2" id="lo"}
                    <li>
                        {eq name="lo.templet" value="1"}
                            <a href="{:Url('Review/detail?class='.$lo['class'].'&id='.$lo['focus_main'])}" class="list clear" data-type="{$lo.class}">
                        {else/}
                            <a href="{:Url('Review/detail2?class='.$lo['class'].'&id='.$lo['focus_main'])}" class="list clear" data-type="{$lo.class}">
                        {/eq}
                        <img src="{$lo.front_cover}">
                        <span>{$lo.title}</span>
                        <span>{$lo.pre} 发布人：{$lo.publisher}</span>
                        <span>{$lo.create_time}</span>
                        <span class="mui-icon mui-icon-forward"></span>
                        <i class="fail" data-id="{$lo.id}" data-class="{$lo.class}" data-type="2">不通过</i><i class="pass" data-id="{$lo.id}" data-class="{$lo.class}" data-type="2">通&nbsp;过</i>
                    </a>
                    </li>
                    {/volist}
                </ul>
                {/empty}
            </div>
        </div>
            <div id="item3mobile" class="mui-slider-item mui-control-content">
                <!--已审核-->
                <div class="Audited">
                    {empty name="list3"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <ul>
                        {volist name="list3" id="ll"}
                        <li>
                        <a href="#" class="list clear" data-type="{$ll.class}">
                            <img src="{$ll.front_cover}">
                            <span>{$ll.title}</span>
                            {switch name='ll.class'}
                            {case value='1'}<p>[党建责任]</p><p>审核人：{$ll.username}</p>{/case}
                            {case value='2'}<p>[两学一做]</p><p>审核人：{$ll.username}</p>{/case}
                            {case value='3'}<p>[组织建设]</p><p>审核人：{$ll.username}</p>{/case}
                            {case value='4'}<p>[特色创新]</p><p>审核人：{$ll.username}</p>{/case}
                            {case value='5'}<p>[作风建设]</p><p>审核人：{$ll.username}</p>{/case}
                            {case value='6'}<p>[志愿服务]</p><p>审核人：{$ll.username}</p>{/case}
                            {default/}<p>[党风廉政]</p><p>审核人：{$ll.username}</p>
                            {/switch}
                            <span>{$ll.review_time}</span>
                            {eq name="ll.review_status" value="1"}
                            <i class="pass"></i>
                            {/eq}
                            {eq name="ll.review_status" value="2"}
                            <i class="refuse"></i>
                            {/eq}
                            {eq name="ll.review_status" value="0"}
                            <i style="right: 0;width: 0.8rem;background: #ffff00;"></i>
                            {/eq}
                        </a>
                        </li>
                        {/volist}
                    </ul>
                    {/empty}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    $("title").text("消息审核");
    var c =  0;
    $(function(){
        //tab初始化和数据存储
        var co = getCookie("type");
        if(co == 0 || co == 1 || co== 2 ){
            c = co;
        }else{
            c =  0;
        }
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    })
    window.onload = function() {
        skidding();
        if(c==0){
            if ($(".publish ul li").length < 7) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".push ul li").length < 7) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==2){
            if ($(".Audited ul li").length < 7) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var data={};
        if(c==0){
            var responsibility_len = $('.publish ul .list[data-type=1]').length;
            var learn_len = $('.publish ul .list[data-type=2]').length;
            var organization_len = $('.publish ul .list[data-type=3]').length;
            var special_len = $('.publish ul .list[data-type=4]').length;
            var style_len = $('.publish ul .list[data-type=5]').length;
            var volunteer_len = $('.publish ul .list[data-type=6]').length;
            var incorrupt_len = $('.publish ul .list[data-type=7]').length;
            data.responsibility=responsibility_len;
            data.learn=learn_len;
            data.organization=organization_len;
            data.special=special_len;
            data.style=style_len;
            data.volunteer=volunteer_len;
            data.incorrupt=incorrupt_len;
            data.type=c;
            var url = "{:Url('Review/moreDataList')}";
        }else if(c==1){
            var len = $('.push ul a').length;
            data.len=len;
            data.type=c;
            var url = "{:Url('Review/more')}";
        }else if(c==2){
            var responsibility_len = $('.Audited ul .list[data-type=1]').length;
            var learn_len = $('.Audited ul .list[data-type=2]').length;
            var organization_len = $('.Audited ul .list[data-type=3]').length;
            var special_len = $('.Audited ul .list[data-type=4]').length;
            var style_len = $('.Audited ul .list[data-type=5]').length;
            var volunteer_len = $('.Audited ul .list[data-type=6]').length;
            var incorrupt_len = $('.Audited ul .list[data-type=7]').length;
            data.responsibility=responsibility_len;
            data.learn=learn_len;
            data.organization=organization_len;
            data.special=special_len;
            data.style=style_len;
            data.volunteer=volunteer_len;
            data.incorrupt=incorrupt_len;
            data.type=c;
            var url = "{:Url('Review/moreDataList')}";
        }
        $.ajax({
            type:"post",
            url: url,
            data:data,
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data,c);
                    var dataLen =data.data.length;
                    if(data.data.length == 7){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        var link ='';
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(list.templet == 1){
                link = '/home/review/detail/class/'+list.class+'/id/'+list.id;
            }else {
                link = '/home/review/detail2/class/'+list.class+'/id/'+list.id;
            }
            if(list.class == 1){
                class_name = '[党建责任]';
            }else if(list.class == 2){
                class_name = '[两学一做]';
            }else if(list.class == 3){
                class_name = '[组织建设]';
            }else if(list.class == 4){
                class_name = '[特色创新]';
            }else if(list.class == 5){
                class_name = '[作风建设]';
            }else if(list.class == 6){
                class_name = '[志愿服务]';
            }else if(list.class == 7){
                class_name = '[党风廉政]';
            }
            if(type==0) {
                html +=
                        '<li>' +
                        '<a href="' + link + '"  class="list clear" data-type="' + list.class + '">' +
                        '<img src="' + list.front_cover + '">' +
                        '<span>' + list.title + '</span>' +
                        '<span>' + class_name + ' 发布人：' + list.publisher + '</span>' +
                        '<span>' + list.create_time + '</span>' +
                        '<span class="mui-icon mui-icon-forward"></span>' +
                        '<i class="fail" data-id="' + list.id + '" data-class="' + list.class + '">不通过</i><i class="pass"  data-id="' + list.id + '" data-class="' + list.class + '">通&nbsp;过</i>' +
                        '</a>' +
                        '</li>'
            }else if(type==1){
                html +=
                        '<li>' +
                        '<a href="' + link + '"  class="list clear" data-type="' + list.class + '">' +
                        '<img src="' + list.front_cover + '">' +
                        '<span>' + list.title + '</span>' +
                        '<span>' + list.pre + ' 发布人：' + list.publisher + '</span>' +
                        '<span>' + list.create_time + '</span>' +
                        '<span class="mui-icon mui-icon-forward"></span>' +
                        '<i class="fail" data-id="' + list.id + '" data-class="' + list.class + '">不通过</i><i class="pass"  data-id="' + list.id + '" data-class="' + list.class + '">通&nbsp;过</i>' +
                        '</a>' +
                        '</li>'
            }else{
                html +=
                        '<li>'+
                        '<a href="#" class="list clear" data-type="' + list.class + '">'+
                        '<img src="'+list.front_cover+'">'+
                        '<span>'+ list.title + '</span>'+
                        '<p>'+ class_name+ '</p>'+
                        '<p>'+
                        '	审核人：  '+list.username+''+
                        '</p>'+
                        '<span> '+list.review_time+'</span>'
                if (list.review_status == 1){
                    html+='<i class="pass"></i>';
                }else if (list.review_status == 2){
                    html+='<i class="refuse"></i>';
                }else if (list.review_status == 0){
                    html +='<i style="right: 0;width: 0.8rem;background: #ffff00;"></i>';
                }
                        html +='</a>'+
                        '</li>';
            }
        }
        if(type==0){
            $('.publish ul').append(html);
        }else if(type==1){
            $('.push ul').append(html);
        }else if(type==2){
            $('.Audited ul').append(html);
        }
        skidding();
    }

    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        c = this.getAttribute("data-index");
        if(c==0){
            if($(".publish ul li").length<7){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".push ul li").length<7){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==2){
            if($(".Audited ul li").length<7){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
        setCookie('type',c);
    });


    //发布审核
    mui('#item1mobile').on('tap', '.pass', function(e) {
        event.stopPropagation();
        event.preventDefault();
        var element = this.parentNode.parentNode;
        var id = this.getAttribute("data-id");
        var _class = this.getAttribute("data-class");
        var _type = this.getAttribute("data-type");
        swal({
            title: "",
            text: "确定通过审核？",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "确认",
            cancelButtonText: "取消",
            confirmButtonColor: "#ec6c62"
        }, function() {
                pass(element,id,_class,1,_type);
        });
    });

    mui('#item1mobile').on('tap', '.fail', function(e) {
        event.stopPropagation();
        event.preventDefault();
        var element = this.parentNode.parentNode;
        var id = this.getAttribute("data-id");
        var _class = this.getAttribute("data-class");
        var _type = this.getAttribute("data-type");
        swal({
            title: "",
            text: "确定不通过审核？",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "确认",
            cancelButtonText: "取消",
            confirmButtonColor: "#ec6c62"
        }, function() {
            pass(element,id,_class,2,_type);
        });
    });


    //推送审核
    mui('#item2mobile').on('tap', '.pass', function(e) {
        event.stopPropagation();
        event.preventDefault();
        var element = this.parentNode.parentNode;
        var id = this.getAttribute("data-id");
        var _class = this.getAttribute("data-class");
        var _type = this.getAttribute("data-type");
        swal({
            title: "",
            text: "确定通过审核？",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "确认",
            cancelButtonText: "取消",
            confirmButtonColor: "#ec6c62"
        }, function() {
            pass(element,id,_class,1,_type);
        });
    });

    mui('#item2mobile').on('tap', '.fail', function(e) {
        event.stopPropagation();
        event.preventDefault();
        var element = this.parentNode.parentNode;
        var id = this.getAttribute("data-id");
        var _class = this.getAttribute("data-class");
        var _type = this.getAttribute("data-type");
        swal({
            title: "",
            text: "确定不通过审核？",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "确认",
            cancelButtonText: "取消",
            confirmButtonColor: "#ec6c62"
        }, function() {
            pass(element,id,_class,-1,_type);
        });
    });

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    });


    //审核ajax
    var  pass = function(element,id,_class,status,_type){
        if(_type == 1){
            var url = "{:Url('Review/review')}";
        }else{
            var url = "{:Url('Review/push')}";
        }
        $.ajax({
            type:"post",
            url: url,
            data:{
                id:id,
             class:_class,
            status:status
            },
            success:function(data){
                    if(data.code==1){
//                        $(element).remove();
                        swal({
                            title: "",
                            text: "审核成功",
                            type: "success",
                            confirmButtonText: "确认"
                        });
                        setTimeout(function(){
                            location=location;
                        },1500);
                    }else{
                        swal({
                            title: "",
                            text: data.msg,
                            type: "error",
                            confirmButtonText: "确认",
                            timer:1500
                        });
                    }
            },
            error:function(data){
                swal({
                    title: "",
                    text: data.msg,
                    type: "error",
                    confirmButtonText: "确认",
                    timer:1500
                });
            }
        })
    }


    var skidding = function() {
        //侧滑显示删除按钮
        var expansion = null; //是否存在展开的list
        var container = document.querySelectorAll('.list li a');
        for (var i = 0; i < container.length; i++) {
            var x, y, X, Y, swipeX, swipeY;
            container[i].addEventListener('touchstart', function (event) {
                x = event.changedTouches[0].pageX;
                y = event.changedTouches[0].pageY;
                swipeX = true;
                swipeY = true;
            });
            container[i].addEventListener('touchmove', function (event) {

                X = event.changedTouches[0].pageX;
                Y = event.changedTouches[0].pageY;
                if (expansion) {   //判断是否展开，如果展开则收起
                    expansion.className = "";
                }
                // 左右滑动
                if (swipeX && Math.abs(X - x) - Math.abs(Y - y) > 0) {
                    // 阻止事件冒泡
                    event.stopPropagation();
                    if (X - x > 50) {   //右滑
                        event.preventDefault();
                        this.className = "";    //右滑收起
                    }
                    if (x - X > 50) {   //左滑
                        event.preventDefault();
                        this.className = "swipeleft";   //左滑展开
                        expansion = this;
                    }
                    swipeY = false;
                }
                // 上下滑动
                if (swipeY && Math.abs(X - x) - Math.abs(Y - y) < 0) {
                    swipeX = false;
                }
            });
        }
    }

</script>
{/block}