{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/structure/structure.css">
{/block}

{block name="body"}

<!--<div class="table">-->
	<!--<div class="thead clear">-->
		<!--<div class="th fl name">姓名</div>-->
		<!--<div class="th fl position">党内职位</div>-->
		<!--<div class="th fl phone">联系方式</div>-->
	<!--</div>-->
	<!--&lt;!&ndash;一组&ndash;&gt;-->
	<!--<div class="tbody">-->
		<!--<div class="tb fl party">-->
			<!--<span>凫村党工委</span>-->
		<!--</div>-->
		<!--<div class="tb fl position">-->
			<!--<span>书记</span>-->
			<!--<span>副书记</span>-->
			<!--<span>党建指导员</span>-->
		<!--</div>-->
		<!--<div class="tb fl name">-->
			<!--<span>尹达文</span>-->
			<!--<span>尹柱荣</span>-->
			<!--<span>尹金海</span>-->
		<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash;/一组&ndash;&gt;-->
<!--</div>-->
<ul class="d_lists">
	<!--<li class="d_list">-->
		<!--<div class="d_img_box">-->
			<!--<div class="d_img" style="background-color: #ef6776">-->
				<!--陈-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="d_name">陈叔叔</div>-->
		<!--<a class="d_tel" href="tel:15824167420" >-->
			<!--<span class="d_tel_icon"></span>-->
			<!--15824167420-->
		<!--</a>-->
	<!--</li>-->
</ul>
{/block}

{block name="script"}
<script>
$('title' ).text('组织架构');
var party3 = '{$party}';
console.log(party3);
	var data2 =[
	{
		"party3":"中共台州市直属机关工作委员会",
		"detail3":[
			{
				"detail4":[
					{
						"position":"党组织书记",
						"name":"蔡文富",
						"phone":"13957632900"
					},
					{
						"position":"联系人",
						"name":"李欣朋",
						"phone":"88510555"
					},
				]
			}]
	},
	{
		"party3":"中共台州市委办公室机关委员会",
		"detail3":[
			{
				"detail4":[
					{
						"position":"党组织书记",
						"name":"郑浩",
						"phone":"13968505511"
				},
					{
						"position":"联系人",
						"name":"缪敏",
						"phone":"13968505511"
					},
				]
			}]
	},	
	{
		"party3":"中共台州市委办公室第一支部委员会",
		"detail3":[
			{
				"detail4":[
					{
						"position":"党组织书记",
						"name":"干伯聪",
						"phone":"13335763277"
					},
					{
						"position":"联系人",
						"name":"金倩",
						"phone":"15805766888"
					},
				]
			}]
	},	
	{
		"party3":"中共台州市委办公室第二支部委员会",
		"detail3":[
			{
				"detail4":[
					{
						"position":"党组织书记",
						"name":"王晓剑",
						"phone":"13958620887"
					},
					{
						"position":"联系人",
						"name":"尤燊",
						"phone":"13958620887"
					},
				]
			}]
	},
		{
			"party3":"中共台州市委办公室第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈益生",
							"phone":"13058679820"
						},
						{
							"position":"联系人",
							"name":"陈标",
							"phone":"13058679820"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委办公室离退休支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"郑普顺",
						},
						{
							"position":"联系人",
							"name":"高明田",
							"phone":"0576-85111572"
						},
					]
				}]
		},
		{
			"party3":"中共台州市市纪委市监委委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"胡海良",
							"phone":"18906580386"
						},
						{
							"position":"联系人",
							"name":"陈云飞",
							"phone":"0576-88510271"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第一党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨敏辉",
						},
						{
							"position":"联系人",
							"name":"陈云飞",
							"phone":"0576-88510271"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第二党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李慧军",
						},
						{
							"position":"联系人",
							"name":"林明霞",
							"phone":"8510279"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第三党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"翟思德",
						},
						{
							"position":"联系人",
							"name":"庞雯媛",
							"phone":"88510285"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第四党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李灵志",
						},
						{
							"position":"联系人",
							"name":"李巍",
							"phone":"88510337"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第五党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈广飞",
						},
						{
							"position":"联系人",
							"name":"张锋",
							"phone":"88511922"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第六党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李平",
						},
						{
							"position":"联系人",
							"name":"梁艳",
							"phone":"0576-88510281"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第七党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林瑛",
						},
						{
							"position":"联系人",
							"name":"尤峥奋",
							"phone":"0576-88510386"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第八党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈文博",
						},
						{
							"position":"联系人",
							"name":"林永泉",
							"phone":"0576-88512881"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第九党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"季建谷",
						},
						{
							"position":"联系人",
							"name":"王建明",
							"phone":"0576-88512882"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第十党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"吴能将",
						},
						{
							"position":"联系人",
							"name":"陈凌光",
							"phone":"88512886"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第十一党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨国猛",
						},
						{
							"position":"联系人",
							"name":"余斌",
							"phone":"88512877"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第十二党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"胡克礼",
						},
						{
							"position":"联系人",
							"name":"朱天文",
							"phone":"88512889"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第十三党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"涂宏伟",
						},
						{
							"position":"联系人",
							"name":"郑志坚",
							"phone":"88512891"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第十四党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"卢济斌",
						},
						{
							"position":"联系人",
							"name":"李凌斌",
							"phone":"88512893"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第十五党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"戴丽玉",
						},
						{
							"position":"联系人",
							"name":"郑龙",
							"phone":"88510283"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第十六党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"郑京飞",
						},
						{
							"position":"联系人",
							"name":"叶辉",
							"phone":"88510267"
						},
					]
				}]
		},
		{
			"party3":"中共台州市纪委监委第十七党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"潘岩梓",
						},
						{
							"position":"联系人",
							"name":"陈梅香",
							"phone":"88510271"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委组织部机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"刘小兵",
							"phone":"13606688440"
						},
						{
							"position":"联系人",
							"name":"徐兢",
							"phone":"13606688440"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委组织部机关第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈海峰",
							"phone":"13575843735"
						},
						{
							"position":"联系人",
							"name":"陈海峰",
							"phone":"13575843735"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委组织部机关离退休干部支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈芳霞",
							"phone":"13958576333"
						},
						{
							"position":"联系人",
							"name":"陈芳霞",
							"phone":"13958576333"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委组织部机关第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"徐兢",
							"phone":"13606688440"
						},
						{
							"position":"联系人",
							"name":"徐兢",
							"phone":"13606688440"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委组织部机关第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈羽",
							"phone":"13968558068"
						},
						{
							"position":"联系人",
							"name":"陈羽",
							"phone":"13968558068"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委宣传部机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"胡韶光",
							"phone":"13958630011"
						},
						{
							"position":"联系人",
							"name":"董建斌",
							"phone":"13958630011"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委宣传部机关委员会第一党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"秦娟",
						},
						{
							"position":"联系人",
							"name":"金鹏飞",
							"phone":"0576-88511383"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委宣传部机关委员会第二党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李叔军",
							"phone":"13857631128"
						},
						{
							"position":"联系人",
							"name":"符鑫",
							"phone":"13857631128"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委宣传部机关委员会第三党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"项柳平",
							"phone":"13586201031"
						},
						{
							"position":"联系人",
							"name":"陈怡",
							"phone":"13586201031"
						},
					]
				}]
		},
		{
			"party3":"中共台州市政协直属机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"罗文初",
						},
						{
							"position":"联系人",
							"name":"朱晶晶",
							"phone":"88511510"
						},
					]
				}]
		},
		{
			"party3":"中共台州市政协机关第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"何善泽",
						},
						{
							"position":"联系人",
							"name":"朱晶晶",
							"phone":"88511510"
						},
					]
				}]
		},
		{
			"party3":"中共台州市政协机关第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王福伟",
						},
						{
							"position":"联系人",
							"name":"朱晶晶",
							"phone":"88511510"
						},
					]
				}]
		},
		{
			"party3":"中共台州市政协机关第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"程尚送",
						},
						{
							"position":"联系人",
							"name":"朱晶晶",
							"phone":"88511510"
						},
					]
				}]
		},
		{
			"party3":"中共台州市政协机关第四支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"冯雷",
						},
						{
							"position":"联系人",
							"name":"朱晶晶",
							"phone":"88511510"
						},
					]
				}]
		},
		{
			"party3":"中共台州市政协机关第五支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"汪觉新",
						},
						{
							"position":"联系人",
							"name":"朱晶晶",
							"phone":"88511510"
						},
					]
				}]
		},
		{
			"party3":"中共台州市体育局机关总支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"吕彤",
							"phone":"13738590473"
						},
						{
							"position":"联系人",
							"name":"顾一俊",
							"phone":"15705769906"
						},
					]
				}]
		},
		{
			"party3":"中共台州市体育局老干部支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"任丕业",
							"phone":"13566895257"
						},
						{
							"position":"联系人",
							"name":"陈森",
							"phone":"13566895257"
						},
					]
				}]
		},
		{
			"party3":"中共台州市体育局体育总会支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"黄君华",
							"phone":"13738590473"
						},
						{
							"position":"联系人",
							"name":"张隽晖",
							"phone":"13738590473"
						},
					]
				}]
		},
		{
			"party3":"中共台州市市体育局机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"茅盈盈",
							"phone":"15705769906"
						},
						{
							"position":"联系人",
							"name":"顾一俊",
							"phone":"15705769906"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"胡平法",
							"phone":"13736661006"
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）肾内科支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"谢海萍",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）妇产科支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"周婉平",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）内二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈赛",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"台州市中心医院（台州学院附属医院）内一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"蔡海鹏",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）医技支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"卢洪胜",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）退休支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"金国健",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）急诊科支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"章赛军",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）五官科支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"舒海荣",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）药剂科支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"夏哲林",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）神经内科支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"毛玲群",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）检验科支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"周勇",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）外一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"刘小春",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）行政支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王妍",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中心医院（台州学院附属医院）外二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"郑建萍",
						},
						{
							"position":"联系人",
							"name":"王雨佳",
							"phone":"0576-88526090"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业科学研究院委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"屈为栋",
							"phone":"13989690323"
						},
						{
							"position":"联系人",
							"name":"米敏",
							"phone":"85196500"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业科学研究院第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨子峰",
						},
						{
							"position":"联系人",
							"name":"米敏",
							"phone":"85196500"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业科学研究院第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨子峰",
						},
						{
							"position":"联系人",
							"name":"米敏",
							"phone":"85196500"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业科学研究院第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"马义虎",
						},
						{
							"position":"联系人",
							"name":"米敏",
							"phone":"85196500"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业科学研究院第四支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"郑福清",
						},
						{
							"position":"联系人",
							"name":"米敏",
							"phone":"85196500"
						},
					]
				}]
		},
		{
			"party3":"中共中车集团台州第七八一六工厂委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"",
						},
						{
							"position":"联系人",
							"name":"",
						},
					]
				}]
		},
		{
			"party3":"中共中车集团台州第七八一六工厂委员会轴承支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林正辉",
							"phone":"13857683560"
						},
						{
							"position":"联系人",
							"name":"谢奕",
							"phone":"13857683560"
						},
					]
				}]
		},
		{
			"party3":"中共中车集团台州第七八一六工厂委员会退休支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"姜义海",
							"phone":"13806587317"
						},
						{
							"position":"联系人",
							"name":"袁二青",
							"phone":"13806587317"
						},
					]
				}]
		},
		{
			"party3":"中共中车集团台州第七八一六工厂委员会修船支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈泽国",
							"phone":"13736688096"
						},
						{
							"position":"联系人",
							"name":"马建",
							"phone":"13736688096"
						},
					]
				}]
		},
		{
			"party3":"中共中车集团台州第七八一六工厂委员会机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"郑小形",
							"phone":"13857667932"
						},
						{
							"position":"联系人",
							"name":"黄耀",
							"phone":"13857667932"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室直属机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"张海星",
							"phone":"13566831888"
						},
						{
							"position":"联系人",
							"name":"梅光明",
							"phone":"88511375"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室第五支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"黄超",
						},
						{
							"position":"联系人",
							"name":"周月芹",
							"phone":"88511305"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室老干部支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨国耀",
						},
						{
							"position":"联系人",
							"name":"孙群欢",
							"phone":"88510196"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈学正",
						},
						{
							"position":"联系人",
							"name":"柯剑伟",
							"phone":"88510358"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室水环境支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"黄志斌",
						},
						{
							"position":"联系人",
							"name":"徐非",
							"phone":"88312185"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈正茶",
						},
						{
							"position":"联系人",
							"name":"李伟",
							"phone":"88511112"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"张晓玮",
						},
						{
							"position":"联系人",
							"name":"陈霖",
							"phone":"88510097"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室无管局支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林云琴",
						},
						{
							"position":"联系人",
							"name":"王明兵",
							"phone":"88551157"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室第四支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王庆",
						},
						{
							"position":"联系人",
							"name":"俞统益",
							"phone":"88510226"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室地方志支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林明达",
						},
						{
							"position":"联系人",
							"name":"陶毓",
							"phone":"88209283"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府办公室接待办支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王德华",
						},
						{
							"position":"联系人",
							"name":"赵宏波",
							"phone":"88510232"
						},
					]
				}]
		},
		{
			"party3":"台州市机关事务管理局直属机关党委",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王超",
							"phone":"15057698889"
						},
						{
							"position":"联系人",
							"name":"王华军",
							"phone":"15057698889"
						},
					]
				}]
		},
		{
			"party3":"中共台州市机关事务管理局机关二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王华军",
							"phone":"15657660909"
						},
						{
							"position":"联系人",
							"name":"方生亮",
							"phone":"15657660909"
						},
					]
				}]
		},
		{
			"party3":"中共台州市机关事务管理局机关老干部一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"马云其",
							"phone":"13806588956"
						},
						{
							"position":"联系人",
							"name":"赵万亨",
							"phone":"13806588956"
						},
					]
				}]
		},
		{
			"party3":"中共台州市机关事务管理局机关中心幼儿园支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"叶峥",
						},
						{
							"position":"联系人",
							"name":"叶峥",
							"phone":"88701166"
						},
					]
				}]
		},
		{
			"party3":"中共台州市市级服务中心支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨爱明",
							"phone":"13957692858"
						},
						{
							"position":"联系人",
							"name":"郑尚将",
							"phone":"13957692858"
						},
					]
				}]
		},
		{
			"party3":"中共台州市机关事务管理局机关老干部二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"马云其",
							"phone":"13806588956"
						},
						{
							"position":"联系人",
							"name":"赵万亨",
							"phone":"85288326"
						},
					]
				}]
		},
		{
			"party3":"中共台州市市级机关食堂支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"蔡赟",
							"phone":"13806567766"
						},
						{
							"position":"联系人",
							"name":"赵鹏炜",
							"phone":"13806567766"
						},
					]
				}]
		},
		{
			"party3":"中共台州市机关事务管理局机关三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"宋代正",
							"phone":"13018899178"
						},
						{
							"position":"联系人",
							"name":"栋红旗",
							"phone":"13018899178"
						},
					]
				}]
		},
		{
			"party3":"中共台州市级机关公务用车保障中心支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"章秀斌",
							"phone":"13906599995"
						},
						{
							"position":"联系人",
							"name":"章秀斌",
							"phone":"13906599995"
						},
					]
				}]
		},
		{
			"party3":"中共台州市机关事务管理局机关一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"谢瑜晓",
							"phone":"13586290800"
						},
						{
							"position":"联系人",
							"name":"谢瑜晓",
							"phone":"13586290800"
						},
					]
				}]
		},
		{
			"party3":"中共台州市级机关物业管理服务中心支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王兴康",
							"phone":"13806563060"
						},
						{
							"position":"联系人",
							"name":"王兴康",
							"phone":"13806563060"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府招待所老干部支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"洪建军",
						},
						{
							"position":"联系人",
							"name":"赵婉芳",
							"phone":"85288326"
						},
					]
				}]
		},
		{
			"party3":"中共台州宾馆支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"洪建军",
						},
						{
							"position":"联系人",
							"name":"赵婉芳",
							"phone":"85288326"
						},
					]
				}]
		},
		{
			"party3":"中共台州市民用航空管理局直属机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李剑毅",
							"phone":"13586057000"
						},
						{
							"position":"联系人",
							"name":"王惠玲",
							"phone":"13586058126"
						},
					]
				}]
		},
		{
			"party3":"中共台州市民用航空管理局第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王惠玲",
							"phone":"13586058126"
						},
						{
							"position":"联系人",
							"name":"周彤",
							"phone":"13586058126"
						},
					]
				}]
		},
		{
			"party3":"中共台州市民用航空管理局第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王青玉",
							"phone":"13806582058"
						},
						{
							"position":"联系人",
							"name":"林江",
							"phone":"13806582058"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中级人民法院机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"吴曙光",
							"phone":"13586007999"
						},
						{
							"position":"联系人",
							"name":"谢吉",
							"phone":"88553065"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中级人民法院老干部党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈宏亮",
							"phone":"15868659295"
						},
						{
							"position":"联系人",
							"name":"张瑾晨",
							"phone":"15868659295"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中级人民法院第一党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"阮丹军",
						},
						{
							"position":"联系人",
							"name":"陈园",
							"phone":"88553028"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中级人民法院第二党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"袁晓贞",
						},
						{
							"position":"联系人",
							"name":"叶翔",
							"phone":"88558603"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中级人民法院第三党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"郭晓明",
						},
						{
							"position":"联系人",
							"name":"陈茜",
							"phone":"88553103"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中级人民法院第四党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈公辉",
						},
						{
							"position":"联系人",
							"name":"朱懿婷",
							"phone":"88553076"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中级人民法院第五党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈泽彪",
						},
						{
							"position":"联系人",
							"name":"徐浩",
							"phone":"88553024"
						},
					]
				}]
		},
		{
			"party3":"中共台州市中级人民法院第六党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"高芳",
						},
						{
							"position":"联系人",
							"name":"张谨晨",
							"phone":"88553003"
						},
					]
				}]
		},
		{
			"party3":"中国共产党台州海事局委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王晓敏",
							"phone":"15868683936"
						},
						{
							"position":"联系人",
							"name":"王暐喆",
							"phone":"0576-88312630"
						},
					]
				}]
		},
		{
			"party3":"中国共产党台州温岭海事处支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林炳贤",
							"phone":"13606668108"
						},
						{
							"position":"联系人",
							"name":"余莹",
							"phone":"13606668108"
						},
					]
				}]
		},
		{
			"party3":"中共台州海事局机关离退休支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"朱文军",
						},
						{
							"position":"联系人",
							"name":"王暐喆",
							"phone":"0576-88312630"
						},
					]
				}]
		},
		{
			"party3":"中共台州海事局机关第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"罗华平",
							"phone":"13655761212"
						},
						{
							"position":"联系人",
							"name":"曹俊亮",
							"phone":"13655761212"
						},
					]
				}]
		},
		{
			"party3":"中共台州椒江海事处总支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林英尧",
							"phone":"15957619399"
						},
						{
							"position":"联系人",
							"name":"泮晨娴",
							"phone":"15957619399"
						},
					]
				}]
		},
		{
			"party3":"中共台州椒江海事处临海头门办事处支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"余振敏",
							"phone":"13858609259"
						},
						{
							"position":"联系人",
							"name":"叶先锋",
							"phone":"13858609259"
						},
					]
				}]
		},
		{
			"party3":"中共台州椒江海事处离退休支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈凤领",
							"phone":"15957619399"
						},
						{
							"position":"联系人",
							"name":"泮晨娴",
							"phone":"15957619399"
						},
					]
				}]
		},
		{
			"party3":"台州椒江海事处黄岩办事处支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"张敏岩",
							"phone":"13705766023"
						},
						{
							"position":"联系人",
							"name":"张敏岩",
							"phone":"13705766023"
						},
					]
				}]
		},
		{
			"party3":"中共台州椒江海事处第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"金浏夏",
							"phone":"13665773292"
						},
						{
							"position":"联系人",
							"name":"金浏夏",
							"phone":"13665773292"
						},
					]
				}]
		},
		{
			"party3":"中共台州椒江海事处第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"梁仕国",
							"phone":"13867636899"
						},
						{
							"position":"联系人",
							"name":"夏维",
							"phone":"13867636899"
						},
					]
				}]
		},
		{
			"party3":"中共台州海事局机关第五支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"张文敏",
							"phone":"15858663766"
						},
						{
							"position":"联系人",
							"name":"吴娅婷",
							"phone":"15858663766"
						},
					]
				}]
		},
		{
			"party3":"中共台州玉环海事处支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"许永秋",
							"phone":"13606680546"
						},
						{
							"position":"联系人",
							"name":"郑剑",
							"phone":"13606680546"
						},
					]
				}]
		},
		{
			"party3":"中共台州海事局机关第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈方达",
							"phone":"15067616965"
						},
						{
							"position":"联系人",
							"name":"冯巍一",
							"phone":"15067616965"
						},
					]
				}]
		},
		{
			"party3":"中共台州海事局机关第四支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王伟东",
							"phone":"13732341988"
						},
						{
							"position":"联系人",
							"name":"黄赛赛",
							"phone":"13732341988"
						},
					]
				}]
		},
		{
			"party3":"中共台州三门海事处支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨鹏",
							"phone":"13857620682"
						},
						{
							"position":"联系人",
							"name":"杨婷",
							"phone":"13857620682"
						},
					]
				}]
		},
		{
			"party3":"中共台州海事局机关第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"刘传法",
						},
						{
							"position":"联系人",
							"name":"王暐喆",
							"phone":"0576-88312630"
						},
					]
				}]
		},
		{
			"party3":"中共浙江外运台州有限公司委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李欠笋",
							"phone":"13706768750"
						},
						{
							"position":"联系人",
							"name":"任立新",
							"phone":"0576-85305226"
						},
					]
				}]
		},
		{
			"party3":"中共浙江外运台州有限公司运输支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈森龙",
						},
						{
							"position":"联系人",
							"name":"陈森龙",
							"phone":"0576-85305226"
						},
					]
				}]
		},
		{
			"party3":"中共浙江外运台州有限公司机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"马卫星",
						},
						{
							"position":"联系人",
							"name":"任立新",
							"phone":"0576-85305226"
						},
					]
				}]
		},
		{
			"party3":"中共浙江外运台州有限公司汽训队支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"梁思铎",
						},
						{
							"position":"联系人",
							"name":"梁思铎",
							"phone":"0576-85305226"
						},
					]
				}]
		},
		{
			"party3":"中共浙江外运台州有限公司台州物流分公司支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈利君",
						},
						{
							"position":"联系人",
							"name":"金惠民",
							"phone":"0576-82425471"
						},
					]
				}]
		},
		{
			"party3":"中共浙江外运台州有限公司宇龙支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王相如",
							"phone":"13867685881"
						},
						{
							"position":"联系人",
							"name":"沈良绍",
							"phone":"0576-85305226"
						},
					]
				}]
		},
		{
			"party3":"中共台州市浙江国商实业股份有限公司委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"虞希良",
							"phone":"15305760059"
						},
						{
							"position":"联系人",
							"name":"阮新进",
							"phone":"13867685881"
						},
					]
				}]
		},
		{
			"party3":"中共浙江国商实业股份有限公司零售支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈邦干",
							"phone":"13586073622"
						},
						{
							"position":"联系人",
							"name":"陈邦干",
							"phone":"13586073622"
						},
					]
				}]
		},
		{
			"party3":"中共浙江国商实业股份有限公司批发支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈黎明",
							"phone":"13305762821"
						},
						{
							"position":"联系人",
							"name":"陈黎明",
							"phone":"13305762821"
						},
					]
				}]
		},
		{
			"party3":"中共浙江国商实业股份有限公司行政支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"戴学德",
							"phone":"13306561857"
						},
						{
							"position":"联系人",
							"name":"戴学德",
							"phone":"13306561857"
						},
					]
				}]
		},
		{
			"party3":"中共浙江国商实业股份有限公司台百离休党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"潘锡华",
							"phone":"13819689882"
						},
						{
							"position":"联系人",
							"name":"潘锡华",
							"phone":"13819689882"
						},
					]
				}]
		},
		{
			"party3":"中共浙江国商实业股份有限公司台五金离休支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林仙高",
							"phone":"13867601845"
						},
						{
							"position":"联系人",
							"name":"李斌",
							"phone":"13867601845"
						},
					]
				}]
		},
		{
			"party3":"中共台州市司法局直属机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"蔡德顺",
							"phone":"13606689988"
						},
						{
							"position":"联系人",
							"name":"蔡翔",
							"phone":"88603586"
						},
					]
				}]
		},
		{
			"party3":"中共浙江利群律师事务所党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"周海龙",
						},
						{
							"position":"联系人",
							"name":"陶新颖",
							"phone":"0576-88228859"
						},
					]
				}]
		},
		{
			"party3":"中共浙江海贸律师事务所党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"金薇薇",
							"phone":"13736685226"
						},
						{
							"position":"联系人",
							"name":"金薇薇",
							"phone":"13736685226"
						},
					]
				}]
		},
		{
			"party3":"中共浙江鑫湖律师事务所党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王灵平",
							"phone":"15824073327"
						},
						{
							"position":"联系人",
							"name":"何祺",
							"phone":"15824073327"
						},
					]
				}]
		},
		{
			"party3":"中共台州市司法局机关支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"夏淑芬",
							"phone":"13606689988"
						},
						{
							"position":"联系人",
							"name":"蔡翔",
							"phone":"13606689988"
						},
					]
				}]
		},
		{
			"party3":"中共浙江新台州律师事务所党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"曹利微",
							"phone":"13706575429"
						},
						{
							"position":"联系人",
							"name":"曹利微",
							"phone":"13706575429"
						},
					]
				}]
		},
		{
			"party3":"中共台州市司法局老干部党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林文虎",
						},
						{
							"position":"联系人",
							"name":"林文虎",
							"phone":"0576-88377919"
						},
					]
				}]
		},
		{
			"party3":"中共台州市总工会总支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"汪永忠",
							"phone":"13750661981"
						},
						{
							"position":"联系人",
							"name":"吴晓",
							"phone":"0576-88819596"
						},
					]
				}]
		},
		{
			"party3":"中共台州市总工会机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"孙茜",
						},
						{
							"position":"联系人",
							"name":"吴晓",
							"phone":"0576-88819596"
						},
					]
				}]
		},
		{
			"party3":"中共台州市总工会老干部支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"牟中欧",
							"phone":"13676675659"
						},
						{
							"position":"联系人",
							"name":"沈文元",
							"phone":"13676675659"
						},
					]
				}]
		},
		{
			"party3":"中共国家统计局台州调查队机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"柳怀瑾",
						},
						{
							"position":"联系人",
							"name":"郑林平",
							"phone":"88510711"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业局机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"葛金林",
							"phone":"18815008042"
						},
						{
							"position":"联系人",
							"name":"王剑锋",
							"phone":"88591056"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业局机关第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"孙仲钱",
							"phone":"13819685630"
						},
						{
							"position":"联系人",
							"name":"王娜",
							"phone":"13819685630"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业局机关第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"葛武再",
						},
						{
							"position":"联系人",
							"name":"陈露",
							"phone":"88519179"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业局机关第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"谢周嵩",
						},
						{
							"position":"联系人",
							"name":"罗振玲",
							"phone":"88591955"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业局机关离退休干部临海支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"罗时雨",
							"phone":"13905868828"
						},
						{
							"position":"联系人",
							"name":"宋琛",
							"phone":"13905868828"
						},
					]
				}]
		},
		{
			"party3":"中共台州市农业局机关离退休干部椒江支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李岳林",
							"phone":"13606655331"
						},
						{
							"position":"联系人",
							"name":"沈国岩",
							"phone":"13606655331"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省台州市烟草专卖局机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"张崇贵",
							"phone":"13750690986"
						},
						{
							"position":"联系人",
							"name":"甘露",
							"phone":"13750690986"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省台州市烟草专卖局第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"阮苏霞",
							"phone":"13666862218"
						},
						{
							"position":"联系人",
							"name":"鲍程峰",
							"phone":"13666862218"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省台州市烟草专卖局第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈晓杰",
							"phone":"15205863334"
						},
						{
							"position":"联系人",
							"name":"张鼎",
							"phone":"15205863334"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省台州市烟草专卖局第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈晓杰",
							"phone":"15205863334"
						},
						{
							"position":"联系人",
							"name":"黄佳佳",
							"phone":"13857695093"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省台州市烟草专卖局第四支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李凌",
							"phone":"13676651153"
						},
						{
							"position":"联系人",
							"name":"谢晨雯",
							"phone":"13676651153"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省台州市烟草专卖局第五支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨维静",
							"phone":"13857688678"
						},
						{
							"position":"联系人",
							"name":"杨维静",
							"phone":"13857688678"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委党校委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"朱纪元",
							"phone":"13906571033"
						},
						{
							"position":"联系人",
							"name":"伍春波",
							"phone":"13906571033"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委党校第一党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"伍春波",
							"phone":"13906571033"
						},
						{
							"position":"联系人",
							"name":"伍春波",
							"phone":"13906571033"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委党校第二党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"赖朝霞",
							"phone":"13656561199"
						},
						{
							"position":"联系人",
							"name":"赖朝霞",
							"phone":"13656561199"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委党校第三党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"杨岳兵",
							"phone":"13857699448"
						},
						{
							"position":"联系人",
							"name":"杨岳兵",
							"phone":"13857699448"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委党校第四党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"曹敏",
							"phone":"13586137789"
						},
						{
							"position":"联系人",
							"name":"曹敏",
							"phone":"13586137789"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委防范和处理邪教领导小组办公室党支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"",
						},
						{
							"position":"联系人",
							"name":"",
						},
					]
				}]
		},
		{
			"party3":"中共台州市旅游局机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈再米",
							"phone":"13989610513"
						},
						{
							"position":"联系人",
							"name":"牟畔慧",
							"phone":"0576-88535771"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"周锡友",
							"phone":"15305760059"
						},
						{
							"position":"联系人",
							"name":"李玲",
							"phone":"15305760059"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司离退休支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"郏政森",
							"phone":"15305760129"
						},
						{
							"position":"联系人",
							"name":"林莉",
							"phone":"15305760129"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司党群工会监察支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈宇英",
							"phone":"15305760059"
						},
						{
							"position":"联系人",
							"name":"李玲",
							"phone":"15305760059"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司人资安保客服支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"叶卫",
							"phone":"15305760788"
						},
						{
							"position":"联系人",
							"name":"方文心",
							"phone":"15305760788"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州长途电信传输局支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"孙正义",
							"phone":"15305880055"
						},
						{
							"position":"联系人",
							"name":"胡轶佳",
							"phone":"15305880055"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司通信与信息集成支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"施盛建",
							"phone":"15305760259"
						},
						{
							"position":"联系人",
							"name":"金霞",
							"phone":"15305760259"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司号百运营支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"朱希靓",
							"phone":"15305760828"
						},
						{
							"position":"联系人",
							"name":"陈晓峰",
							"phone":"15305760828"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省通信产业服务有限公司台州市分公司委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王希佩",
							"phone":"15305768331"
						},
						{
							"position":"联系人",
							"name":"许玲芝",
							"phone":"15305768331"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省通信产业服务有限公司台州市分公司专业一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"刘宏涛",
							"phone":"15305768050"
						},
						{
							"position":"联系人",
							"name":"徐安",
							"phone":"15305768050"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省通信产业服务有限公司台州市分公司机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"陈剑波",
							"phone":"18958601818"
						},
						{
							"position":"联系人",
							"name":"陈敏姝",
							"phone":"18958601818"
						},
					]
				}]
		},
		{
			"party3":"中共浙江省通信产业服务有限公司台州市分公司专业党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王斐",
							"phone":"15305768123"
						},
						{
							"position":"联系人",
							"name":"刘斌峰",
							"phone":"15305768123"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司综合管理支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"林坚",
							"phone":"15305762005"
						},
						{
							"position":"联系人",
							"name":"陈正运",
							"phone":"15305762005"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司无线网优支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"戴伟东",
							"phone":"15305760065"
						},
						{
							"position":"联系人",
							"name":"李滎",
							"phone":"15305760065"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司监控维护支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"潘淑华",
							"phone":"15305760186"
						},
						{
							"position":"联系人",
							"name":"王潇潇",
							"phone":"15305760186"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司企业信息化支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"叶正荣",
							"phone":"18057619767"
						},
						{
							"position":"联系人",
							"name":"赵振国",
							"phone":"18057619767"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司计财审计支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王威",
							"phone":"15305882053"
						},
						{
							"position":"联系人",
							"name":"赵丹亚",
							"phone":"15305882053"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司市场拓展支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"阮光耀",
							"phone":"15305760155"
						},
						{
							"position":"联系人",
							"name":"王娴",
							"phone":"15305760155"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司政企客户支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王辉",
							"phone":"18905761188"
						},
						{
							"position":"联系人",
							"name":"金敏",
							"phone":"18905761188"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司10000运营支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"张晶辉",
							"phone":"15305760555"
						},
						{
							"position":"联系人",
							"name":"董晓晨",
							"phone":"15305760555"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司渠道运党支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"洪高伟",
							"phone":"13305760122"
						},
						{
							"position":"联系人",
							"name":"王力",
							"phone":"13305760122"
						},
					]
				}]
		},
		{
			"party3":"中共中国电信股份有限公司台州分公司网络综合支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王烨",
							"phone":"15305760173"
						},
						{
							"position":"联系人",
							"name":"方宁",
							"phone":"15305760173"
						},
					]
				}]
		},
		{
			"party3":"中共中国国际贸易促进委员会支会支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"金志伟",
							"phone":"13616683430"
						},
						{
							"position":"联系人",
							"name":"应亮亮",
							"phone":"13616683430"
						},
					]
				}]
		},
		{
			"party3":"中共台州市科学技术局支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"王先义",
							"phone":"13221637288"
						},
						{
							"position":"联系人",
							"name":"陈军",
							"phone":"13968501960"
						},
					]
				}]
		},
		{
			"party3":"中共中国邮政集团公司台州市分公司委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"徐瑞",
							"phone":"13666896699"
						},
						{
							"position":"联系人",
							"name":"杨月芬",
							"phone":"0576-89899806"
						},
					]
				}]
		},
		{
			"party3":"中共台州市委政法委员会机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李文耀",
							"phone":"13566888280"
						},
						{
							"position":"联系人",
							"name":"郑瑶",
							"phone":"13566888280"
						},
					]
				}]
		},
		{
			"party3":"中共台州市信访局机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"周江滨",
							"phone":"13706550007"
						},
						{
							"position":"联系人",
							"name":"刘荣柱",
							"phone":"13706550007"
						},
					]
				}]
		},
		{
			"party3":"市委党史研究室机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"许宏志",
							"phone":"13806586811"
						},
						{
							"position":"联系人",
							"name":"许竞凡",
							"phone":"88511082"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府法制办公室机关支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"戴平",
							"phone":"13968592825"
						},
						{
							"position":"联系人",
							"name":"袁琦",
							"phone":"0576-88510995"
						},
					]
				}]
		},
		{
			"party3":"中共台州市安全生产监督管理局机关支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"虞圣钰",
							"phone":"18906588528"
						},
						{
							"position":"联系人",
							"name":"苏元钧",
							"phone":"18906588528"
						},
					]
				}]
		},
		{
			"party3":"中共台州市人民政府经济合作办公室支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"郑文松",
							"phone":"13968680137"
						},
						{
							"position":"联系人",
							"name":"丁强",
							"phone":"0576-88601558"
						},
					]
				}]
		},
		{
			"party3":"中共台州市打击走私与海防口岸管理办公室机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"叶再武",
							"phone":"15957694499"
						},
						{
							"position":"联系人",
							"name":"卓欣浩",
							"phone":"13857668310"
						},
					]
				}]
		},
		{
			"party3":"中共台州市直属机关工作委员会机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"李欠梅",
							"phone":"13957632900"
						},
						{
							"position":"联系人",
							"name":"李欣朋",
							"phone":"88510555"
						},
					]
				}]
		},
		{
			"party3":"中共台州市残联机关支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"刘创加",
							"phone":"13867647011"
						},
						{
							"position":"联系人",
							"name":"金赛芳",
							"phone":"0576-88512711"
						},
					]
				}]
		},
		{
			"party3":"中共台州市国家税务局机关委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"蒋普寿",
							"phone":"13666417433"
						},
						{
							"position":"联系人",
							"name":"刘青",
							"phone":"13857619990"
						},
					]
				}]
		},
		{
			"party3":"中共台州市国家税务局机关第二支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"颜朝晖",
							"phone":"15888619908"
						},
						{
							"position":"联系人",
							"name":"李垣烨",
							"phone":"15888619908"
						},
					]
				}]
		},
		{
			"party3":"中共台州市国家税务局机关第三支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"叶卫红",
							"phone":"13857601808"
						},
						{
							"position":"联系人",
							"name":"缪君飞",
							"phone":"13857601808"
						},
					]
				}]
		},
		{
			"party3":"中共台州市国家税务局经济开发区税务分局支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"张勇刚",
							"phone":"18806866086"
						},
						{
							"position":"联系人",
							"name":"应瑜",
							"phone":"18806866086"
						},
					]
				}]
		},
		{
			"party3":"中共台州市国家税务局机关第一支部委员会",
			"detail3":[
				{
					"detail4":[
						{
							"position":"党组织书记",
							"name":"侯俊杰",
							"phone":"13968658218"
						},
						{
							"position":"联系人",
							"name":"陶奕蒙",
							"phone":"13968658218"
						},
					]
				}]
		},
];
var bg_color=["#b1e3fc", "#aeefef", "#ffa351", "#9393f5", "#cf88f7", "#65abfa", "#ebcffb", "#76f4f0", "#ffcf6e", "#ff8ff4"];
var len = data2.length;
console.log(data2);
for(var i = 0 ; i < len ;i++){
	var party = data2[i];
	if( party.party3 == party3){
		var detail3 = party.detail3;
		var len3 = detail3.length;
		var html = '';
		for(var j = 0; j < len3 ; j++){
			var party4 = detail3[j];
			var detail4 = party4.detail4;
			var len4 = detail4.length;
			for(var m = 0 ;m < len4 ;m++){
				html+='<li class="d_list">'+
						'<div class="d_name"><span>'+detail4[m].name +'</span><span>'+detail4[m].position+'</span> </div>'
				if(detail4[m].phone!= undefined 	) {
					html+=		'<a class="d_tel" href="tel:' + detail4[m].phone + '" >' +
								'<span class="d_tel_icon"></span>' +
								detail4[m].phone +
								'</a>'
				}
				html+=	'</li>';
			}
		}
		html += '<div class="title">'+party3+'</div>'
		$('.d_lists' ).append(html);
		break;
	}else{
		console.log('百分百名字错了'+ party3 + '后：'+ party.party3)
	}
}

$(function(){

});
</script>
{/block}