{extend name="public/common"}

{block name="style"}
<title>红色足迹</title>
<link rel="stylesheet" href="/home/css/details-template/nobanner-detail.css">
<style>
    .mui-pull-bottom-pocket {
        height: 0.8rem;
        bottom: 0.8rem;
    }
    .comment{
        padding-bottom: 1rem;
    }
</style>
{/block}
{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="article">
            <div class="title"><p>{$info.title}</p></div>
            <div class="note clear">
                <span class="publish">{$info.publisher}</span>
                <span class="time">{$info.create_time|time_format='Y-m-d'}</span>
            </div>
            <div class="content">
                <div class="article-content">{$info.content}</div>
                <div class="like">
                    <span class="read">{$info.views}</span>
                    <span class="isgood good_ notvisitor"  data-type="1" data-id="">{$info.likes}</span>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="sum">共<span>22</span>条评论</div>
            <div class="lists">
                <div class="list clear">
                    <div class="fl">
                        <img src="" alt="用户" class="user">
                    </div>
                    <div class="fl mid">
                        <div class="name limit">额鹅鹅鹅</div>
                        <div class="content" >导航导航分打卡放假啊大开杀戒看风景萨克就多结撒房间的建安街快递费阿斯蒂芬</div>
                        <div class="time">2017.8.23</div>
                    </div>
                    <div class="fr isgood good_ notvisitor"  data-type="0" data-id="">33</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom clear">
    <div class="myword fl">
        <input type="text" placeholder="说说你的感想！"  onclick="send(this,1)" id="send">
    </div>
</div>

{/block}

{block name="script"}
{/block}