{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/notice/navbar.css">
<link rel="stylesheet" href="/home/css/list/graphic-list.css">
<style>
    #tab{
        background: url(/home/images/notice/topback.png);
        width: 100%;
        height: 17vw;
        background-size: cover;
        position: fixed;
        z-index: 99;
        top: 0;
    }
    #tab a{
        margin-top: 2vw;
        line-height:10vw;
        color: #ddd;
        border-radius: 5px;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
        color: #fff!important;
        font-size: 0.42rem!important;
    }
    .mui-segmented-control .mui-control-item{
        display: inline-block;
        width:30%;
        font-size: 0.36rem;
        height:10vw;
    }
    #refreshContainer{
        margin-top: 17vw;
    }
</style>

{/block}

{block name="body"}
<div class="main">
    <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
        <a class="mui-control-item" href="#item1mobile" data-index="0">
            <span>通知公告</span>
        </a>
        <a class="mui-control-item" href="#item2mobile" data-index="1">
            <span>党建动态</span>
        </a>
    </div>
    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="mui-slider-group">
                <div id="item1mobile" class="mui-slider-item mui-control-content">
                    {empty name="list1"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <!--通知列表-->
                    <div class="list notice">
                        <ul>
                            {volist name="list1" id="lo"}
                            <a href="{:Url('Notice/detail?id='.$lo['id'])}">
                                <img src="{$lo.front_cover}" alt="图片" class="img">
                                <p>{$lo.title}</p>
                                <span>{$lo.publisher}</span>
                                <span>{$lo.create_time}</span>
                            </a>
                            {/volist}
                        </ul>
                    </div>
                    {/empty}
                </div>
                <div id="item2mobile" class="mui-slider-item mui-control-content">
                    {empty name="list2"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <!--党建动态-->
                    <div class="list dynamic">


                        <ul>
                            {volist name="list2" id="li"}
                            <a href="{:Url('dynamicdetail','id='.$li['id'])}">
                                <img src="{$li.front_cover}" alt="图片" class="img">
                                <p>{$li.title}</p>
                                <span>{$li.publisher}</span>
                                <span>{$li.create_time}</span>
                            </a>
                            {/volist}
                        </ul>
                    </div>
                    {/empty}
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var win_w = $(window).width();
    var c =parseInt(window.location.href.split("index/c/")[1])-1;
    $(function(){
        $("title").text("通知公告");
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');

         function IsPC() {
                    var userAgentInfo = navigator.userAgent;
                    var Agents = ["Android", "iPhone",
                        "SymbianOS", "Windows Phone",
                        "iPad", "iPod"];
                    var flag = true;
                    for (var v = 0; v < Agents.length; v++) {
                        if (userAgentInfo.indexOf(Agents[v]) > 0) {
                            flag = false;
                            break;
                        }
                    }
                    return flag;
                }

                flag = IsPC();
                if(flag){
                    $(".main").css({"width":"640px","height":"90vh","margin":"5vh 0 0 -320px","position":"relative","left":"50%"});
                    $("#tab").css({"width":"640px","height":"45px","top":"5vh"});
                    $("#tab a").css({"line-height":"auto","height":"auto","margin-top":"0","line-height":"38px"});
                    $("#refreshContainer").css("margin-top","45px");
                    $(".list ul a span:nth-child(3)").css("width",'45%');
                    $(".tag").css({"height":"30px","line-height":"30px"});
                    $(".list ul a img").css({"width":"90px","height":"60px"});
                    $(".lists .list .img").css({"width":"640px","height":"180px"});
                    $(".dynamic .s_title, .notice .s_title").css("font-size","18px");
                    $(".dynamic .sent_detail, .notice .sent_detail").css("font-size","14px");
                    $(".current_special .bac_img").css({"height":"440px"});
                    $(".current_special .fuzzy").css("height","440px");
                    $(".current_special .fuzzy .shadow_box").css({"width":"380px","height":"320px"});
                    $(".current_special .fuzzy .shadow_box .content .roll_box .s_img").css("height","180px");
                    $(".current_special .fuzzy .spe_title").css({"height":"30px","line-height":"30px"})
                }
    })

    window.onload = function() {
      if(flag){
                $(".mui-pull .mui-pull-caption").css("font-size","15px");
            }
        if(c==0){
            if ($(".notice a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".dynamic a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    function loadScroll(){
        if(c==0){
            var len = $(".notice a").length;
        }else if(c==1){
            var len = $(".dynamic a").length;
        }
                $.ajax({
                    type:"post",
                    url:"{:Url('Notice/more')}",
                    data:{
                        length:len,
                        type:c
                    },
                    beforeSend: function(XMLHttpRequest){
                    },
                    success:function(data){
                        addCourse(data,c);
                        if(data.code == 1){
                            var dataLen =data.data.length;
                            if(data.data.length == 10){
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                            }else{
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                            }
                        }else{
                            mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                        }
                    }
                })
    }
    function addCourse(data,type) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for (var i = 0; i < len; i++) {
            var list = lists[i];
            if (type == 0 ){
                html +=
                        '<a href="/home/Notice/detail/id/'+list.id+'">'
            }else if(type==1){
                html +=
                        '<a href="/home/Notice/dynamicdetail/id/'+list.id+'">'
            }
           html+=

                    '<img src="'+list.front_cover+'" alt="图片" class="img">'+
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.publisher+'</span>'+
                    '<span>'+list.create_time+'</span>'+
                    '</a>';
            }
        if (type == 0) {
            $(".notice ul").append(html);
        } else if (type == 1) {
            $(".dynamic ul").append(html);
        }
    }


    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        c = this.getAttribute("data-index");
        if(c==0){
            if($(".notice a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".dynamic a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    })



    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    })

</script>
{/block}